body {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  outline: 0px; }
  body:focus, body:active, body:visited, body:hover {
    outline: 0px; }

#allWorkshoppage #allRecentwork, #allWorkshoppage .workMainRow {
  margin: 30px 0px;
  padding: 0px;
  background-color: transparent;
  border: 1px solid #E4E4E4; }
  #allWorkshoppage #allRecentwork .thumbnail, #allWorkshoppage .workMainRow .thumbnail {
    padding: 0px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px;
    border-radius: 0px; }
    #allWorkshoppage #allRecentwork .thumbnail .workDefaultImg, #allWorkshoppage .workMainRow .thumbnail .workDefaultImg {
      padding: 0px;
      margin: 0px;
      position: relative; }
      #allWorkshoppage #allRecentwork .thumbnail .workDefaultImg img, #allWorkshoppage .workMainRow .thumbnail .workDefaultImg img {
        width: 100%;
        height: 294px; }
      #allWorkshoppage #allRecentwork .thumbnail .workDefaultImg video, #allWorkshoppage .workMainRow .thumbnail .workDefaultImg video {
        width: 100%;
        height: 300px;
        object-fit: fill; }
    #allWorkshoppage #allRecentwork .thumbnail .workTitle, #allWorkshoppage .workMainRow .thumbnail .workTitle {
      font-family: bold;
      font-size: 20px;
      color: #FFB733; }
      #allWorkshoppage #allRecentwork .thumbnail .workTitle div a, #allWorkshoppage .workMainRow .thumbnail .workTitle div a {
        font-family: bold;
        font-size: 20px;
        color: #FFB733; }
        #allWorkshoppage #allRecentwork .thumbnail .workTitle div a:hover, #allWorkshoppage .workMainRow .thumbnail .workTitle div a:hover {
          text-decoration: none; }
      #allWorkshoppage #allRecentwork .thumbnail .workTitle div i, #allWorkshoppage .workMainRow .thumbnail .workTitle div i {
        font-size: 20px;
        color: #808285;
        margin-top: 20px; }
      #allWorkshoppage #allRecentwork .thumbnail .workTitle .live, #allWorkshoppage .workMainRow .thumbnail .workTitle .live {
        background-color: #FFB733;
        color: #FFFFFF;
        font-size: 16px;
        font-family: light;
        padding: 10px;
        position: relative;
        display: inline-block;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 13px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); }
    #allWorkshoppage #allRecentwork .thumbnail .workCaption, #allWorkshoppage .workMainRow .thumbnail .workCaption {
      margin: 0px;
      padding: 10px 20px;
      overflow: hidden;
      height: 14%; }
      #allWorkshoppage #allRecentwork .thumbnail .workCaption p, #allWorkshoppage .workMainRow .thumbnail .workCaption p {
        font-family: regular;
        font-size: 14px;
        text-align: left;
        margin-bottom: 15px;
        vertical-align: middle;
        width: 100%; }
    #allWorkshoppage #allRecentwork .thumbnail .workDetails, #allWorkshoppage .workMainRow .thumbnail .workDetails {
      font-size: 10px; }
      #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd {
        margin-bottom: 15px;
        padding: 0;
        padding-left: 10px; }
        #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd .bigdate, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd .bigdate {
          width: 60%;
          font-size: 12px;
          font-family: light; }
          #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd .bigdate i, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd .bigdate i {
            font-size: 40px;
            color: #6A0C38;
            margin: 0px;
            padding: 0px; }
          #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd .bigdate p, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd .bigdate p {
            font-size: 40px;
            font-family: medium;
            display: inline-block; }
        #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd .labels, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd .labels {
          width: 46%;
          display: inline-block;
          text-align: left; }
          #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd .labels .label, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd .labels .label {
            background-color: transparent;
            color: #231F20;
            text-align: left;
            font-size: 12px;
            font-family: light;
            padding: 0px; }
          #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd .labels .first, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd .labels .first {
            display: block;
            padding: 0px;
            margin-bottom: 7px; }
        #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd .workLevel, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd .workLevel {
          margin-top: 15px;
          padding: 0;
          padding-left: 10px; }
          #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd .workLevel .level .fa-bar-chart, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd .workLevel .level .fa-bar-chart {
            font-size: 30px;
            color: #6A0C38; }
          #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd .workLevel .lLabels span, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd .workLevel .lLabels span {
            font-family: light;
            color: #231F20;
            font-size: 12px;
            margin: 5px;
            padding: 0px;
            background-color: transparent; }
        #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd .workLeft, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd .workLeft {
          margin-top: 15px;
          padding: 0;
          padding-left: 10px; }
          #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd .workLeft i, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd .workLeft i {
            font-size: 30px;
            color: #6A0C38;
            margin: 0px;
            padding: 0px; }
          #allWorkshoppage #allRecentwork .thumbnail .workDetails .workScd .workLeft .badge, #allWorkshoppage .workMainRow .thumbnail .workDetails .workScd .workLeft .badge {
            font-family: light;
            color: #231F20;
            font-size: 12px;
            background-color: transparent; }
    #allWorkshoppage #allRecentwork .thumbnail .userPic, #allWorkshoppage .workMainRow .thumbnail .userPic {
      font-family: bold;
      font-size: 14px;
      margin-bottom: 20px;
      color: #FFB733;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 18px;
      vertical-align: bottom; }
      #allWorkshoppage #allRecentwork .thumbnail .userPic:hover, #allWorkshoppage .workMainRow .thumbnail .userPic:hover {
        text-decoration: none; }
      #allWorkshoppage #allRecentwork .thumbnail .userPic span, #allWorkshoppage .workMainRow .thumbnail .userPic span {
        display: inline-block;
        color: #525252;
        font-family: medium; }
      #allWorkshoppage #allRecentwork .thumbnail .userPic img, #allWorkshoppage .workMainRow .thumbnail .userPic img {
        width: 40px;
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block; }
    #allWorkshoppage #allRecentwork .thumbnail .enroll, #allWorkshoppage .workMainRow .thumbnail .enroll {
      margin-top: 0px;
      display: block;
      text-align: right; }
      #allWorkshoppage #allRecentwork .thumbnail .enroll .btn, #allWorkshoppage .workMainRow .thumbnail .enroll .btn {
        background-color: #6A0C38;
        color: #FFFFFF;
        border: 0px;
        vertical-align: middle;
        padding: 10px;
        border-radius: 25px;
        width: 120px;
        margin-bottom: 14px; }
  #allWorkshoppage #allRecentwork .row, #allWorkshoppage .workMainRow .row {
    margin: 0px; }
  #allWorkshoppage #allRecentwork #s, #allWorkshoppage .workMainRow #s {
    color: #231F20;
    text-align: left;
    font-size: 12px;
    font-family: regular;
    padding: 0px;
    font-size: 12px; }
  #allWorkshoppage #allRecentwork div#secondp, #allWorkshoppage .workMainRow div#secondp {
    margin-top: 8px; }
  #allWorkshoppage #allRecentwork #socialHolder, #allWorkshoppage .workMainRow #socialHolder {
    display: inline-block;
    margin-top: 5px;
    text-align: right; }
    #allWorkshoppage #allRecentwork #socialHolder #socialShare .btn-info, #allWorkshoppage .workMainRow #socialHolder #socialShare .btn-info {
      margin: 0px;
      padding: 0px;
      background-color: transparent;
      border: 0px; }
      #allWorkshoppage #allRecentwork #socialHolder #socialShare .btn-info .fa-share-alt, #allWorkshoppage .workMainRow #socialHolder #socialShare .btn-info .fa-share-alt {
        color: #6A0C38;
        font-size: 30px; }
    #allWorkshoppage #allRecentwork #socialHolder #socialShare .share .caret, #allWorkshoppage .workMainRow #socialHolder #socialShare .share .caret {
      display: none; }
    #allWorkshoppage #allRecentwork #socialHolder #socialShare .share .dropdown-menu, #allWorkshoppage .workMainRow #socialHolder #socialShare .share .dropdown-menu {
      position: absolute;
      top: 100%;
      min-width: 0px;
      padding: 0;
      margin: 0; }
      #allWorkshoppage #allRecentwork #socialHolder #socialShare .share .dropdown-menu li a:hover i, #allWorkshoppage .workMainRow #socialHolder #socialShare .share .dropdown-menu li a:hover i {
        color: #FFB733; }
#allWorkshoppage #allTopwork {
  margin: 30 0px;
  text-align: center; }
  #allWorkshoppage #allTopwork .btn-lg {
    background-color: #6A0C38;
    border-radius: 50px;
    color: #FFB733;
    font-family: medium;
    font-size: 16px;
    padding: 15px;
    width: 150px;
    margin-bottom: 0px; }
    #allWorkshoppage #allTopwork .btn-lg i {
      color: #FFB733; }
  #allWorkshoppage #allTopwork h2 {
    color: #45132E;
    font-family: bold;
    font-size: 30px;
    text-align: center;
    margin: 33px; }
  #allWorkshoppage #allTopwork .top1 {
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 0px;
    border: 1px solid #E4E4E4;
    border-radius: 30px;
    text-align: left;
    background-color: #E4E4E4; }
    #allWorkshoppage #allTopwork .top1 img {
      width: 100%;
      height: auto;
      overflow-x: hidden; }
    #allWorkshoppage #allTopwork .top1 div {
      padding: 15px;
      margin: 10 0px; }
      #allWorkshoppage #allTopwork .top1 div img {
        width: 30px;
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block;
        margin-right: 5px; }
      #allWorkshoppage #allTopwork .top1 div span {
        font-family: bold;
        font-size: 16px;
        color: #FFB733;
        margin-left: 5px;
        vertical-align: middle; }
      #allWorkshoppage #allTopwork .top1 div a {
        font-family: medium;
        color: #525252;
        margin: 5 0px;
        font-size: 16px;
        display: block;
        cursor: pointer; }
@media (min-width: 100px) {
  #allWorkshoppage #allTopwork, #allWorkshoppage .topwork {
    text-align: right; } }

/*# sourceMappingURL=allWorkshop.css.map */
