@font-face {
  font-family: regular;
  src: url(../../Fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: medium;
  src: url(../../Fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: blak;
  src: url(../../Fonts/Roboto-Black.ttf); }
@font-face {
  font-family: bold;
  src: url(../../Fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: boldco;
  src: url(../../Fonts/Roboto-BoldCondensed.ttf); }
@font-face {
  font-family: light;
  src: url(../../Fonts/Roboto-Light.ttf); }
@font-face {
  font-family: thin;
  src: url(../../Fonts/Roboto-Thin.ttf); }
body {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  outline: 0px; }
  body:focus, body:active, body:visited, body:hover {
    outline: 0px; }

#allRecentwork, .workMainRow {
  margin: 30px 0px;
  padding: 0px;
  background-color: transparent;
  border: 1px solid #E4E4E4; }
  #allRecentwork .thumbnail, .workMainRow .thumbnail {
    padding: 0px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px;
    border-radius: 0px; }
    #allRecentwork .thumbnail .workDefaultImg, .workMainRow .thumbnail .workDefaultImg {
      padding: 0px;
      margin: 0px;
      position: relative; }
      #allRecentwork .thumbnail .workDefaultImg img, .workMainRow .thumbnail .workDefaultImg img {
        width: 100%;
        height: 294px; }
      #allRecentwork .thumbnail .workDefaultImg video, .workMainRow .thumbnail .workDefaultImg video {
        width: 100%;
        height: 300px;
        object-fit: fill; }
    #allRecentwork .thumbnail .workTitle, .workMainRow .thumbnail .workTitle {
      font-family: bold;
      font-size: 20px;
      color: #FFB733; }
      #allRecentwork .thumbnail .workTitle div a, .workMainRow .thumbnail .workTitle div a {
        font-family: bold;
        font-size: 20px;
        color: #FFB733; }
        #allRecentwork .thumbnail .workTitle div a:hover, .workMainRow .thumbnail .workTitle div a:hover {
          text-decoration: none; }
      #allRecentwork .thumbnail .workTitle div i, .workMainRow .thumbnail .workTitle div i {
        font-size: 20px;
        color: #808285;
        margin-top: 20px; }
      #allRecentwork .thumbnail .workTitle .live, .workMainRow .thumbnail .workTitle .live {
        background-color: #FFB733;
        color: #FFFFFF;
        font-size: 16px;
        font-family: light;
        padding: 10px;
        position: relative;
        display: inline-block;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 13px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); }
    #allRecentwork .thumbnail .workCaption, .workMainRow .thumbnail .workCaption {
      margin: 0px;
      padding: 10px 20px;
      overflow: hidden;
      height: 14%; }
      #allRecentwork .thumbnail .workCaption p, .workMainRow .thumbnail .workCaption p {
        font-family: regular;
        font-size: 14px;
        text-align: left;
        margin-bottom: 15px;
        vertical-align: middle;
        width: 100%; }
    #allRecentwork .thumbnail .workDetails, .workMainRow .thumbnail .workDetails {
      font-size: 10px; }
      #allRecentwork .thumbnail .workDetails .workScd, .workMainRow .thumbnail .workDetails .workScd {
        margin-bottom: 15px;
        padding: 0;
        padding-left: 10px; }
        #allRecentwork .thumbnail .workDetails .workScd .bigdate, .workMainRow .thumbnail .workDetails .workScd .bigdate {
          width: 60%;
          font-size: 12px;
          font-family: light; }
          #allRecentwork .thumbnail .workDetails .workScd .bigdate i, .workMainRow .thumbnail .workDetails .workScd .bigdate i {
            font-size: 40px;
            color: #6A0C38;
            margin: 0px;
            padding: 0px; }
          #allRecentwork .thumbnail .workDetails .workScd .bigdate p, .workMainRow .thumbnail .workDetails .workScd .bigdate p {
            font-size: 40px;
            font-family: medium;
            display: inline-block; }
        #allRecentwork .thumbnail .workDetails .workScd .labels, .workMainRow .thumbnail .workDetails .workScd .labels {
          width: 46%;
          display: inline-block;
          text-align: left; }
          #allRecentwork .thumbnail .workDetails .workScd .labels .label, .workMainRow .thumbnail .workDetails .workScd .labels .label {
            background-color: transparent;
            color: #231F20;
            text-align: left;
            font-size: 12px;
            font-family: light;
            padding: 0px; }
          #allRecentwork .thumbnail .workDetails .workScd .labels .first, .workMainRow .thumbnail .workDetails .workScd .labels .first {
            display: block;
            padding: 0px;
            margin-bottom: 7px; }
        #allRecentwork .thumbnail .workDetails .workScd .workLevel, .workMainRow .thumbnail .workDetails .workScd .workLevel {
          margin-top: 15px;
          padding: 0;
          padding-left: 10px; }
          #allRecentwork .thumbnail .workDetails .workScd .workLevel .level .fa-bar-chart, .workMainRow .thumbnail .workDetails .workScd .workLevel .level .fa-bar-chart {
            font-size: 30px;
            color: #6A0C38; }
          #allRecentwork .thumbnail .workDetails .workScd .workLevel .lLabels span, .workMainRow .thumbnail .workDetails .workScd .workLevel .lLabels span {
            font-family: light;
            color: #231F20;
            font-size: 12px;
            margin: 5px;
            padding: 0px;
            background-color: transparent; }
        #allRecentwork .thumbnail .workDetails .workScd .workLeft, .workMainRow .thumbnail .workDetails .workScd .workLeft {
          margin-top: 15px;
          padding: 0;
          padding-left: 10px; }
          #allRecentwork .thumbnail .workDetails .workScd .workLeft i, .workMainRow .thumbnail .workDetails .workScd .workLeft i {
            font-size: 30px;
            color: #6A0C38;
            margin: 0px;
            padding: 0px; }
          #allRecentwork .thumbnail .workDetails .workScd .workLeft .badge, .workMainRow .thumbnail .workDetails .workScd .workLeft .badge {
            font-family: light;
            color: #231F20;
            font-size: 12px;
            background-color: transparent; }
    #allRecentwork .thumbnail .userPic, .workMainRow .thumbnail .userPic {
      font-family: bold;
      font-size: 14px;
      margin-bottom: 20px;
      color: #FFB733;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 18px;
      vertical-align: bottom; }
      #allRecentwork .thumbnail .userPic:hover, .workMainRow .thumbnail .userPic:hover {
        text-decoration: none; }
      #allRecentwork .thumbnail .userPic span, .workMainRow .thumbnail .userPic span {
        display: inline-block;
        color: #525252;
        font-family: medium; }
      #allRecentwork .thumbnail .userPic img, .workMainRow .thumbnail .userPic img {
        width: 40px;
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block; }
    #allRecentwork .thumbnail .enroll, .workMainRow .thumbnail .enroll {
      margin-top: 0px;
      display: block;
      text-align: right; }
      #allRecentwork .thumbnail .enroll .btn, .workMainRow .thumbnail .enroll .btn {
        background-color: #6A0C38;
        color: #FFFFFF;
        border: 0px;
        vertical-align: middle;
        padding: 10px;
        border-radius: 25px;
        width: 120px;
        margin-bottom: 14px; }
  #allRecentwork .row, .workMainRow .row {
    margin: 0px; }
  #allRecentwork #s, .workMainRow #s {
    color: #231F20;
    text-align: left;
    font-size: 12px;
    font-family: regular;
    padding: 0px;
    font-size: 12px; }
  #allRecentwork div#secondp, .workMainRow div#secondp {
    margin-top: 8px; }
  #allRecentwork #socialHolder, .workMainRow #socialHolder {
    display: inline-block;
    margin-top: 5px;
    text-align: right; }
    #allRecentwork #socialHolder #socialShare .btn-info, .workMainRow #socialHolder #socialShare .btn-info {
      margin: 0px;
      padding: 0px;
      background-color: transparent;
      border: 0px; }
      #allRecentwork #socialHolder #socialShare .btn-info .fa-share-alt, .workMainRow #socialHolder #socialShare .btn-info .fa-share-alt {
        color: #6A0C38;
        font-size: 30px; }
    #allRecentwork #socialHolder #socialShare .share .caret, .workMainRow #socialHolder #socialShare .share .caret {
      display: none; }
    #allRecentwork #socialHolder #socialShare .share .dropdown-menu, .workMainRow #socialHolder #socialShare .share .dropdown-menu {
      position: absolute;
      top: 100%;
      min-width: 0px;
      padding: 0;
      margin: 0; }
      #allRecentwork #socialHolder #socialShare .share .dropdown-menu li a:hover i, .workMainRow #socialHolder #socialShare .share .dropdown-menu li a:hover i {
        color: #FFB733; }

#allTopwork {
  margin: 30 0px;
  text-align: center; }
  #allTopwork .btn-lg {
    background-color: #6A0C38;
    border-radius: 50px;
    color: #FFB733;
    font-family: medium;
    font-size: 16px;
    padding: 15px;
    width: 150px;
    margin-bottom: 0px; }
    #allTopwork .btn-lg i {
      color: #FFB733; }
  #allTopwork h2 {
    color: #45132E;
    font-family: bold;
    font-size: 30px;
    text-align: center;
    margin: 33px; }
  #allTopwork .top1 {
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 0px;
    border: 1px solid #E4E4E4;
    border-radius: 30px;
    text-align: left;
    background-color: #E4E4E4; }
    #allTopwork .top1 img {
      width: 100%;
      height: auto;
      overflow-x: hidden; }
    #allTopwork .top1 div {
      padding: 15px;
      margin: 10 0px; }
      #allTopwork .top1 div img {
        width: 30px;
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block;
        margin-right: 5px; }
      #allTopwork .top1 div span {
        font-family: bold;
        font-size: 16px;
        color: #FFB733;
        margin-left: 5px;
        vertical-align: middle; }
      #allTopwork .top1 div a {
        font-family: medium;
        color: #525252;
        margin: 5 0px;
        font-size: 16px;
        display: block;
        cursor: pointer; }

/*# sourceMappingURL=allWorkshop.css.map */
