body {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  background-color: #FFFFFF; }
  body:focus, body:active, body:visited, body:hover {
    outline: 0px; }

#createeventpage select:focus, #createeventpage select:active, #createeventpage select:visited, #createeventpage select:hover, #createeventpage .form-control:focus, #createeventpage .form-control:active, #createeventpage .form-control:visited, #createeventpage .form-control:hover, #createeventpage form:focus, #createeventpage form:active, #createeventpage form:visited, #createeventpage form:hover, #createeventpage textarea:focus, #createeventpage textarea:active, #createeventpage textarea:visited, #createeventpage textarea:hover, #createeventpage input:focus, #createeventpage input:active, #createeventpage input:visited, #createeventpage input:hover {
  outline: 0px; }
#createeventpage .row {
  margin-bottom: 25px; }
#createeventpage form {
  font-size: 14px;
  color: #808285;
  font-family: light;
  margin-left: 0px;
  text-align: left;
  padding-top: 10px; }
  #createeventpage form .form-controls {
    border: 0px;
    border-bottom: 1px solid #e9ebee;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    background-color: transparent;
    margin-bottom: 20px;
    display: block; }
  #createeventpage form select {
    border: 0px;
    border-bottom: 1px solid #e9ebee;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    background-color: transparent;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 0px;
    margin-left: 10px; }
  #createeventpage form .form-group {
    font-size: 14px;
    color: #808285;
    font-family: light; }
    #createeventpage form .form-group .file {
      visibility: hidden;
      position: absolute; }
    #createeventpage form .form-group .input-group {
      margin-bottom: 30px; }
      #createeventpage form .form-group .input-group .input-group-addon {
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid gray; }
      #createeventpage form .form-group .input-group .input-lg {
        border-radius: 0;
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid gray;
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
        font-size: 14px;
        color: #808285;
        font-family: light;
        margin: 0px; }
      #createeventpage form .form-group .input-group .input-group-btn .browse {
        font-size: 14px;
        color: #FFFFFF;
        font-family: light;
        background-color: #6A0C38;
        border-color: #45132E;
        outline: none;
        border-radius: 0;
        border: 0px;
        border-bottom: 1px solid gray;
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075); }
        #createeventpage form .form-group .input-group .input-group-btn .browse:hover {
          background-color: #3c0720;
          border-color: #3c0720; }
        #createeventpage form .form-group .input-group .input-group-btn .browse:active, #createeventpage form .form-group .input-group .input-group-btn .browse:focus {
          background-color: #810f44;
          border-color: #810f44; }
        #createeventpage form .form-group .input-group .input-group-btn .browse i {
          margin-right: 10px; }
  #createeventpage form a {
    font-family: light;
    font-size: 14px;
    color: #FFB733; }
    #createeventpage form a:hover {
      color: #808285; }
  #createeventpage form .submit {
    text-align: center; }
    #createeventpage form .submit .submitBtn {
      height: 50px;
      padding: 15px 20px;
      font-size: 20px;
      font-family: bold;
      line-height: 16px;
      background-color: #6A0C38;
      border-radius: 50px;
      color: #FFB733;
      text-decoration: none;
      transition: all .3s;
      margin: 20px 0px; }
      #createeventpage form .submit .submitBtn:hover, #createeventpage form .submit .submitBtn:focus, #createeventpage form .submit .submitBtn:active, #createeventpage form .submit .submitBtn:active:focus {
        outline: 0;
        opacity: 0.8;
        color: #6A0C38;
        background-color: #FFB733;
        text-decoration: none;
        transition: all .3s; }
#createeventpage textarea {
  border: 1px solid #e9ebee;
  margin-bottom: 20px; }
#createeventpage input {
  margin-bottom: 30px;
  margin-left: 10px; }
#createeventpage input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #808285;
  margin-right: 0.5em; }
#createeventpage input[type="time"]:before {
  content: attr(placeholder) !important;
  color: #808285;
  margin-right: 0.5em; }
#createeventpage input[type="text"] {
  margin: 0px; }
#createeventpage input[type="date"], #createeventpage input[type="time"], #createeventpage input[type="address"] {
  color: #6A0C38;
  margin-right: 0.5em;
  margin-bottom: 30px;
  padding: 0px; }
#createeventpage h6 {
  font-family: medium;
  font-size: 14px;
  color: #FFB733;
  margin: 20px 0px;
  text-align: left;
  margin-top: 5px; }
#createeventpage .custom-select {
  padding: 0px; }

/*# sourceMappingURL=createEvent.css.map */
