body {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  background-color: #FFFFFF; }
  body:focus, body:active, body:visited, body:hover {
    outline: 0px; }

#createWorkshoppage select:focus, #createWorkshoppage select:active, #createWorkshoppage select:visited, #createWorkshoppage select:hover, #createWorkshoppage .form-control:focus, #createWorkshoppage .form-control:active, #createWorkshoppage .form-control:visited, #createWorkshoppage .form-control:hover, #createWorkshoppage form:focus, #createWorkshoppage form:active, #createWorkshoppage form:visited, #createWorkshoppage form:hover, #createWorkshoppage textarea:focus, #createWorkshoppage textarea:active, #createWorkshoppage textarea:visited, #createWorkshoppage textarea:hover, #createWorkshoppage input:focus, #createWorkshoppage input:active, #createWorkshoppage input:visited, #createWorkshoppage input:hover {
  outline: 0px; }
#createWorkshoppage form {
  font-size: 14px;
  color: #808285;
  font-family: light;
  margin-left: 0px;
  text-align: left;
  padding-top: 10px; }
  #createWorkshoppage form .form-controls {
    border: 0px;
    border-bottom: 1px solid #e9ebee;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    background-color: transparent;
    margin-bottom: 20px;
    display: block; }
  #createWorkshoppage form select {
    border: 0px;
    border-bottom: 1px solid #e9ebee;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    background-color: transparent;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 0px;
    margin-left: 10px; }
  #createWorkshoppage form .form-group {
    font-size: 14px;
    color: #808285;
    font-family: light;
    margin-bottom: 35px; }
    #createWorkshoppage form .form-group div {
      padding: 0px; }
    #createWorkshoppage form .form-group .file {
      visibility: hidden;
      position: absolute; }
    #createWorkshoppage form .form-group .input-group .input-group-addon {
      background-color: transparent;
      border: 0px;
      border-bottom: 1px solid gray; }
    #createWorkshoppage form .form-group .input-group .input-lg {
      border-radius: 0;
      background-color: transparent;
      border: 0px;
      border-bottom: 1px solid gray;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
      font-size: 14px;
      color: #808285;
      font-family: light;
      margin: 0px; }
    #createWorkshoppage form .form-group .input-group .input-group-btn .browse {
      font-size: 14px;
      color: #FFFFFF;
      font-family: light;
      background-color: #6A0C38;
      border-color: #45132E;
      outline: none;
      border-radius: 0;
      border: 0px;
      border-bottom: 1px solid gray;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075); }
      #createWorkshoppage form .form-group .input-group .input-group-btn .browse:hover {
        background-color: #3c0720;
        border-color: #3c0720; }
      #createWorkshoppage form .form-group .input-group .input-group-btn .browse:active, #createWorkshoppage form .form-group .input-group .input-group-btn .browse:focus {
        background-color: #810f44;
        border-color: #810f44; }
      #createWorkshoppage form .form-group .input-group .input-group-btn .browse i {
        margin-right: 10px; }
  #createWorkshoppage form a {
    font-family: light;
    font-size: 14px;
    color: #FFB733; }
    #createWorkshoppage form a:hover {
      color: #808285; }
  #createWorkshoppage form .submit {
    text-align: center; }
    #createWorkshoppage form .submit .submitBtn {
      height: 50px;
      padding: 15px 20px;
      font-size: 20px;
      font-family: bold;
      line-height: 16px;
      background-color: #6A0C38;
      border-radius: 50px;
      color: #FFB733;
      text-decoration: none;
      transition: all .3s;
      margin: 20px 0px; }
      #createWorkshoppage form .submit .submitBtn:hover, #createWorkshoppage form .submit .submitBtn:focus, #createWorkshoppage form .submit .submitBtn:active, #createWorkshoppage form .submit .submitBtn:active:focus {
        outline: 0;
        opacity: 0.8;
        color: #6A0C38;
        background-color: #FFB733;
        text-decoration: none;
        transition: all .3s; }
#createWorkshoppage textarea {
  border: 1px solid #e9ebee;
  margin-bottom: 20px; }
#createWorkshoppage input {
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 0px; }
#createWorkshoppage input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #808285;
  margin-right: 0.5em; }
#createWorkshoppage input[type="time"]:before {
  content: attr(placeholder) !important;
  color: #808285;
  margin-right: 0.5em; }
#createWorkshoppage input[type="date"], #createWorkshoppage input[type="time"], #createWorkshoppage input[type="text"] {
  color: #6A0C38;
  margin-right: 0.5em;
  margin-bottom: 30px;
  padding: 0px; }
#createWorkshoppage h6 {
  font-family: medium;
  font-size: 14px;
  color: #FFB733;
  margin: 20px 0px;
  text-align: left;
  margin-top: 5px; }
#createWorkshoppage .custom-select {
  padding: 0px; }
#createWorkshoppage .pad {
  padding: 0px; }

/*# sourceMappingURL=createWorkshop.css.map */
