#resetpss{
    background-image: url(../imgs/plain.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#resetpss .resetEmail{
    margin-top: 250px;

}

#resetpss .resetPass{
    margin-top: 150px;
}

#resetpss .passReset , .emailReset , .confpassReset{
    margin: 0 auto;
    border: 0px;
    border-bottom: 1px solid #e9ebee;
    width: 80%;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    background-color: transparent;
    margin-bottom: 50px;
    font-family: light;
    font-size: 14px;
    display: block;
    color: white;
    font-size: 16px;
}


#resetpss .clickReset{
    text-align: center;
}

#resetpss .resetBtn{
    background-color: #6A0C38;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: medium;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    margin-bottom: 0px;
    &:hover{
        background-color:#FFB733;
        opacity: 0.9;
        color: #6A0C38;


    }
}
