@font-face {
  font-family: regular;
  src: url(../../Fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: medium;
  src: url(../../Fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: blak;
  src: url(../../Fonts/Roboto-Black.ttf); }
@font-face {
  font-family: bold;
  src: url(../../Fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: boldco;
  src: url(../../Fonts/Roboto-BoldCondensed.ttf); }
@font-face {
  font-family: light;
  src: url(../../Fonts/Roboto-Light.ttf); }
@font-face {
  font-family: thin;
  src: url(../../Fonts/Roboto-Thin.ttf); }
body {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  background-color: whitesmoke;
  outline: 0px; }
  body:focus, body:active, body:visited, body:hover {
    outline: 0px; }

.bgrounddefault {
  height: 200px;
  background-size: cover !important;
  background-position: center !important; }

#homepage #topposts {
  background-color: #FFFFFF;
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(calc(-50% + 8px));
  width: 100vw;
  margin-top: 0; }
  #homepage #topposts .row {
    margin: 0px; }
  #homepage #topposts .container .title {
    text-align: center;
    margin-top: 20px;
    background-image: url(../../Imgs/bground2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    #homepage #topposts .container .title h1 {
      color: #FFB733;
      font-family: bold;
      margin-top: 60px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      font-size: 50px; }
    @media (max-width: 615px) {
      #homepage #topposts .container .title {
        background-image: none; }
        #homepage #topposts .container .title h1 {
          text-align: left; } }
  #homepage #topposts .container .mainrow {
    margin-left: 0px;
    margin-top: 15px;
    display: block; }
    #homepage #topposts .container .mainrow .postSection .thumbnail {
      padding: 0px;
      background-color: #f1f1f1;
      width: 100%; }
      #homepage #topposts .container .mainrow .postSection .thumbnail .defaultimg {
        padding: 0px;
        margin: 0px;
        width: 100%; }
        #homepage #topposts .container .mainrow .postSection .thumbnail .defaultimg img {
          width: 100%;
          max-height: 200px; }
        #homepage #topposts .container .mainrow .postSection .thumbnail .defaultimg video {
          width: 100%;
          height: 200px;
          object-fit: fill; }
      #homepage #topposts .container .mainrow .postSection .thumbnail .caption {
        margin: 0px;
        padding: 20px;
        width: 100%; }
        #homepage #topposts .container .mainrow .postSection .thumbnail .caption p {
          font-family: regular;
          font-size: 14px;
          text-align: left;
          margin-bottom: 15px;
          vertical-align: middle; }
        #homepage #topposts .container .mainrow .postSection .thumbnail .caption audio {
          width: 100%;
          margin-bottom: 5px; }
      #homepage #topposts .container .mainrow .postSection .thumbnail .userinfo {
        font-family: regular;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
        background-color: #6A0C38;
        width: 100%; }
        #homepage #topposts .container .mainrow .postSection .thumbnail .userinfo img {
          width: 40px;
          border: 2px solid #FFB733;
          border-radius: 50px;
          display: inline-block; }
        #homepage #topposts .container .mainrow .postSection .thumbnail .userinfo p {
          display: inline-block;
          color: #FFB733;
          font-family: medium; }
      #homepage #topposts .container .mainrow .postSection .thumbnail .interaction {
        margin-bottom: 15px;
        vertical-align: middle;
        text-align: center;
        width: 100%; }
        #homepage #topposts .container .mainrow .postSection .thumbnail .interaction #socialHolder {
          display: inline-block; }
          #homepage #topposts .container .mainrow .postSection .thumbnail .interaction #socialHolder #socialShare .btn-info {
            margin: 0px;
            padding: 0px;
            background-color: transparent;
            border: 0px; }
          #homepage #topposts .container .mainrow .postSection .thumbnail .interaction #socialHolder #socialShare .share .caret {
            display: none; }
          #homepage #topposts .container .mainrow .postSection .thumbnail .interaction #socialHolder #socialShare .share .dropdown-menu {
            position: absolute;
            top: 100%;
            min-width: 0px;
            padding: 0;
            margin: 0; }
            #homepage #topposts .container .mainrow .postSection .thumbnail .interaction #socialHolder #socialShare .share .dropdown-menu li a:hover i {
              color: #FFB733; }
        #homepage #topposts .container .mainrow .postSection .thumbnail .interaction div a {
          margin: 10px; }
          #homepage #topposts .container .mainrow .postSection .thumbnail .interaction div a:hover {
            text-decoration: none; }
          #homepage #topposts .container .mainrow .postSection .thumbnail .interaction div a i {
            font-size: 20px;
            color: #808285;
            vertical-align: top; }
            #homepage #topposts .container .mainrow .postSection .thumbnail .interaction div a i:hover {
              color: #FFB733; }
          #homepage #topposts .container .mainrow .postSection .thumbnail .interaction div a .badge {
            font-family: regular;
            font-size: 14px;
            background-color: transparent;
            color: #808285; }
#homepage .has-danger {
  border: 0px;
  border-bottom: 1px solid firebrick; }
  #homepage .has-danger .inputHorizontalDnger {
    color: firebrick; }
  #homepage .has-danger .form-control-danger {
    color: firebrick; }
  #homepage .has-danger .form-control-feedback {
    color: firebrick; }
#homepage div .row {
  margin: 0px; }
#homepage div .modal-dialog .modal-content .modal-header {
  background-color: #6A0C38; }
  #homepage div .modal-dialog .modal-content .modal-header .close {
    color: #FFB733; }
    #homepage div .modal-dialog .modal-content .modal-header .close span {
      color: #FFB733; }
  #homepage div .modal-dialog .modal-content .modal-header h4 {
    text-align: center; }
    #homepage div .modal-dialog .modal-content .modal-header h4 .popUserInfo {
      background-color: transparent;
      margin-bottom: 0px; }
      #homepage div .modal-dialog .modal-content .modal-header h4 .popUserInfo img {
        width: 40px;
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block; }
      #homepage div .modal-dialog .modal-content .modal-header h4 .popUserInfo p {
        display: inline-block;
        color: #FFFFFF;
        font-family: medium; }
#homepage div .modal-dialog .modal-content .modal-body {
  padding: 0px;
  border: 0px; }
  #homepage div .modal-dialog .modal-content .modal-body .popPostSection {
    padding: 0px;
    width: 100%;
    margin: 0px;
    margin-top: 0px; }
    #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail {
      background-color: #FFFFFF;
      border: 0px;
      padding: 0px;
      padding-bottom: 10px; }
      #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popdefaultimg {
        border: 0px; }
        #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popdefaultimg img {
          width: 100%; }
        #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popdefaultimg video {
          width: 100%; }
      #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popCaption {
        font-size: 14px;
        font-family: regular;
        color: #231F20; }
        #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popCaption p {
          padding: 20px; }
        #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popCaption audio {
          width: 100%; }
      #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUser {
        background-color: #E4E4E4;
        text-align: center; }
        #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUser .popInteraction {
          font-size: 20px; }
          #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUser .popInteraction #socialHolder {
            display: inline-block; }
            #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUser .popInteraction #socialHolder #socialShare .btn-info {
              margin: 0px;
              padding: 0px;
              background-color: transparent;
              border: 0px; }
            #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUser .popInteraction #socialHolder #socialShare .share .caret {
              display: none; }
            #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUser .popInteraction #socialHolder #socialShare .share .dropdown-menu {
              position: absolute;
              top: 100%;
              min-width: 0px;
              padding: 0;
              margin: 0; }
              #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUser .popInteraction #socialHolder #socialShare .share .dropdown-menu li a:hover i {
                color: #FFB733; }
          #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUser .popInteraction div {
            margin: 0px; }
            #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUser .popInteraction div a {
              padding: 15px; }
              #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUser .popInteraction div a:hover {
                text-decoration: none; }
            #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUser .popInteraction div i {
              color: #FFB733; }
            #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUser .popInteraction div span {
              background-color: transparent;
              font-size: 14px;
              font-family: regular;
              color: #808285; }
      #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUsersComments .writePost {
        padding: 10px; }
        #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUsersComments .writePost .form-control {
          width: 100%; }
          #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUsersComments .writePost .form-control:focus {
            border-color: #FFB733; }
        #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUsersComments .writePost .posting {
          display: block;
          margin: 20px;
          margin-right: 5px;
          margin-bottom: 0;
          text-align: right; }
          #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUsersComments .writePost .posting .btn {
            background-color: #6A0C38;
            color: #FFFFFF;
            border: 0px;
            vertical-align: middle;
            padding: 10px;
            border-radius: 25px;
            width: 120px; }
      #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUsersComments .media-list .media {
        margin-left: 20px;
        margin-top: 10px; }
        #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUsersComments .media-list .media .media-left {
          width: 10%; }
          #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUsersComments .media-list .media .media-left a img {
            border: 2px solid #FFB733;
            border-radius: 50px;
            display: inline-block;
            width: 100%; }
        #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUsersComments .media-list .media .media-body {
          font-family: regular;
          font-size: 12px;
          color: #808285; }
          #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUsersComments .media-list .media .media-body h4 {
            font-family: regular;
            font-size: 16px;
            color: #231F20; }
          #homepage div .modal-dialog .modal-content .modal-body .popPostSection .thumbnail .popUsersComments .media-list .media .media-body p {
            margin: 10px; }
#homepage header #topposts .container .mainrow .postSection .thumbnail .interaction div a .fa-heart:hover {
  color: darkred; }
#homepage #topEvents {
  background-color: #6A0C38; }
  #homepage #topEvents .container .title {
    text-align: center;
    margin-top: 20px; }
    #homepage #topEvents .container .title h1 {
      color: #FFB733;
      font-family: bold;
      margin-top: 60px;
      margin-bottom: 15px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      font-size: 50px; }
    @media (max-width: 615px) {
      #homepage #topEvents .container .title {
        background-image: none; }
        #homepage #topEvents .container .title h1 {
          text-align: left; } }
  #homepage #topEvents .container .evMainRow .eventSection .thumbnail {
    background-color: #f1f1f1;
    padding: 0px; }
    #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evDefaultImg {
      padding: 0px;
      margin: 0px;
      width: 100%; }
      #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evDefaultImg img {
        width: 100%;
        max-height: 300px; }
      #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evDefaultImg video {
        width: 100%;
        height: 300px;
        object-fit: fill; }
    #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evTitle {
      font-family: bold;
      font-size: 20px;
      color: #FFB733; }
      #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evTitle div a {
        font-family: bold;
        font-size: 20px;
        color: #FFB733; }
        #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evTitle div a:hover {
          text-decoration: none; }
      #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evTitle div i {
        font-size: 20px;
        color: #808285;
        margin-top: 20px; }
    #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evCaption {
      margin: 0px;
      padding: 20px; }
      #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evCaption p {
        font-family: regular;
        font-size: 14px;
        text-align: left;
        margin-bottom: 15px;
        vertical-align: middle;
        width: 100%; }
    #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evDetails {
      font-size: 10px; }
      #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evDetails .eventScd {
        margin-bottom: 15px;
        padding: 0;
        padding-left: 10px; }
        #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evDetails .eventScd .bigdate {
          width: 60%;
          font-size: 12px;
          font-family: light; }
          #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evDetails .eventScd .bigdate i {
            font-size: 40px;
            color: #6A0C38;
            margin: 0px;
            padding: 0px; }
          #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evDetails .eventScd .bigdate p {
            font-size: 40px;
            font-family: medium;
            display: inline-block; }
        #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evDetails .eventScd .labels {
          width: 46%;
          display: inline-block;
          text-align: left; }
          #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evDetails .eventScd .labels .label {
            background-color: transparent;
            color: #231F20;
            text-align: left;
            font-size: 12px;
            font-family: light;
            padding: 0px; }
          #homepage #topEvents .container .evMainRow .eventSection .thumbnail .evDetails .eventScd .labels .first {
            display: block;
            padding: 0px;
            margin-bottom: 7px; }
    #homepage #topEvents .container .evMainRow .eventSection .thumbnail .userPic {
      font-family: bold;
      font-size: 14px;
      margin-bottom: 20px;
      color: #FFB733;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 18px;
      vertical-align: bottom; }
      #homepage #topEvents .container .evMainRow .eventSection .thumbnail .userPic:hover {
        text-decoration: none; }
      #homepage #topEvents .container .evMainRow .eventSection .thumbnail .userPic span {
        display: inline-block;
        color: #525252;
        font-family: medium; }
      #homepage #topEvents .container .evMainRow .eventSection .thumbnail .userPic img {
        width: 40px;
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block; }
    #homepage #topEvents .container .evMainRow .eventSection .thumbnail .going {
      margin: 20px;
      margin-top: 0px;
      display: block;
      text-align: right; }
      #homepage #topEvents .container .evMainRow .eventSection .thumbnail .going .btn {
        background-color: #6A0C38;
        color: #FFFFFF;
        border: 0px;
        vertical-align: middle;
        padding: 10px;
        border-radius: 25px;
        width: 120px; }
  #homepage #topEvents .container .evMainRow .row {
    margin: 0px; }
  #homepage #topEvents .container .evMainRow #s {
    color: #231F20;
    text-align: left;
    font-size: 12px;
    font-family: regular;
    padding: 0px;
    font-size: 12px; }
  #homepage #topEvents .container .evMainRow div#secondp {
    margin-top: 8px; }
  #homepage #topEvents .container .evMainRow #socialHolder {
    display: inline-block; }
    #homepage #topEvents .container .evMainRow #socialHolder #socialShare .btn-info {
      margin: 0px;
      padding: 0px;
      background-color: transparent;
      border: 0px; }
    #homepage #topEvents .container .evMainRow #socialHolder #socialShare .share .caret {
      display: none; }
    #homepage #topEvents .container .evMainRow #socialHolder #socialShare .share .dropdown-menu {
      position: absolute;
      top: 100%;
      min-width: 0px;
      padding: 0;
      margin: 0; }
      #homepage #topEvents .container .evMainRow #socialHolder #socialShare .share .dropdown-menu li a:hover i {
        color: #FFB733; }
#homepage .modal .modal-dialog .modal-content .modal-header .modal-title .popUpEvTitle {
  font-family: bold;
  font-size: 20px;
  color: #FFB733; }
  #homepage .modal .modal-dialog .modal-content .modal-header .modal-title .popUpEvTitle a {
    font-family: bold;
    font-size: 20px;
    color: #FFB733; }
    #homepage .modal .modal-dialog .modal-content .modal-header .modal-title .popUpEvTitle a:hover {
      text-decoration: none; }
#homepage .modal .modal-dialog .modal-body .thumbnail {
  padding: 0px; }
  #homepage .modal .modal-dialog .modal-body .thumbnail .evDefaultImg {
    padding: 0px;
    margin: 0px;
    width: 100%; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .evDefaultImg img {
      width: 100%; }
  #homepage .modal .modal-dialog .modal-body .thumbnail .evCaption {
    margin: 0px;
    padding: 20px; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .evCaption p {
      font-family: regular;
      font-size: 14px;
      text-align: left;
      margin-bottom: 15px;
      vertical-align: middle;
      width: 100%; }
  #homepage .modal .modal-dialog .modal-body .thumbnail .evDetails {
    font-size: 10px; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .evDetails .eventScd {
      margin-bottom: 15px; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .evDetails .eventScd .bigdate {
        display: inline-block;
        width: 35%;
        font-size: 40px;
        font-family: medium; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .evDetails .eventScd .bigdate i {
          font-size: 40px;
          color: #6A0C38;
          margin: 0px;
          padding: 0px; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .evDetails .eventScd .bigdate p {
          font-size: 40px;
          font-family: medium;
          display: inline-block; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .evDetails .eventScd .labels {
        width: 46%;
        display: inline-block;
        text-align: left; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .evDetails .eventScd .labels .label {
          background-color: transparent;
          color: #231F20;
          text-align: left;
          font-size: 12px;
          font-family: light;
          padding: 0px; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .evDetails .eventScd .labels .first {
          display: block;
          padding: 0px;
          margin-bottom: 7px; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .evDetails .eventScd #secondp {
        margin-top: 8px; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .evDetails .eventScd #s {
        color: #231F20;
        text-align: left;
        font-size: 12px;
        font-family: regular;
        padding: 0px;
        font-size: 12px; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .evDetails .eventScd #span1 {
        text-align: right; }
  #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle {
    padding: 15px;
    font-family: bold;
    font-size: 20px;
    color: #FFB733;
    background-color: #E4E4E4; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle div {
      padding: 0px; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle div .userPic {
        font-family: bold;
        font-size: 14px;
        color: #FFB733;
        display: inline-block;
        margin-left: 18px;
        vertical-align: bottom;
        font-family: bold; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle div .userPic:hover {
          text-decoration: none; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle div .userPic span {
          display: inline-block;
          color: #525252;
          font-family: medium; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle div .userPic img {
          width: 40px;
          border: 2px solid #FFB733;
          border-radius: 50px;
          display: inline-block; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle .going {
      margin-top: 0px;
      display: block;
      text-align: right; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle .going .btn {
        background-color: #6A0C38;
        color: #FFFFFF;
        border: 0px;
        vertical-align: middle;
        padding: 10px;
        border-radius: 25px;
        width: 120px; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle #socialHolder {
      display: inline-block;
      text-align: center;
      margin-top: 9px; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle #socialHolder #socialShare .btn-info {
        margin: 0px;
        padding: 0px;
        background-color: transparent;
        border: 0px; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle #socialHolder #socialShare .btn-info .fa-share-alt {
          font-size: 25px;
          color: #6A0C38; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle #socialHolder #socialShare .share .caret {
        display: none; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle #socialHolder #socialShare .dropdown-menu {
        position: absolute;
        top: 100%;
        min-width: 0px;
        padding: 0;
        margin: 0; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .evTitle #socialHolder #socialShare .dropdown-menu li a:hover i {
          color: #FFB733; }
  #homepage .modal .modal-dialog .modal-body .thumbnail .popUsersComments .writePost {
    padding: 10px; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popUsersComments .writePost .form-control {
      width: 100%; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popUsersComments .writePost .form-control:focus {
        border-color: #FFB733; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popUsersComments .writePost .posting {
      display: block;
      margin: 20px;
      margin-right: 5px;
      margin-bottom: 0;
      text-align: right; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popUsersComments .writePost .posting .btn {
        background-color: #6A0C38;
        color: #FFFFFF;
        border: 0px;
        vertical-align: middle;
        padding: 10px;
        border-radius: 25px;
        width: 120px; }
  #homepage .modal .modal-dialog .modal-body .thumbnail .popUsersComments .media-list .media {
    margin-left: 20px;
    margin-top: 10px; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popUsersComments .media-list .media .media-left {
      width: 10%; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popUsersComments .media-list .media .media-left a img {
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block;
        width: 100%; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popUsersComments .media-list .media .media-body {
      font-family: regular;
      font-size: 12px;
      color: #808285; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popUsersComments .media-list .media .media-body h4 {
        font-family: regular;
        font-size: 16px;
        color: #231F20; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popUsersComments .media-list .media .media-body p {
        margin: 10px; }
@media (max-width: 994px) {
  #homepage #socialHolder {
    display: block;
    text-align: left; }
  #homepage .going {
    display: block;
    text-align: left; } }
#homepage #topWorkshops {
  background-color: #E4E4E4; }
  #homepage #topWorkshops .row {
    margin: 0px; }
  #homepage #topWorkshops .container .title {
    text-align: center;
    margin-top: 20px;
    background-image: url(../../Imgs/bground2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    #homepage #topWorkshops .container .title h1 {
      color: #FFB733;
      font-family: bold;
      margin-top: 60px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      font-size: 50px; }
    @media (max-width: 615px) {
      #homepage #topWorkshops .container .title {
        background-image: none; }
        #homepage #topWorkshops .container .title h1 {
          text-align: left; } }
  #homepage #topWorkshops .container .workshopsSection {
    margin-top: 25px;
    height: inherit; }
    #homepage #topWorkshops .container .workshopsSection .thumbnail {
      padding: 0px; }
      #homepage #topWorkshops .container .workshopsSection .thumbnail img {
        width: 100%;
        margin: 0px; }
      #homepage #topWorkshops .container .workshopsSection .thumbnail h3 {
        font-family: bold;
        color: #FFB733;
        text-align: center; }
      #homepage #topWorkshops .container .workshopsSection .thumbnail .caption p {
        font-family: regular;
        font-size: 14px;
        text-align: left;
        margin-bottom: 25px; }
      #homepage #topWorkshops .container .workshopsSection .thumbnail .workshopInfo div {
        display: inline-block;
        padding: 0px;
        text-align: center; }
        #homepage #topWorkshops .container .workshopsSection .thumbnail .workshopInfo div i {
          margin-right: 5px;
          color: #6A0C38;
          font-size: 20px; }
        #homepage #topWorkshops .container .workshopsSection .thumbnail .workshopInfo div .badge {
          font-size: 12px;
          font-family: light;
          background-color: transparent;
          color: #808285;
          vertical-align: bottom;
          padding: 0px;
          vertical-align: top;
          margin-top: 5px; }
      #homepage #topWorkshops .container .workshopsSection .thumbnail .userPic {
        display: inline-block;
        color: #FFB733;
        font-family: light;
        font-size: 14px;
        display: block;
        background-color: #6A0C38;
        margin-top: 15px;
        width: 100%; }
        #homepage #topWorkshops .container .workshopsSection .thumbnail .userPic .mintor {
          font-family: medium;
          font-size: 14px;
          color: #FFFFFF;
          display: inline-block;
          margin-top: 10px;
          text-align: right;
          padding-right: 0px;
          margin-bottom: 10px; }
          #homepage #topWorkshops .container .workshopsSection .thumbnail .userPic .mintor img {
            width: 40px;
            border: 2px solid #FFB733;
            border-radius: 50px;
            display: inline-block;
            vertical-align: middle;
            padding: 0px; }
        #homepage #topWorkshops .container .workshopsSection .thumbnail .userPic span {
          font-family: medium;
          font-size: 14px;
          color: #FFB733;
          display: inline-block;
          margin-top: 20px;
          margin-bottom: 10px;
          padding-left: 5px;
          text-align: left; }
#homepage .modal .modal-dialog .modal-content .modal-header .modal-title .popWorkshopTitle {
  font-family: bold;
  font-size: 20px;
  color: #FFB733; }
  #homepage .modal .modal-dialog .modal-content .modal-header .modal-title .popWorkshopTitle a {
    font-family: bold;
    font-size: 20px;
    color: #FFB733; }
    #homepage .modal .modal-dialog .modal-content .modal-header .modal-title .popWorkshopTitle a:hover {
      text-decoration: none; }
#homepage .modal .modal-dialog .modal-body .thumbnail {
  padding: 0px; }
  #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopDefaultImg {
    padding: 0px;
    margin: 0px;
    width: 100%; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopDefaultImg img {
      width: 100%; }
  #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopCaption {
    margin: 0px;
    padding: 20px; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopCaption p {
      font-family: regular;
      font-size: 14px;
      text-align: left;
      margin-bottom: 15px;
      vertical-align: middle;
      width: 100%; }
  #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopInfo {
    margin-bottom: 20px; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopInfo div {
      display: inline-block;
      padding: 0px;
      text-align: center; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopInfo div i {
        margin-right: 5px;
        color: #6A0C38;
        font-size: 20px; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopInfo div .badge {
        font-size: 12px;
        font-family: light;
        background-color: transparent;
        color: #808285;
        vertical-align: bottom;
        padding: 0px;
        vertical-align: top;
        margin-top: 5px; }
  #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle {
    margin-top: 20px;
    padding: 15px;
    font-family: bold;
    font-size: 20px;
    color: #FFB733;
    background-color: #E4E4E4; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle div {
      padding: 0px; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle div .userPic {
        font-family: bold;
        font-size: 14px;
        color: #FFB733;
        display: inline-block;
        margin-left: 18px;
        vertical-align: bottom;
        font-family: bold; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle div .userPic:hover {
          text-decoration: none; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle div .userPic span {
          display: inline-block;
          color: #525252;
          font-family: medium; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle div .userPic img {
          width: 40px;
          border: 2px solid #FFB733;
          border-radius: 50px;
          display: inline-block; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle .going {
      margin-top: 0px;
      display: block;
      text-align: right; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle .going .btn {
        background-color: #6A0C38;
        color: #FFFFFF;
        border: 0px;
        vertical-align: middle;
        padding: 10px;
        border-radius: 25px;
        width: 120px; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle #socialHolder {
      display: inline-block;
      text-align: center;
      margin-top: 9px; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle #socialHolder #socialShare .btn-info {
        margin: 0px;
        padding: 0px;
        background-color: transparent;
        border: 0px; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle #socialHolder #socialShare .btn-info .fa-share-alt {
          font-size: 25px;
          color: #6A0C38; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle #socialHolder #socialShare .share .caret {
        display: none; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle #socialHolder #socialShare .dropdown-menu {
        position: absolute;
        top: 100%;
        min-width: 0px;
        padding: 0;
        margin: 0; }
        #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopTitle #socialHolder #socialShare .dropdown-menu li a:hover i {
          color: #FFB733; }
  #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopUsersComments .writePost {
    padding: 10px; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopUsersComments .writePost .form-control {
      width: 100%; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopUsersComments .writePost .form-control:focus {
        border-color: #FFB733; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopUsersComments .writePost .posting {
      display: block;
      margin: 20px;
      margin-right: 5px;
      margin-bottom: 0;
      text-align: right; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopUsersComments .writePost .posting .btn {
        background-color: #6A0C38;
        color: #FFFFFF;
        border: 0px;
        vertical-align: middle;
        padding: 10px;
        border-radius: 25px;
        width: 120px; }
  #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopUsersComments .media-list .media {
    margin-left: 20px;
    margin-top: 10px; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopUsersComments .media-list .media .media-left {
      width: 10%; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopUsersComments .media-list .media .media-left a img {
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block;
        width: 100%; }
    #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopUsersComments .media-list .media .media-body {
      font-family: regular;
      font-size: 12px;
      color: #808285; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopUsersComments .media-list .media .media-body h4 {
        font-family: regular;
        font-size: 16px;
        color: #231F20; }
      #homepage .modal .modal-dialog .modal-body .thumbnail .popWorkshopUsersComments .media-list .media .media-body p {
        margin: 10px; }
#homepage #topComp {
  background-color: #FFFFFF; }
  #homepage #topComp .container .title {
    text-align: center;
    margin-top: 20px;
    background-image: url(../../Imgs/bground2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    #homepage #topComp .container .title h1 {
      color: #FFB733;
      font-family: bold;
      margin-top: 60px;
      margin-bottom: 15px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      font-size: 50px; }
    @media (max-width: 615px) {
      #homepage #topComp .container .title {
        background-image: none; }
        #homepage #topComp .container .title h1 {
          text-align: left; } }
  #homepage #topComp .container .CompMainRow .CompSection .thumbnail {
    background-color: #f1f1f1;
    padding: 0px; }
    #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDefaultImg {
      padding: 0px;
      margin: 0px;
      width: 100%; }
      #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDefaultImg img {
        width: 100%;
        max-height: 300px; }
      #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDefaultImg video {
        width: 100%;
        height: 300px;
        object-fit: fill; }
    #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompTitle {
      font-family: bold;
      font-size: 20px;
      color: #FFB733; }
      #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompTitle div a {
        font-family: bold;
        font-size: 20px;
        color: #FFB733; }
        #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompTitle div a:hover {
          text-decoration: none; }
      #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompTitle div i {
        font-size: 20px;
        color: #808285;
        margin-top: 20px; }
    #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompCaption {
      margin: 0px;
      padding: 20px; }
      #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompCaption p {
        font-family: regular;
        font-size: 14px;
        text-align: left;
        margin-bottom: 15px;
        vertical-align: middle;
        width: 100%; }
    #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDetails {
      font-size: 10px; }
      #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDetails .CompScd {
        margin-bottom: 15px;
        padding: 0;
        padding-left: 10px; }
        #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDetails .CompScd .bigdate {
          width: 60%;
          font-size: 12px;
          font-family: light; }
          #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDetails .CompScd .bigdate i {
            font-size: 40px;
            color: #6A0C38;
            margin: 0px;
            padding: 0px; }
          #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDetails .CompScd .bigdate p {
            font-size: 40px;
            font-family: medium;
            display: inline-block; }
        #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDetails .CompScd .labels {
          width: 46%;
          display: inline-block;
          text-align: left; }
          #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDetails .CompScd .labels .label {
            background-color: transparent;
            color: #231F20;
            text-align: left;
            font-size: 12px;
            font-family: light;
            padding: 0px; }
          #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDetails .CompScd .labels .first {
            display: block;
            padding: 0px;
            margin-bottom: 7px; }
        #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDetails .CompScd .compLevel {
          margin-bottom: 15px;
          padding: 0;
          padding-left: 10px; }
          #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDetails .CompScd .compLevel .level .fa-bar-chart {
            font-size: 40px;
            color: #6A0C38; }
          #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDetails .CompScd .compLevel .lLabels small {
            font-family: light;
            color: #231F20;
            font-size: 12px; }
          #homepage #topComp .container .CompMainRow .CompSection .thumbnail .CompDetails .CompScd .compLevel .lLabels span {
            font-size: 30px;
            font-family: medium;
            color: #231F20;
            padding: 0px;
            background-color: transparent;
            margin: 5px; }
    #homepage #topComp .container .CompMainRow .CompSection .thumbnail .userPic {
      font-family: bold;
      font-size: 14px;
      margin-bottom: 20px;
      color: #FFB733;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 18px;
      vertical-align: bottom; }
      #homepage #topComp .container .CompMainRow .CompSection .thumbnail .userPic:hover {
        text-decoration: none; }
      #homepage #topComp .container .CompMainRow .CompSection .thumbnail .userPic span {
        display: inline-block;
        color: #525252;
        font-family: medium; }
      #homepage #topComp .container .CompMainRow .CompSection .thumbnail .userPic img {
        width: 40px;
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block; }
    #homepage #topComp .container .CompMainRow .CompSection .thumbnail .going {
      margin: 20px;
      margin-top: 0px;
      display: block;
      text-align: right; }
      #homepage #topComp .container .CompMainRow .CompSection .thumbnail .going .btn {
        background-color: #6A0C38;
        color: #FFFFFF;
        border: 0px;
        vertical-align: middle;
        padding: 10px;
        border-radius: 25px;
        width: 120px; }
  #homepage #topComp .container .CompMainRow .row {
    margin: 0px; }
  #homepage #topComp .container .CompMainRow #s {
    color: #231F20;
    text-align: left;
    font-size: 12px;
    font-family: regular;
    padding: 0px;
    font-size: 12px; }
  #homepage #topComp .container .CompMainRow div#secondp {
    margin-top: 8px; }
  #homepage #topComp .container .CompMainRow #socialHolder {
    display: inline-block; }
    #homepage #topComp .container .CompMainRow #socialHolder #socialShare .btn-info {
      margin: 0px;
      padding: 0px;
      background-color: transparent;
      border: 0px; }
    #homepage #topComp .container .CompMainRow #socialHolder #socialShare .share .caret {
      display: none; }
    #homepage #topComp .container .CompMainRow #socialHolder #socialShare .share .dropdown-menu {
      position: absolute;
      top: 100%;
      min-width: 0px;
      padding: 0;
      margin: 0; }
      #homepage #topComp .container .CompMainRow #socialHolder #socialShare .share .dropdown-menu li a:hover i {
        color: #FFB733; }
  #homepage #topComp .container .btnsOn {
    margin: 20px;
    margin-top: 0px;
    display: block;
    text-align: center; }
    #homepage #topComp .container .btnsOn .btn {
      background-color: #FFB733;
      color: #45132E;
      border: 0px;
      vertical-align: middle;
      padding: 10px;
      border-radius: 25px;
      width: 130px;
      margin: 30px;
      font-family: medium; }
      #homepage #topComp .container .btnsOn .btn .fa {
        color: #45132E;
        font-size: 20px;
        margin-right: 5px; }
      #homepage #topComp .container .btnsOn .btn:hover {
        color: #FFFFFF; }
        #homepage #topComp .container .btnsOn .btn:hover i {
          color: #FFFFFF; }

footer {
  font-size: 14px;
  background-color: #6A0C38;
  color: #E4E4E4; }
  footer .row {
    padding: 25px; }
    footer .row .footerSection ul h4 {
      color: #FFFFFF; }
    footer .row .footerSection ul li {
      color: #808285; }
    footer .row .footerSection ul .includedUl li {
      margin: 10px; }
      footer .row .footerSection ul .includedUl li i {
        color: #FFB733;
        font-size: 35px; }
    footer .row .footerSection ul .inputEmail {
      border: 3px #808285 solid;
      margin-top: 10px; }
      footer .row .footerSection ul .inputEmail .glyphicon-envelope {
        color: #808285;
        padding: 5px;
        margin-left: 10px; }
      footer .row .footerSection ul .inputEmail input {
        background-color: transparent;
        border: 0px;
        padding: 5px; }
    footer .row .footerSection ul .emailBtn {
      border: 3px #FFB733 solid;
      color: #FFB733;
      padding: 5px 10px;
      width: 100px;
      margin-top: 8px; }

/*# sourceMappingURL=home.css.map */
