body {
  font-size: 0px;
  padding: 0px;
  margin: 0px; }

a:hover {
  text-decoration: none; }

.showPosts {
  margin-top: 0px; }
  .showPosts .recentPosts {
    margin: 30px 0px;
    margin-bottom: 100px; }
    .showPosts .recentPosts .userInfos {
      margin: 10px; }
      .showPosts .recentPosts .userInfos img {
        width: 60px;
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block; }
      .showPosts .recentPosts .userInfos span {
        font-family: bold;
        font-size: 20px;
        color: #FFB733;
        margin-left: 5px; }
    .showPosts .recentPosts .conatinerComment {
      border: 1px solid #E4E4E4; }
      .showPosts .recentPosts .conatinerComment .largePic img {
        overflow-x: hidden;
        width: 100%;
        max-height: 20%; }
      .showPosts .recentPosts .conatinerComment .largePic video {
        width: 100%;
        object-fit: cover; }
      .showPosts .recentPosts .conatinerComment .titleEdit {
        margin: 10px 0px; }
        .showPosts .recentPosts .conatinerComment .titleEdit div h3 {
          font-family: medium;
          color: #6A0C38; }
        .showPosts .recentPosts .conatinerComment .titleEdit .edits {
          text-align: right; }
          .showPosts .recentPosts .conatinerComment .titleEdit .edits i {
            color: #525252;
            font-size: 20px;
            margin-top: 20px;
            margin-left: 15px; }
      .showPosts .recentPosts .conatinerComment .disc p {
        font-size: 16px;
        font-family: regular;
        text-align: justify;
        color: #231F20;
        padding: 10px; }
      .showPosts .recentPosts .conatinerComment .disc audio {
        width: 100%; }
      .showPosts .recentPosts .conatinerComment .interactionUser {
        background-color: #E4E4E4;
        font-size: 20px;
        padding: 10px; }
        .showPosts .recentPosts .conatinerComment .interactionUser a {
          margin: 0 10px; }
          .showPosts .recentPosts .conatinerComment .interactionUser a i {
            color: #FFB733; }
          .showPosts .recentPosts .conatinerComment .interactionUser a .badge {
            background-color: transparent;
            color: #525252;
            font-size: 16px;
            font-family: medium; }
        .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder {
          display: inline-block; }
          .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .btn-info {
            margin: 0px;
            padding: 0px;
            background-color: transparent;
            border: 0px; }
            .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .btn-info .fa-share-alt {
              font-size: 20px; }
          .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .share .caret {
            display: none; }
          .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu {
            min-width: 100px;
            position: absolute;
            top: 100%;
            padding: 0; }
            .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu li a {
              margin: 10 0px; }
              .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu li a:hover i {
                color: #FFB733; }
      .showPosts .recentPosts .conatinerComment .UserComments .writePost {
        padding: 10px; }
        .showPosts .recentPosts .conatinerComment .UserComments .writePost .form-control {
          width: 100%; }
          .showPosts .recentPosts .conatinerComment .UserComments .writePost .form-control:focus {
            border-color: #FFB733; }
        .showPosts .recentPosts .conatinerComment .UserComments .writePost .posting {
          display: block;
          margin: 20px;
          margin-right: 5px;
          margin-bottom: 0;
          text-align: right; }
          .showPosts .recentPosts .conatinerComment .UserComments .writePost .posting .btn {
            background-color: #6A0C38;
            color: #FFFFFF;
            border: 0px;
            vertical-align: middle;
            padding: 10px;
            border-radius: 25px;
            width: 120px; }
      .showPosts .recentPosts .conatinerComment .UserComments .media-list .media {
        margin-left: 20px;
        margin-top: 10px; }
        .showPosts .recentPosts .conatinerComment .UserComments .media-list .media .media-left {
          width: 10%; }
          .showPosts .recentPosts .conatinerComment .UserComments .media-list .media .media-left a img {
            border: 2px solid #FFB733;
            border-radius: 50px;
            display: inline-block;
            width: 100%; }
        .showPosts .recentPosts .conatinerComment .UserComments .media-list .media .media-body {
          font-family: regular;
          font-size: 12px;
          color: #808285; }
          .showPosts .recentPosts .conatinerComment .UserComments .media-list .media .media-body h4 {
            font-family: regular;
            font-size: 16px;
            color: #231F20; }
          .showPosts .recentPosts .conatinerComment .UserComments .media-list .media .media-body p {
            margin: 10px; }
      .showPosts .recentPosts .conatinerComment .seeComments {
        background-color: #808285;
        text-align: center;
        padding: 10px; }
        .showPosts .recentPosts .conatinerComment .seeComments span {
          font-size: 16px;
          font-family: medium;
          color: #FFFFFF; }
          .showPosts .recentPosts .conatinerComment .seeComments span i {
            margin: 0 8px; }

hr {
  border: 1px solid #E4E4E4; }

.topPosts {
  margin-top: 0px;
  margin: 5px 0px;
  text-align: center; }
  .topPosts .btn-lg {
    background-color: #6A0C38;
    border-radius: 50px;
    color: #FFB733;
    font-family: medium;
    font-size: 16px;
    padding: 15px;
    width: 150px;
    margin-bottom: 0px; }
    .topPosts .btn-lg i {
      color: #FFB733; }
  .topPosts h2 {
    color: #45132E;
    font-family: bold;
    font-size: 30px;
    text-align: center;
    margin: 33px; }
  .topPosts .top1 {
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 0px;
    border: 1px solid #E4E4E4;
    text-align: left;
    background-color: #E4E4E4; }
    .topPosts .top1 img {
      width: 100%;
      height: auto;
      overflow-x: hidden; }
    .topPosts .top1 div {
      padding: 5px;
      margin: 10 0px; }
      .topPosts .top1 div img {
        width: 30px;
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block;
        margin-right: 5px; }
      .topPosts .top1 div span {
        font-family: bold;
        font-size: 16px;
        color: #FFB733;
        margin-left: 5px;
        vertical-align: middle; }
      .topPosts .top1 div a {
        font-family: medium;
        color: #525252;
        margin: 5 0px;
        font-size: 16px;
        display: block;
        cursor: pointer; }

/*# sourceMappingURL=posts.css.map */
