body {
  font-size: 0px;
  padding: 0px;
  margin: 0px; }

a:hover, a:focus, a:active {
  text-decoration: none; }

#allpostspage .showPosts {
  margin-top: 0px; }
#allpostspage .recentPosts {
  margin: 30px 0px;
  margin-bottom: 50px; }
  #allpostspage .recentPosts .userInfos {
    margin: 10px; }
    #allpostspage .recentPosts .userInfos img {
      width: 60px;
      border: 2px solid #FFB733;
      border-radius: 50px;
      display: inline-block; }
    #allpostspage .recentPosts .userInfos span {
      font-family: bold;
      font-size: 20px;
      color: #FFB733;
      margin-left: 5px; }
  #allpostspage .recentPosts .conatinerComment {
    border: 1px solid #E4E4E4; }
    #allpostspage .recentPosts .conatinerComment .largePic img {
      overflow-x: hidden;
      width: 100%;
      max-height: 20%; }
    #allpostspage .recentPosts .conatinerComment .largePic video {
      width: 100%;
      object-fit: cover; }
    #allpostspage .recentPosts .conatinerComment .titleEdit {
      margin: 10px 0px; }
      #allpostspage .recentPosts .conatinerComment .titleEdit div h3 {
        font-family: medium;
        color: #6A0C38; }
      #allpostspage .recentPosts .conatinerComment .titleEdit .edits {
        text-align: right; }
        #allpostspage .recentPosts .conatinerComment .titleEdit .edits i {
          color: #525252;
          font-size: 20px;
          margin-top: 20px;
          margin-left: 15px; }
    #allpostspage .recentPosts .conatinerComment .disc p {
      font-size: 16px;
      font-family: regular;
      text-align: justify;
      color: #231F20;
      padding: 10px; }
    #allpostspage .recentPosts .conatinerComment .disc audio {
      width: 100%; }
    #allpostspage .recentPosts .conatinerComment .interactionUser {
      background-color: #E4E4E4;
      font-size: 20px;
      padding: 10px; }
      #allpostspage .recentPosts .conatinerComment .interactionUser a {
        margin: 0 10px; }
        #allpostspage .recentPosts .conatinerComment .interactionUser a i {
          color: #FFB733; }
        #allpostspage .recentPosts .conatinerComment .interactionUser a .badge {
          background-color: transparent;
          color: #525252;
          font-size: 16px;
          font-family: medium; }
      #allpostspage .recentPosts .conatinerComment .interactionUser #socialHolder {
        display: inline-block; }
        #allpostspage .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .btn-info {
          margin: 0px;
          padding: 0px;
          background-color: transparent;
          border: 0px; }
          #allpostspage .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .btn-info .fa-share-alt {
            font-size: 20px; }
        #allpostspage .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .share .caret {
          display: none; }
        #allpostspage .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu {
          min-width: 100px;
          position: absolute;
          top: 100%;
          padding: 0; }
          #allpostspage .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu li a {
            margin: 10 0px; }
            #allpostspage .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu li a:hover i {
              color: #FFB733; }
    #allpostspage .recentPosts .conatinerComment .panel-group {
      margin: 0px; }
      #allpostspage .recentPosts .conatinerComment .panel-group .comments {
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid #E4E4E4; }
        #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-heading {
          background-color: #6A0C38;
          text-align: center;
          color: #FFFFFF;
          font-size: 16px;
          font-family: medium;
          border: 0px; }
        #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body {
          padding: 0px; }
          #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost {
            padding: 10px; }
            #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .form-control {
              width: 100%; }
              #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .form-control:focus {
                border-color: #FFB733; }
            #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting {
              display: block;
              margin: 20px;
              margin-right: 5px;
              margin-bottom: 0;
              text-align: right; }
              #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn {
                border: #6A0C38 2px solid;
                color: #6A0C38;
                vertical-align: middle;
                padding: 10px;
                border-radius: 25px;
                width: 120px;
                font-family: medium;
                font-size: 16px; }
                #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn:hover, #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn:active, #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn:focus {
                  background-color: #FFB733;
                  border: 0px;
                  color: #45132E; }
          #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media {
            margin-left: 20px;
            margin-top: 10px; }
            #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-left {
              width: 10%; }
              #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-left a img {
                border: 2px solid #FFB733;
                border-radius: 50px;
                display: inline-block;
                width: 100%; }
            #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-body {
              font-family: regular;
              font-size: 12px;
              color: #808285; }
              #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-body h4 {
                font-family: regular;
                font-size: 16px;
                color: #231F20; }
              #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-body p {
                margin: 10px; }
          #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .seeComments {
            background-color: #E4E4E4;
            text-align: center;
            padding: 10px; }
            #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .seeComments span {
              font-size: 16px;
              font-family: light;
              color: #808285; }
              #allpostspage .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .seeComments span i {
                margin: 0 8px; }
      #allpostspage .recentPosts .conatinerComment .panel-group .reviews {
        margin-top: 0px;
        border-radius: 0px;
        border: 0px; }
        #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-heading {
          background-color: #6A0C38;
          text-align: center;
          color: #FFFFFF;
          font-size: 16px;
          font-family: medium;
          border: 0px; }
        #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body {
          padding: 0px; }
          #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost {
            padding: 10px; }
            #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .form-control {
              width: 100%; }
              #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .form-control:focus {
                border-color: #FFB733; }
            #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost textarea {
              margin-bottom: 10px; }
            #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting {
              margin-right: 5px;
              margin-bottom: 0;
              text-align: right; }
              #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn {
                border: #6A0C38 2px solid;
                color: #6A0C38;
                vertical-align: middle;
                padding: 10px;
                border-radius: 25px;
                width: 120px;
                font-family: medium;
                font-size: 16px; }
                #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn:hover, #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn:active, #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn:focus {
                  background-color: #FFB733;
                  border: 0px;
                  color: #45132E; }
          #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media {
            margin-left: 20px;
            margin-top: 10px; }
            #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-left {
              width: 10%; }
              #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-left a img {
                border: 2px solid #FFB733;
                border-radius: 50px;
                display: inline-block;
                width: 100%; }
            #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-body {
              font-family: regular;
              font-size: 12px;
              color: #808285; }
              #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-body h4 {
                font-family: regular;
                font-size: 16px;
                color: #231F20; }
              #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-body p {
                margin: 10px; }
          #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .seeReview {
            background-color: #E4E4E4;
            text-align: center;
            padding: 10px; }
            #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .seeReview span {
              font-size: 16px;
              font-family: light;
              color: #808285; }
              #allpostspage .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .seeReview span i {
                margin: 0 8px; }
#allpostspage hr {
  border: 1px solid #E4E4E4; }
#allpostspage .topPosts {
  margin-top: 0px;
  margin: 5px 0px;
  text-align: center; }
  #allpostspage .topPosts .btn-lg {
    background-color: #6A0C38;
    border-radius: 50px;
    color: #FFB733;
    font-family: medium;
    font-size: 16px;
    padding: 15px;
    width: 150px;
    margin-bottom: 0px; }
    #allpostspage .topPosts .btn-lg i {
      color: #FFB733; }
  #allpostspage .topPosts h2 {
    color: #45132E;
    font-family: bold;
    font-size: 30px;
    text-align: center;
    margin: 33px; }
  #allpostspage .topPosts .top1 {
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 0px;
    border: 1px solid #E4E4E4;
    text-align: left;
    background-color: #E4E4E4;
    border-radius: 50px; }
    #allpostspage .topPosts .top1 img {
      width: 100%;
      height: auto;
      overflow-x: hidden; }
    #allpostspage .topPosts .top1 div {
      padding: 15px;
      margin: 10 0px; }
      #allpostspage .topPosts .top1 div img {
        width: 30px;
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block;
        margin-right: 5px; }
      #allpostspage .topPosts .top1 div span {
        font-family: bold;
        font-size: 16px;
        color: #FFB733;
        margin-left: 5px;
        vertical-align: middle; }
      #allpostspage .topPosts .top1 div a {
        font-family: medium;
        color: #525252;
        margin: 5 0px;
        font-size: 16px;
        display: block;
        cursor: pointer; }
#allpostspage .range {
  display: table;
  padding: 0px;
  position: relative;
  margin-top: 10px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1); }
#allpostspage .title {
  margin-top: 10px;
  color: #808285;
  font-family: medium;
  font-size: 16px;
  text-align: center; }
#allpostspage .range input[type="range"] {
  -webkit-appearance: none !important;
  appearance: none !important;
  display: table-cell;
  width: 100%;
  color: #FFFFFF;
  background-color: #E4E4E4;
  font-family: light;
  height: 10px;
  cursor: pointer;
  margin-top: 7px; }
#allpostspage .range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  width: 11px;
  height: 25px;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0px;
  background-color: #FFB733; }
#allpostspage .range output {
  display: table-cell;
  padding: 3px 2px;
  min-width: 40px;
  color: #6A0C38;
  background-color: #E4E4E4;
  font-family: medium;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }
#allpostspage .range input[type="range"] {
  outline: none; }

#singlepostpage .singlePost .userInfos {
  margin: 10px; }
  #singlepostpage .singlePost .userInfos img {
    width: 60px;
    border: 2px solid #FFB733;
    border-radius: 50px;
    display: inline-block; }
  #singlepostpage .singlePost .userInfos span {
    font-family: bold;
    font-size: 20px;
    color: #FFB733;
    margin-left: 5px; }
#singlepostpage .singlePost .conatinerComment {
  border: 1px solid #E4E4E4; }
  #singlepostpage .singlePost .conatinerComment .largePic img {
    overflow-x: hidden;
    width: 100%;
    max-height: 20%; }
  #singlepostpage .singlePost .conatinerComment .largePic video {
    width: 100%;
    object-fit: cover; }
  #singlepostpage .singlePost .conatinerComment .titleEdit {
    margin: 10px 0px; }
    #singlepostpage .singlePost .conatinerComment .titleEdit div h3 {
      font-family: medium;
      color: #6A0C38; }
    #singlepostpage .singlePost .conatinerComment .titleEdit .edits {
      text-align: right; }
      #singlepostpage .singlePost .conatinerComment .titleEdit .edits i {
        color: #525252;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 15px; }
  #singlepostpage .singlePost .conatinerComment .disc p {
    font-size: 16px;
    font-family: regular;
    text-align: justify;
    color: #231F20;
    padding: 10px; }
  #singlepostpage .singlePost .conatinerComment .disc audio {
    width: 100%; }
  #singlepostpage .singlePost .conatinerComment .interactionUser {
    background-color: #E4E4E4;
    font-size: 20px;
    padding: 10px; }
    #singlepostpage .singlePost .conatinerComment .interactionUser a {
      margin: 0 10px; }
      #singlepostpage .singlePost .conatinerComment .interactionUser a i {
        color: #FFB733; }
      #singlepostpage .singlePost .conatinerComment .interactionUser a .badge {
        background-color: transparent;
        color: #525252;
        font-size: 16px;
        font-family: medium; }
    #singlepostpage .singlePost .conatinerComment .interactionUser #socialHolder {
      display: inline-block; }
      #singlepostpage .singlePost .conatinerComment .interactionUser #socialHolder #socialShare .btn-info {
        margin: 0px;
        padding: 0px;
        background-color: transparent;
        border: 0px; }
        #singlepostpage .singlePost .conatinerComment .interactionUser #socialHolder #socialShare .btn-info .fa-share-alt {
          font-size: 20px; }
      #singlepostpage .singlePost .conatinerComment .interactionUser #socialHolder #socialShare .share .caret {
        display: none; }
      #singlepostpage .singlePost .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu {
        min-width: 100px;
        position: absolute;
        top: 100%;
        padding: 0; }
        #singlepostpage .singlePost .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu li a {
          margin: 10 0px; }
          #singlepostpage .singlePost .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu li a:hover i {
            color: #FFB733; }
  #singlepostpage .singlePost .conatinerComment .panel-group {
    margin: 0px; }
    #singlepostpage .singlePost .conatinerComment .panel-group .comments {
      border-radius: 0px;
      border: 0px;
      border-bottom: 1px solid #E4E4E4; }
      #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-heading {
        background-color: #6A0C38;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
        font-family: medium;
        border: 0px; }
      #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body {
        padding: 0px; }
        #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost {
          padding: 10px; }
          #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .form-control {
            width: 100%; }
            #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .form-control:focus {
              border-color: #FFB733; }
          #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting {
            display: block;
            margin: 20px;
            margin-right: 5px;
            margin-bottom: 0;
            text-align: right; }
            #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn {
              border: #6A0C38 2px solid;
              color: #6A0C38;
              vertical-align: middle;
              padding: 10px;
              border-radius: 25px;
              width: 120px;
              font-family: medium;
              font-size: 16px; }
              #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn:hover, #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn:active, #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn:focus {
                background-color: #FFB733;
                border: 0px;
                color: #45132E; }
        #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media {
          margin-left: 20px;
          margin-top: 10px; }
          #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-left {
            width: 10%;
            margin-top: 15px; }
            #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-left a img {
              border: 2px solid #FFB733;
              border-radius: 50px;
              display: inline-block;
              width: 100%; }
          #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-body {
            font-family: regular;
            font-size: 12px;
            color: #808285; }
            #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-body h4 {
              font-family: regular;
              font-size: 16px;
              color: #231F20;
              margin-top: 15px; }
            #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-body p {
              margin: s 10px; }
        #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .seeComments {
          background-color: #E4E4E4;
          text-align: center;
          padding: 10px; }
          #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .seeComments span {
            font-size: 16px;
            font-family: light;
            color: #808285; }
            #singlepostpage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .seeComments span i {
              margin: 0 8px; }
    #singlepostpage .singlePost .conatinerComment .panel-group .reviews {
      margin-top: 0px;
      border-radius: 0px;
      border: 0px; }
      #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-heading {
        background-color: #6A0C38;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
        font-family: medium;
        border: 0px; }
      #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body {
        padding: 0px; }
        #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost {
          padding: 10px; }
          #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .form-control {
            width: 100%; }
            #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .form-control:focus {
              border-color: #FFB733; }
          #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost textarea {
            margin-bottom: 10px; }
          #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting {
            margin-right: 5px;
            margin-bottom: 0;
            text-align: right; }
            #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn {
              border: #6A0C38 2px solid;
              color: #6A0C38;
              vertical-align: middle;
              padding: 10px;
              border-radius: 25px;
              width: 120px;
              font-family: medium;
              font-size: 16px; }
              #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn:hover, #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn:active, #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn:focus {
                background-color: #FFB733;
                border: 0px;
                color: #45132E; }
        #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media {
          margin-left: 20px;
          margin-top: 10px; }
          #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-left {
            width: 10%; }
            #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-left a img {
              border: 2px solid #FFB733;
              border-radius: 50px;
              display: inline-block;
              width: 100%; }
          #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-body {
            font-family: regular;
            font-size: 12px;
            color: #808285; }
            #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-body h4 {
              font-family: regular;
              font-size: 16px;
              color: #231F20; }
            #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-body p {
              margin: 10px; }
        #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .seeReview {
          background-color: #E4E4E4;
          text-align: center;
          padding: 10px; }
          #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .seeReview span {
            font-size: 16px;
            font-family: light;
            color: #808285; }
            #singlepostpage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .seeReview span i {
              margin: 0 8px; }
#singlepostpage .outcomment {
  background-color: transparent; }

/*# sourceMappingURL=posts.css.map */
