.serverError{
    background-image: url(../imgs/server.jpg) !important; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 0px;
    margin: 0px;

}
