body {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  background-color: #FFFFFF; }
  body:focus, body:active, body:visited, body:hover {
    outline: 0px; }

#singlecomppage .row {
  position: relative; }
#singlecomppage .firstCol {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 0px;
  background-color: #FFFFFF;
  height: 551px;
  margin-bottom: 30px; }
  #singlecomppage .firstCol .compImg {
    height: 45%;
    margin: 0px; }
    #singlecomppage .firstCol .compImg .opacity {
      background-color: #231F20;
      position: relative;
      height: 100%;
      text-align: -webkit-center; }
      #singlecomppage .firstCol .compImg .opacity img {
        display: block;
        opacity: 0.6;
        overflow: hidden;
        width: 100%;
        height: 100%; }
      #singlecomppage .firstCol .compImg .opacity .accept {
        display: block;
        position: relative;
        bottom: 60px;
        border-radius: 35px;
        padding: 7px;
        width: 155px;
        background-color: #6A0C38;
        color: #FFFFFF;
        border: 0px;
        font-family: bold;
        font-size: 18px; }
        #singlecomppage .firstCol .compImg .opacity .accept:hover {
          background-color: #FFB733;
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.22); }
  #singlecomppage .firstCol .compName {
    margin: 10px; }
    #singlecomppage .firstCol .compName .text-left {
      color: #6A0C38;
      font-family: medium;
      font-size: 20px;
      padding: 0px;
      margin-top: 10px; }
    #singlecomppage .firstCol .compName .text-center {
      padding: 0px; }
      #singlecomppage .firstCol .compName .text-center .fa {
        color: #FFB733;
        font-size: 30px;
        margin: 5px; }
  #singlecomppage .firstCol .info {
    font-size: 10px; }
    #singlecomppage .firstCol .info .compScd {
      margin-bottom: 15px;
      padding: 0;
      padding-left: 10px; }
      #singlecomppage .firstCol .info .compScd .bigdate {
        width: 60%;
        font-size: 12px;
        font-family: light; }
        #singlecomppage .firstCol .info .compScd .bigdate i {
          font-size: 40px;
          color: #6A0C38;
          margin: 0px;
          padding: 0px; }
        #singlecomppage .firstCol .info .compScd .bigdate p {
          font-size: 40px;
          font-family: medium;
          display: inline-block; }
      #singlecomppage .firstCol .info .compScd .labels {
        width: 46%;
        display: inline-block;
        text-align: left; }
        #singlecomppage .firstCol .info .compScd .labels .label {
          background-color: transparent;
          color: #231F20;
          text-align: left;
          font-size: 12px;
          font-family: light;
          padding: 0px; }
        #singlecomppage .firstCol .info .compScd .labels .first {
          display: block;
          padding: 0px;
          margin-bottom: 7px; }
    #singlecomppage .firstCol .info .compLevel {
      margin-bottom: 15px;
      padding: 0;
      padding-left: 10px; }
      #singlecomppage .firstCol .info .compLevel .level .fa-bar-chart {
        font-size: 40px;
        color: #6A0C38; }
      #singlecomppage .firstCol .info .compLevel .lLabels small {
        font-family: light;
        color: #231F20;
        font-size: 12px; }
      #singlecomppage .firstCol .info .compLevel .lLabels span {
        font-size: 30px;
        font-family: medium;
        color: #231F20;
        padding: 0px;
        background-color: transparent;
        margin: 5px; }
#singlecomppage .secCol .showPosts {
  margin-top: 0px; }
  #singlecomppage .secCol .showPosts .recentPosts {
    background-color: #FFFFFF;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
    padding: 0px;
    margin-bottom: 40px; }
    #singlecomppage .secCol .showPosts .recentPosts .userInfos {
      padding: 10px; }
      #singlecomppage .secCol .showPosts .recentPosts .userInfos img {
        width: 60px;
        border-radius: 40px;
        border: 2px #FFB733 solid;
        display: inline-block; }
      #singlecomppage .secCol .showPosts .recentPosts .userInfos span {
        font-family: bold;
        font-size: 20px;
        color: #FFB733;
        margin-left: 5px; }
    #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .largePic img {
      overflow-x: hidden;
      width: 100%;
      max-height: 20%; }
    #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .largePic video {
      width: 100%;
      object-fit: cover; }
    #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .titleEdit {
      margin: 10px 0px; }
      #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .titleEdit div h3 {
        font-family: medium;
        color: #6A0C38; }
      #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .titleEdit .edits {
        text-align: right; }
        #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .titleEdit .edits i {
          color: #525252;
          font-size: 20px;
          margin-top: 20px;
          margin-left: 15px; }
    #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .disc p {
      font-size: 16px;
      font-family: regular;
      color: #231F20;
      padding: 10px; }
    #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .disc audio {
      width: 100%; }
    #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .interactionUser {
      background-color: #E4E4E4;
      font-size: 20px;
      padding: 10px; }
      #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .interactionUser a {
        margin: 0 10px; }
        #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .interactionUser a i {
          color: #FFB733; }
        #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .interactionUser a .badge {
          background-color: transparent;
          color: #525252;
          font-size: 16px;
          font-family: medium; }
      #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder {
        display: inline-block; }
        #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .btn-info {
          margin: 0px;
          padding: 0px;
          background-color: transparent;
          border: 0px; }
          #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .btn-info .fa-share-alt {
            font-size: 20px; }
        #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .share .caret {
          display: none; }
        #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu {
          border-radius: 20px;
          min-width: 100px;
          position: absolute;
          top: 75%;
          padding: 0; }
          #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu li a {
            margin: 10 0px; }
            #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu li a:hover i {
              color: #FFB733; }
    #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group {
      margin: 0px; }
      #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments {
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid #E4E4E4; }
        #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-heading {
          background-color: #6A0C38;
          text-align: center;
          color: #FFFFFF;
          font-size: 16px;
          font-family: medium;
          border: 0px; }
        #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body {
          padding: 0px; }
          #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost {
            padding: 10px; }
            #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .form-control {
              width: 100%; }
              #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .form-control:focus {
                border-color: #FFB733; }
            #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting {
              display: block;
              margin: 20px;
              margin-right: 5px;
              margin-bottom: 0;
              text-align: right; }
              #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn {
                border: #6A0C38 2px solid;
                color: #6A0C38;
                vertical-align: middle;
                padding: 10px;
                border-radius: 25px;
                width: 120px;
                font-family: medium;
                font-size: 16px; }
                #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn:hover, #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn:active, #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn:focus {
                  background-color: #FFB733;
                  border: 0px;
                  color: #45132E; }
          #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media {
            margin-left: 20px;
            margin-top: 10px; }
            #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-left {
              width: 10%; }
              #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-left a img {
                border: 2px solid #FFB733;
                border-radius: 50px;
                display: inline-block;
                width: 100%; }
            #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-body {
              font-family: regular;
              font-size: 12px;
              color: #808285; }
              #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-body h4 {
                font-family: regular;
                font-size: 16px;
                color: #231F20; }
              #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-body p {
                margin: 10px; }
          #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .seeComments {
            background-color: #E4E4E4;
            text-align: center;
            padding: 10px; }
            #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .seeComments span {
              font-size: 16px;
              font-family: light;
              color: #808285; }
              #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .comments .panel-collapse .panel-body .seeComments span i {
                margin: 0 8px; }
      #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews {
        margin-top: 0px;
        border-radius: 0px;
        border: 0px; }
        #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-heading {
          background-color: #6A0C38;
          text-align: center;
          color: #FFFFFF;
          font-size: 16px;
          font-family: medium;
          border: 0px; }
        #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body {
          padding: 0px; }
          #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost {
            padding: 10px; }
            #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .form-control {
              width: 100%; }
              #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .form-control:focus {
                border-color: #FFB733; }
            #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost textarea {
              margin-bottom: 10px; }
            #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting {
              margin-right: 5px;
              margin-bottom: 0;
              text-align: right; }
              #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn {
                border: #6A0C38 2px solid;
                color: #6A0C38;
                vertical-align: middle;
                padding: 10px;
                border-radius: 25px;
                width: 120px;
                font-family: medium;
                font-size: 16px; }
                #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn:hover, #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn:active, #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn:focus {
                  background-color: #FFB733;
                  border: 0px;
                  color: #45132E; }
          #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media {
            margin-left: 20px;
            margin-top: 10px; }
            #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-left {
              width: 10%; }
              #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-left a img {
                border: 2px solid #FFB733;
                border-radius: 50px;
                display: inline-block;
                width: 100%; }
            #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-body {
              font-family: regular;
              font-size: 12px;
              color: #808285; }
              #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-body h4 {
                font-family: regular;
                font-size: 16px;
                color: #231F20; }
              #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-body p {
                margin: 10px; }
          #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .seeReview {
            background-color: #E4E4E4;
            text-align: center;
            padding: 10px; }
            #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .seeReview span {
              font-size: 16px;
              font-family: light;
              color: #808285; }
              #singlecomppage .secCol .showPosts .recentPosts .conatinerComment .panel-group .reviews .panel-collapse .panel-body .seeReview span i {
                margin: 0 8px; }
#singlecomppage .range {
  display: table;
  padding: 0px;
  position: relative;
  margin-top: 10px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1); }
#singlecomppage .title {
  margin-top: 10px;
  color: #808285;
  font-family: medium;
  font-size: 16px; }
#singlecomppage .range input[type="range"] {
  -webkit-appearance: none !important;
  appearance: none !important;
  display: table-cell;
  width: 100%;
  color: #FFFFFF;
  background-color: #E4E4E4;
  font-family: light;
  height: 10px;
  cursor: pointer;
  margin-top: 7px; }
#singlecomppage .range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  width: 11px;
  height: 25px;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0px;
  background-color: #FFB733; }
#singlecomppage .range output {
  display: table-cell;
  padding: 3px 2px;
  min-width: 40px;
  color: #6A0C38;
  background-color: #E4E4E4;
  font-family: medium;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }
#singlecomppage .range input[type="range"] {
  outline: none; }
#singlecomppage .singlePost .userInfos {
  margin: 10px; }
  #singlecomppage .singlePost .userInfos img {
    width: 60px;
    border: 2px solid #FFB733;
    border-radius: 50px;
    display: inline-block; }
  #singlecomppage .singlePost .userInfos span {
    font-family: bold;
    font-size: 20px;
    color: #FFB733;
    margin-left: 5px; }
#singlecomppage .singlePost .conatinerComment {
  border: 1px solid #E4E4E4; }
  #singlecomppage .singlePost .conatinerComment .largePic img {
    overflow-x: hidden;
    width: 100%;
    max-height: 20%; }
  #singlecomppage .singlePost .conatinerComment .largePic video {
    width: 100%;
    object-fit: cover; }
  #singlecomppage .singlePost .conatinerComment .titleEdit {
    margin: 10px 0px; }
    #singlecomppage .singlePost .conatinerComment .titleEdit div h3 {
      font-family: medium;
      color: #6A0C38; }
    #singlecomppage .singlePost .conatinerComment .titleEdit .edits {
      text-align: right; }
      #singlecomppage .singlePost .conatinerComment .titleEdit .edits i {
        color: #525252;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 15px; }
  #singlecomppage .singlePost .conatinerComment .disc p {
    font-size: 16px;
    font-family: regular;
    text-align: justify;
    color: #231F20;
    padding: 10px; }
  #singlecomppage .singlePost .conatinerComment .disc audio {
    width: 100%; }
  #singlecomppage .singlePost .conatinerComment .interactionUser {
    background-color: #E4E4E4;
    font-size: 20px;
    padding: 10px; }
    #singlecomppage .singlePost .conatinerComment .interactionUser a {
      margin: 0 10px; }
      #singlecomppage .singlePost .conatinerComment .interactionUser a i {
        color: #FFB733; }
      #singlecomppage .singlePost .conatinerComment .interactionUser a .badge {
        background-color: transparent;
        color: #525252;
        font-size: 16px;
        font-family: medium; }
    #singlecomppage .singlePost .conatinerComment .interactionUser #socialHolder {
      display: inline-block; }
      #singlecomppage .singlePost .conatinerComment .interactionUser #socialHolder #socialShare .btn-info {
        margin: 0px;
        padding: 0px;
        background-color: transparent;
        border: 0px; }
        #singlecomppage .singlePost .conatinerComment .interactionUser #socialHolder #socialShare .btn-info .fa-share-alt {
          font-size: 20px; }
      #singlecomppage .singlePost .conatinerComment .interactionUser #socialHolder #socialShare .share .caret {
        display: none; }
      #singlecomppage .singlePost .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu {
        min-width: 100px;
        position: absolute;
        top: 100%;
        padding: 0; }
        #singlecomppage .singlePost .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu li a {
          margin: 10 0px; }
          #singlecomppage .singlePost .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu li a:hover i {
            color: #FFB733; }
  #singlecomppage .singlePost .conatinerComment .panel-group {
    margin: 0px; }
    #singlecomppage .singlePost .conatinerComment .panel-group .comments {
      border-radius: 0px;
      border: 0px;
      border-bottom: 1px solid #E4E4E4; }
      #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-heading {
        background-color: #6A0C38;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
        font-family: medium;
        border: 0px; }
      #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body {
        padding: 0px; }
        #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost {
          padding: 10px; }
          #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .form-control {
            width: 100%; }
            #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .form-control:focus {
              border-color: #FFB733; }
          #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting {
            display: block;
            margin: 20px;
            margin-right: 5px;
            margin-bottom: 0;
            text-align: right; }
            #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn {
              border: #6A0C38 2px solid;
              color: #6A0C38;
              vertical-align: middle;
              padding: 10px;
              border-radius: 25px;
              width: 120px;
              font-family: medium;
              font-size: 16px; }
              #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn:hover, #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn:active, #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .writePost .posting .btn:focus {
                background-color: #FFB733;
                border: 0px;
                color: #45132E; }
        #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media {
          margin-left: 20px;
          margin-top: 10px; }
          #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-left {
            width: 10%;
            margin-top: 15px; }
            #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-left a img {
              border: 2px solid #FFB733;
              border-radius: 50px;
              display: inline-block;
              width: 100%; }
          #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-body {
            font-family: regular;
            font-size: 12px;
            color: #808285; }
            #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-body h4 {
              font-family: regular;
              font-size: 16px;
              color: #231F20;
              margin-top: 15px; }
            #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .UserComments .media-list .media .media-body p {
              margin: s 10px; }
        #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .seeComments {
          background-color: #E4E4E4;
          text-align: center;
          padding: 10px; }
          #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .seeComments span {
            font-size: 16px;
            font-family: light;
            color: #808285; }
            #singlecomppage .singlePost .conatinerComment .panel-group .comments .panel-collapse .panel-body .seeComments span i {
              margin: 0 8px; }
    #singlecomppage .singlePost .conatinerComment .panel-group .reviews {
      margin-top: 0px;
      border-radius: 0px;
      border: 0px; }
      #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-heading {
        background-color: #6A0C38;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
        font-family: medium;
        border: 0px; }
      #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body {
        padding: 0px; }
        #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost {
          padding: 10px; }
          #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .form-control {
            width: 100%; }
            #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .form-control:focus {
              border-color: #FFB733; }
          #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost textarea {
            margin-bottom: 10px; }
          #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting {
            margin-right: 5px;
            margin-bottom: 0;
            text-align: right; }
            #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn {
              border: #6A0C38 2px solid;
              color: #6A0C38;
              vertical-align: middle;
              padding: 10px;
              border-radius: 25px;
              width: 120px;
              font-family: medium;
              font-size: 16px; }
              #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn:hover, #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn:active, #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .writePost .posting .btn:focus {
                background-color: #FFB733;
                border: 0px;
                color: #45132E; }
        #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media {
          margin-left: 20px;
          margin-top: 10px; }
          #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-left {
            width: 10%; }
            #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-left a img {
              border: 2px solid #FFB733;
              border-radius: 50px;
              display: inline-block;
              width: 100%; }
          #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-body {
            font-family: regular;
            font-size: 12px;
            color: #808285; }
            #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-body h4 {
              font-family: regular;
              font-size: 16px;
              color: #231F20; }
            #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .UserReview .media-list .media .media-body p {
              margin: 10px; }
        #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .seeReview {
          background-color: #E4E4E4;
          text-align: center;
          padding: 10px; }
          #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .seeReview span {
            font-size: 16px;
            font-family: light;
            color: #808285; }
            #singlecomppage .singlePost .conatinerComment .panel-group .reviews .panel-collapse .panel-body .seeReview span i {
              margin: 0 8px; }
#singlecomppage .outcomment {
  background-color: transparent; }
#singlecomppage #socialHolder {
  display: block;
  text-align: -webkit-center; }
  #singlecomppage #socialHolder #socialShare .btn-info {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: 0px; }
    #singlecomppage #socialHolder #socialShare .btn-info .btn-share {
      display: block;
      border-radius: 35px;
      padding: 7px;
      width: 190px;
      background-color: #6A0C38;
      color: #FFFFFF;
      border: 0px;
      font-family: medium;
      font-size: 16px;
      margin: 20px 0px; }
      #singlecomppage #socialHolder #socialShare .btn-info .btn-share:hover {
        background-color: #FFB733;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.22); }
      #singlecomppage #socialHolder #socialShare .btn-info .btn-share .fa {
        color: #FFFFFF;
        font-size: 20px;
        margin: 5px; }
  #singlecomppage #socialHolder .dropdown-menu {
    position: absolute;
    top: 100%;
    min-width: 0px;
    padding: 0;
    margin: 0; }
    #singlecomppage #socialHolder .dropdown-menu li a:hover i {
      color: #FFB733; }
    #singlecomppage #socialHolder .dropdown-menu li a i {
      color: #6A0C38; }
#singlecomppage input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em; }
#singlecomppage input[type="date"]:focus:before,
#singlecomppage input[type="date"]:valid:before {
  content: ""; }
#singlecomppage .thirdCol {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 0px;
  background-color: #FFFFFF;
  height: 551px;
  overflow: hidden;
  margin-bottom: 30px;
  position: inherit; }
  #singlecomppage .thirdCol .newPost {
    text-align: center;
    margin: 20 0px; }
    #singlecomppage .thirdCol .newPost .btn-lg {
      background-color: #6A0C38;
      border-radius: 50px;
      color: #FFFFFF;
      font-family: medium;
      font-size: 16px;
      padding: 15px;
      width: 150px;
      margin-bottom: 0px; }
      #singlecomppage .thirdCol .newPost .btn-lg i {
        color: #FFFFFF; }
      #singlecomppage .thirdCol .newPost .btn-lg:hover {
        background-color: #FFB733;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.22); }
  #singlecomppage .thirdCol .numbers {
    margin: 20 0px; }
    #singlecomppage .thirdCol .numbers .count {
      padding: 20px 0px; }
      #singlecomppage .thirdCol .numbers .count .titl {
        font-family: medium;
        color: #231F20;
        font-size: 16px; }
      #singlecomppage .thirdCol .numbers .count .num {
        font-family: light;
        color: #808285;
        font-size: 16px; }
  #singlecomppage .thirdCol .about {
    padding: 12px;
    height: 30%;
    overflow: hidden; }
    #singlecomppage .thirdCol .about span {
      font-family: medium;
      color: #FFB733;
      font-size: 16px;
      margin-bottom: 10px; }
    #singlecomppage .thirdCol .about p {
      font-family: light;
      color: #808285;
      opacity: 0.8;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 0px; }
  #singlecomppage .thirdCol .reward {
    padding: 12px;
    height: 30%;
    overflow: hidden;
    background-color: #6A0C38; }
    #singlecomppage .thirdCol .reward span {
      font-family: medium;
      color: #FFB733;
      font-size: 16px;
      margin-bottom: 10px; }
    #singlecomppage .thirdCol .reward p {
      font-family: light;
      color: #FFFFFF;
      opacity: 0.8;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 0px; }
  #singlecomppage .thirdCol .madeby {
    padding: 12px;
    height: 30%;
    overflow: hidden;
    display: inline-block; }
    #singlecomppage .thirdCol .madeby span {
      font-family: medium;
      color: #FFB733;
      font-size: 16px;
      margin-bottom: 10px;
      display: inline-block; }
    #singlecomppage .thirdCol .madeby .superviseInfos {
      padding: 10px;
      display: inline-block;
      display: inline-block; }
      #singlecomppage .thirdCol .madeby .superviseInfos img {
        width: 40px;
        border-radius: 40px;
        border: 2px #FFB733 solid; }
      #singlecomppage .thirdCol .madeby .superviseInfos span {
        font-family: bold;
        font-size: 16px;
        color: #6A0C38;
        margin-left: 5px;
        vertical-align: middle; }

/*# sourceMappingURL=singleCompetition.css.map */
