@font-face {
  font-family: regular;
  src: url(../../Fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: medium;
  src: url(../../Fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: blak;
  src: url(../../Fonts/Roboto-Black.ttf); }
@font-face {
  font-family: bold;
  src: url(../../Fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: boldco;
  src: url(../../Fonts/Roboto-BoldCondensed.ttf); }
@font-face {
  font-family: light;
  src: url(../../Fonts/Roboto-Light.ttf); }
@font-face {
  font-family: thin;
  src: url(../../Fonts/Roboto-Thin.ttf); }
body {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  background-color: #FFFFFF; }
  body:focus, body:active, body:visited, body:hover {
    outline: 0px; }

#Navbar .navbar {
  background-color: #6A0C38;
  border: 0px;
  border-radius: 0px; }
  #Navbar .navbar .container-fluid .navbar-header .navbar-brand {
    padding: 0px; }
    #Navbar .navbar .container-fluid .navbar-header .navbar-brand img {
      height: 100%;
      padding: 0px; }
  #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li {
    font-size: 17px;
    font-family: bold; }
    #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li:hover, #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li:visited, #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li:active {
      background: transparent; }
    #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li a {
      color: #E4E4E4; }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li a:hover {
        color: #FFB733; }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li a:focus, #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li a:visited, #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li a:active {
        background: transparent; }
    #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li .dropdown-menu {
      background-color: #6A0C38;
      border: 0px; }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li .dropdown-menu a {
        padding-top: 10px;
        padding-right: 0px;
        padding-left: 7px;
        font-size: 14px;
        font-family: regular; }
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li .dropdown-menu a:hover, #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li .dropdown-menu a:active, #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li .dropdown-menu a:visited {
          background: transparent; }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-nav li .dropdown-menu .all {
        font-size: 14px;
        font-family: bold;
        text-align: center;
        padding-top: 10px; }
  #Navbar .navbar .container-fluid .navbar-collapse .navbar-left {
    margin-top: 16px; }
    #Navbar .navbar .container-fluid .navbar-collapse .navbar-left li {
      padding-right: 0px;
      font-size: 14px;
      font-family: light; }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-left li a {
        padding: 15px 5px;
        color: rgba(255, 255, 255, 0.58); }
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-left li a:hover, #Navbar .navbar .container-fluid .navbar-collapse .navbar-left li a:active, #Navbar .navbar .container-fluid .navbar-collapse .navbar-left li a:visited, #Navbar .navbar .container-fluid .navbar-collapse .navbar-left li a:focus {
          color: #FFFFFF;
          text-decoration: none;
          background-color: transparent; }
        @media (max-width: 308px) {
          #Navbar .navbar .container-fluid .navbar-collapse .navbar-left li a {
            display: none; } }
    @media (max-width: 1060px) {
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-left {
        display: none; } }
    @media (max-width: 767px) {
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-left {
        display: block; } }
  #Navbar .navbar .container-fluid .navbar-collapse .navbar-right {
    margin-right: 0px; }
    #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span {
      display: inline-block;
      vertical-align: middle; }
      @media (max-width: 1060px) {
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span {
          display: none; } }
      @media (max-width: 767px) {
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span {
          display: block; } }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search-bar {
        width: 0;
        vertical-align: middle;
        background: #FFFFFF;
        transition: width 300ms ease-in-out;
        display: inline-block;
        margin-right: 12px;
        border-radius: 15px; }
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search-bar input {
          background: transparent;
          outline: 0;
          border: 0;
          font-size: 14px;
          font-family: light;
          color: #231F20;
          box-sizing: border-box;
          padding: 5px 12px;
          display: none;
          visibility: hidden;
          position: relative;
          right: 0px;
          width: 100%; }
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search-bar.active {
          width: 200px; }
          #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search-bar.active input {
            display: inline-block;
            visibility: visible; }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search {
        display: inline-block; }
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search:hover {
          cursor: pointer; }
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search.active .search-icon {
          width: 20px;
          height: 20px;
          vertical-align: middle; }
          #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search.active .search-icon:before, #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search.active .search-icon:after {
            top: 2px;
            right: 7px; }
          #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search.active .search-icon:after {
            transform: rotate(45deg); }
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search .search-icon {
          width: 20px;
          height: 20px;
          background: transparent;
          border: 2px solid #fff;
          display: block;
          border-radius: 15px;
          position: relative;
          transition: all .2s ease-in-out;
          margin: 0px 0px;
          display: inline-block;
          vertical-align: middle; }
          #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search .search-icon:before, #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .search .search-icon:after {
            width: 2px;
            height: 12px;
            display: block;
            content: '';
            background: #fff;
            position: absolute;
            top: 15px;
            right: -5px;
            transform: rotate(-45deg);
            transition: all .2s ease-in-out; }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-right span .circlemargin {
        margin-top: 5px; }
    #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .search-signed {
      margin-top: 10px; }
    #Navbar .navbar .container-fluid .navbar-collapse .navbar-right #userpic {
      padding: 0px;
      margin: 0px;
      padding-right: 10px; }
    #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown {
      margin-top: 4px; }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .dropdown-toggle {
        padding-top: 12px; }
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .dropdown-toggle img {
          width: 40px;
          border: 2px solid #FFB733;
          border-radius: 50px;
          display: inline-block; }
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .dropdown-toggle span {
          color: #FFFFFF; }
          #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .dropdown-toggle span .fa-bell {
            color: #FFFFFF; }
          #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .dropdown-toggle span:hover, #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .dropdown-toggle span:active, #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .dropdown-toggle span:focus {
            color: #FFB733; }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .dropdown-menu {
        min-width: 100px; }
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .dropdown-menu li a {
          padding-left: 25px; }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .notemenu {
        min-width: 300px;
        background-color: #FFFFFF;
        padding: 0px;
        top: 105%; }
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .notemenu a {
          display: block;
          font-size: 12px;
          font-family: regular;
          color: #231F20;
          padding: 10px;
          width: 100%; }
          #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .notemenu a:hover {
            text-decoration: none;
            cursor: pointer; }
          #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .notemenu a img {
            width: 25px;
            border: 1px solid #45132E;
            border-radius: 50px;
            display: inline-block;
            margin: 5px; }
          #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .notemenu a span {
            font-size: 12px;
            font-family: light;
            color: #808285;
            padding: 5px; }
          #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .notemenu a p {
            padding: 2px;
            display: inline-block; }
        #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .dropdown .notemenu .divider {
          margin: 0px;
          background-color: #6A0C38;
          text-align: center; }
    #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .btn {
      margin: 8px 5px; }
    #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .btn-default {
      background-color: #FFB733;
      color: #45132E;
      border: 0px;
      border-radius: 50px;
      font-family: bold;
      margin-left: 15px; }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .btn-default:hover {
        background-color: #45132E;
        color: #FFFFFF; }
    #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .btn-primary {
      background-color: #45132E;
      color: #FFFFFF;
      border: 0px;
      border-radius: 50px;
      font-family: bold; }
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-right .btn-primary:hover {
        background-color: #FFB733;
        color: #FFFFFF; }
    @media (max-width: 1059px) {
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-right {
        display: none; } }
    @media (max-width: 767px) {
      #Navbar .navbar .container-fluid .navbar-collapse .navbar-right {
        display: inline-block; } }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent; }

.row {
  position: relative; }

.firstColWork {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 0px;
  background-color: #FFFFFF;
  height: 690px;
  margin-bottom: 30px; }
  .firstColWork .workImg {
    height: 248px;
    margin: 0px; }
    .firstColWork .workImg .opacity {
      background-color: #6A0C38;
      position: relative;
      height: 100%;
      text-align: -webkit-center; }
      .firstColWork .workImg .opacity img {
        display: block;
        opacity: 0.6;
        overflow: hidden;
        width: 100%;
        height: 100%; }
      .firstColWork .workImg .opacity .enroll {
        display: block;
        position: relative;
        bottom: 60px;
        border-radius: 35px;
        padding: 7px;
        width: 190px;
        background-color: #FFB733;
        color: #FFFFFF;
        border: 0px;
        font-family: bold;
        font-size: 18px; }
        .firstColWork .workImg .opacity .enroll:hover {
          background-color: #6A0C38;
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.22); }
  .firstColWork .workName {
    margin: 10px; }
    .firstColWork .workName .text-left {
      color: #6A0C38;
      font-family: medium;
      font-size: 20px;
      padding: 0px;
      margin-top: 10px; }
    .firstColWork .workName .text-center {
      padding: 0px; }
      .firstColWork .workName .text-center .fa {
        color: #FFB733;
        font-size: 30px;
        margin: 5px; }
  .firstColWork .info {
    font-size: 10px; }
    .firstColWork .info .workScd {
      margin-bottom: 0px;
      padding: 0;
      padding-left: 10px; }
      .firstColWork .info .workScd .bigdate {
        width: 60%;
        font-size: 12px;
        font-family: light; }
        .firstColWork .info .workScd .bigdate i {
          font-size: 40px;
          color: #6A0C38;
          margin: 0px;
          padding: 0px; }
        .firstColWork .info .workScd .bigdate p {
          font-size: 40px;
          font-family: medium;
          display: inline-block;
          margin: 0px; }
      .firstColWork .info .workScd .labels {
        width: 46%;
        display: inline-block;
        text-align: left; }
        .firstColWork .info .workScd .labels .label {
          background-color: transparent;
          color: #231F20;
          text-align: left;
          font-size: 12px;
          font-family: light;
          padding: 0px; }
        .firstColWork .info .workScd .labels .first {
          display: block;
          padding: 0px;
          margin-bottom: 7px; }
    .firstColWork .info .about {
      padding: 12px;
      height: 20%;
      overflow: hidden; }
      .firstColWork .info .about span {
        font-family: medium;
        color: #FFB733;
        font-size: 16px;
        margin-bottom: 10px; }
      .firstColWork .info .about p {
        font-family: light;
        color: #808285;
        opacity: 0.8;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 0px; }
    .firstColWork .info .workLevel {
      margin-bottom: 15px;
      padding: 0;
      padding-left: 10px; }
      .firstColWork .info .workLevel .level .fa-bar-chart {
        font-size: 30px;
        color: #6A0C38; }
      .firstColWork .info .workLevel .lLabels span {
        font-family: light;
        color: #231F20;
        font-size: 12px;
        margin: 5px;
        padding: 0px;
        background-color: transparent; }
    .firstColWork .info .workLeft {
      margin-bottom: 15px;
      padding: 0;
      padding-left: 10px; }
      .firstColWork .info .workLeft i {
        font-size: 30px;
        color: #6A0C38;
        margin: 0px;
        padding: 0px; }
      .firstColWork .info .workLeft .badge {
        font-family: light;
        color: #231F20;
        font-size: 12px;
        background-color: transparent; }

.madeby {
  padding: 12px; }
  .madeby span {
    font-family: medium;
    color: #FFB733;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 0px;
    margin-top: 6px; }
  .madeby .supervise {
    padding: 0px; }
  .madeby .superviseInfos img {
    width: 30px;
    border-radius: 40px;
    border: 2px #FFB733 solid; }
  .madeby .superviseInfos span {
    font-family: bold;
    font-size: 16px;
    color: #6A0C38;
    margin-left: 5px;
    vertical-align: top;
    margin-bottom: 0px; }

.secCol .showPosts {
  margin-top: 0px; }
  .secCol .showPosts .recentPosts {
    background-color: #FFFFFF;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
    padding: 0px;
    margin-bottom: 40px; }
    .secCol .showPosts .recentPosts .userInfos {
      padding: 10px; }
      .secCol .showPosts .recentPosts .userInfos img {
        width: 60px;
        border-radius: 40px;
        border: 2px #FFB733 solid;
        display: inline-block; }
      .secCol .showPosts .recentPosts .userInfos span {
        font-family: bold;
        font-size: 20px;
        color: #FFB733;
        margin-left: 5px; }
    .secCol .showPosts .recentPosts .conatinerComment .largePic img {
      overflow-x: hidden;
      width: 100%;
      max-height: 20%; }
    .secCol .showPosts .recentPosts .conatinerComment .largePic video {
      width: 100%;
      object-fit: cover; }
    .secCol .showPosts .recentPosts .conatinerComment .titleEdit {
      margin: 10px 0px; }
      .secCol .showPosts .recentPosts .conatinerComment .titleEdit div h3 {
        font-family: medium;
        color: #6A0C38; }
      .secCol .showPosts .recentPosts .conatinerComment .titleEdit .edits {
        text-align: right;
        MARGIN-BOTTOM: 20PX; }
        .secCol .showPosts .recentPosts .conatinerComment .titleEdit .edits i {
          color: #525252;
          font-size: 20px;
          margin-top: 20px;
          margin-left: 15px; }

#socialHolder {
  display: block;
  text-align: -webkit-center; }
  #socialHolder #socialShare .btn-info {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: 0px; }
    #socialHolder #socialShare .btn-info .btn-share {
      display: block;
      border-radius: 35px;
      padding: 7px;
      width: 190px;
      background-color: #6A0C38;
      color: #FFFFFF;
      border: 0px;
      font-family: medium;
      font-size: 16px;
      margin: 20px 0px; }
      #socialHolder #socialShare .btn-info .btn-share:hover {
        background-color: #FFB733;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.22); }
      #socialHolder #socialShare .btn-info .btn-share .fa {
        color: #FFFFFF;
        font-size: 20px;
        margin: 5px; }
  #socialHolder .dropdown-menu {
    position: absolute;
    top: 100%;
    min-width: 0px;
    padding: 0;
    margin: 0; }
    #socialHolder .dropdown-menu li a:hover i {
      color: #FFB733; }
    #socialHolder .dropdown-menu li a i {
      color: #6A0C38; }

.thirdCol {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 0px;
  background-color: #6A0C38;
  overflow: hidden;
  padding: 0px;
  height: 248px;
  overflow: hidden;
  margin-bottom: 15px;
  opacity: 0.9; }
  .thirdCol .workName {
    margin: 10px; }
    .thirdCol .workName .text-left {
      color: #FFFFFF;
      font-family: light;
      font-size: 18px;
      padding: 0px;
      margin-top: 10px; }
    .thirdCol .workName .text-center {
      padding: 0px; }
      .thirdCol .workName .text-center .fa {
        color: #FFB733;
        font-size: 30px;
        margin: 5px; }
  .thirdCol .newPost {
    text-align: right;
    margin: 10 0px; }
    .thirdCol .newPost .btn-lg {
      background-color: #FFFFFF;
      border-radius: 50px;
      color: #6A0C38;
      font-family: medium;
      font-size: 16px;
      padding: 15px;
      width: 190px;
      margin-bottom: 0px;
      margin: 5px; }
      .thirdCol .newPost .btn-lg i {
        color: #6A0C38; }
      .thirdCol .newPost .btn-lg:hover {
        color: #6A0C38;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.22); }
        .thirdCol .newPost .btn-lg:hover i {
          color: #6A0C38; }
  .thirdCol .numbers {
    margin: 20 0px; }
    .thirdCol .numbers .count {
      padding: 20px 0px; }
      .thirdCol .numbers .count .titl {
        font-family: medium;
        color: #231F20;
        font-size: 16px; }
      .thirdCol .numbers .count .num {
        font-family: light;
        color: #808285;
        font-size: 16px; }
  .thirdCol .about {
    height: 50%;
    overflow: hidden; }
    .thirdCol .about span {
      font-family: medium;
      color: #FFB733;
      font-size: 15px;
      margin-bottom: 10px; }
    .thirdCol .about p {
      font-family: light;
      color: #FFFFFF;
      opacity: 0.8;
      font-size: 12px;
      overflow: hidden;
      padding: 10px 0px; }
  .thirdCol .workScd {
    margin-bottom: 0px;
    margin-top: 30px;
    padding: 0;
    padding-left: 10px;
    color: #FFFFFF;
    text-align: center; }
    .thirdCol .workScd .bigdate {
      width: 60%;
      font-size: 12px;
      font-family: light; }
      .thirdCol .workScd .bigdate i {
        font-size: 40px;
        color: #FFFFFF;
        margin: 0px;
        padding: 0px; }
      .thirdCol .workScd .bigdate p {
        font-size: 40px;
        font-family: medium;
        display: inline-block;
        margin: 0px; }
    .thirdCol .workScd .labels {
      width: 46%;
      display: inline-block;
      text-align: left; }
      .thirdCol .workScd .labels .label {
        background-color: transparent;
        color: #FFFFFF;
        text-align: left;
        font-size: 12px;
        font-family: light;
        padding: 0px; }
      .thirdCol .workScd .labels .first {
        display: block;
        padding: 0px;
        margin-bottom: 7px; }
    .thirdCol .workScd .workdur {
      margin-bottom: 15px;
      padding: 0;
      padding-left: 10px;
      text-align: left; }
      .thirdCol .workScd .workdur .duration .fa-hourglass-half {
        font-size: 30px;
        color: #FFFFFF; }
      .thirdCol .workScd .workdur .lLabels span {
        font-family: light;
        color: #FFFFFF;
        font-size: 12px;
        margin: 15px;
        padding: 0px;
        background-color: transparent; }
    .thirdCol .workScd .workLeft {
      margin-bottom: 15px;
      padding: 0;
      padding-left: 10px;
      text-align: left; }
      .thirdCol .workScd .workLeft i {
        font-size: 30px;
        color: #FFFFFF;
        margin: 0px;
        padding: 0px; }
      .thirdCol .workScd .workLeft .badge {
        font-family: light;
        color: #FFFFFF;
        font-size: 12px;
        background-color: transparent; }
  .thirdCol .reward {
    padding: 12px;
    height: 30%;
    overflow: hidden;
    background-color: #6A0C38; }
    .thirdCol .reward span {
      font-family: medium;
      color: #FFB733;
      font-size: 16px;
      margin-bottom: 10px; }
    .thirdCol .reward p {
      font-family: light;
      color: #FFFFFF;
      opacity: 0.8;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 0px; }
  .thirdCol .madeby {
    padding: 12px;
    height: 30%;
    overflow: hidden;
    display: inline-block; }
    .thirdCol .madeby span {
      font-family: medium;
      color: #FFB733;
      font-size: 16px;
      margin-bottom: 10px;
      display: inline-block; }
    .thirdCol .madeby .superviseInfos {
      padding: 10px;
      display: inline-block;
      display: inline-block; }
      .thirdCol .madeby .superviseInfos img {
        width: 40px;
        border-radius: 40px;
        border: 2px #FFB733 solid; }
      .thirdCol .madeby .superviseInfos span {
        font-family: bold;
        font-size: 16px;
        color: #6A0C38;
        margin-left: 5px;
        vertical-align: middle; }

/*# sourceMappingURL=singleWorkshop.css.map */
