body {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  background-color: #FFFFFF; }
  body:focus, body:active, body:visited, body:hover {
    outline: 0px; }

#profilepage .row {
  position: relative; }
#profilepage .firstCol {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 0px;
  background-color: #FFFFFF;
  height: 551px;
  margin-bottom: 30px; }
  #profilepage .firstCol .userImg {
    height: 45%;
    margin: 0px; }
    #profilepage .firstCol .userImg .opacity {
      background-color: #231F20;
      position: relative;
      height: 100%;
      text-align: -webkit-center; }
      #profilepage .firstCol .userImg .opacity img {
        display: block;
        opacity: 0.6;
        overflow: hidden;
        width: 100%;
        height: 100%; }
      #profilepage .firstCol .userImg .opacity .follow {
        display: block;
        position: relative;
        bottom: 60px;
        border-radius: 35px;
        padding: 7px;
        width: 135px;
        background-color: #6A0C38;
        color: #FFFFFF;
        border: 0px;
        font-family: bold;
        font-size: 18px; }
        #profilepage .firstCol .userImg .opacity .follow:hover {
          background-color: #FFB733;
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.22); }
  #profilepage .firstCol .userName {
    margin: 10px; }
    #profilepage .firstCol .userName span {
      color: #6A0C38;
      font-family: medium;
      font-size: 20px;
      padding: 0px; }
    #profilepage .firstCol .userName span {
      padding: 0px; }
      #profilepage .firstCol .userName span .fa {
        color: #FFB733;
        font-size: 30px;
        margin: 5px; }
  #profilepage .firstCol .info p {
    font-family: light;
    font-size: 14px;
    color: #808285;
    margin: 5px 10px; }
  #profilepage .firstCol .socialLink {
    text-align: center;
    margin: 20px 0px; }
    #profilepage .firstCol .socialLink .fa {
      color: #FFB733;
      font-size: 30px; }
      #profilepage .firstCol .socialLink .fa:hover {
        color: #6A0C38; }
#profilepage .secCol .showPosts {
  margin-top: 0px; }
  #profilepage .secCol .showPosts .recentPosts {
    background-color: #FFFFFF;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
    padding: 0px;
    margin-bottom: 40px; }
    #profilepage .secCol .showPosts .recentPosts .userInfos {
      padding: 10px; }
      #profilepage .secCol .showPosts .recentPosts .userInfos img {
        width: 60px;
        border-radius: 40px;
        border: 2px #FFB733 solid;
        display: inline-block; }
      #profilepage .secCol .showPosts .recentPosts .userInfos span {
        font-family: bold;
        font-size: 20px;
        color: #FFB733;
        margin-left: 5px; }
    #profilepage .secCol .showPosts .recentPosts .conatinerComment .largePic img {
      overflow-x: hidden;
      width: 100%;
      max-height: 20%; }
    #profilepage .secCol .showPosts .recentPosts .conatinerComment .largePic video {
      width: 100%;
      object-fit: cover; }
    #profilepage .secCol .showPosts .recentPosts .conatinerComment .titleEdit {
      margin: 10px 0px; }
      #profilepage .secCol .showPosts .recentPosts .conatinerComment .titleEdit div h3 {
        font-family: medium;
        color: #6A0C38; }
      #profilepage .secCol .showPosts .recentPosts .conatinerComment .titleEdit .edits {
        text-align: right; }
        #profilepage .secCol .showPosts .recentPosts .conatinerComment .titleEdit .edits i {
          color: #525252;
          font-size: 20px;
          margin-top: 20px;
          margin-left: 15px; }
    #profilepage .secCol .showPosts .recentPosts .conatinerComment .disc p {
      font-size: 16px;
      font-family: regular;
      color: #231F20;
      padding: 10px; }
    #profilepage .secCol .showPosts .recentPosts .conatinerComment .disc audio {
      width: 100%; }
    #profilepage .secCol .showPosts .recentPosts .conatinerComment .interactionUser {
      background-color: #E4E4E4;
      font-size: 20px;
      padding: 10px; }
      #profilepage .secCol .showPosts .recentPosts .conatinerComment .interactionUser a {
        margin: 0 10px; }
        #profilepage .secCol .showPosts .recentPosts .conatinerComment .interactionUser a i {
          color: #FFB733; }
        #profilepage .secCol .showPosts .recentPosts .conatinerComment .interactionUser a .badge {
          background-color: transparent;
          color: #525252;
          font-size: 16px;
          font-family: medium; }
      #profilepage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder {
        display: inline-block; }
        #profilepage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .btn-info {
          margin: 0px;
          padding: 0px;
          background-color: transparent;
          border: 0px; }
          #profilepage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .btn-info .fa-share-alt {
            font-size: 20px; }
        #profilepage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .share .caret {
          display: none; }
        #profilepage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu {
          border-radius: 20px;
          min-width: 100px;
          position: absolute;
          top: 75%;
          padding: 0; }
          #profilepage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu li a {
            margin: 10 0px; }
            #profilepage .secCol .showPosts .recentPosts .conatinerComment .interactionUser #socialHolder #socialShare .dropdown-menu li a:hover i {
              color: #FFB733; }
    #profilepage .secCol .showPosts .recentPosts .conatinerComment .UserComments .writePost {
      padding: 10px; }
      #profilepage .secCol .showPosts .recentPosts .conatinerComment .UserComments .writePost .form-control {
        width: 100%; }
        #profilepage .secCol .showPosts .recentPosts .conatinerComment .UserComments .writePost .form-control:focus {
          border-color: #FFB733; }
      #profilepage .secCol .showPosts .recentPosts .conatinerComment .UserComments .writePost .posting {
        display: block;
        margin: 20px;
        margin-right: 5px;
        margin-bottom: 0;
        text-align: right; }
        #profilepage .secCol .showPosts .recentPosts .conatinerComment .UserComments .writePost .posting .btn {
          background-color: #6A0C38;
          color: #FFFFFF;
          border: 0px;
          vertical-align: middle;
          padding: 10px;
          border-radius: 25px;
          width: 120px; }
    #profilepage .secCol .showPosts .recentPosts .conatinerComment .UserComments .media-list .media {
      margin-left: 20px;
      margin-top: 10px; }
      #profilepage .secCol .showPosts .recentPosts .conatinerComment .UserComments .media-list .media .media-left {
        width: 10%; }
        #profilepage .secCol .showPosts .recentPosts .conatinerComment .UserComments .media-list .media .media-left a img {
          border: 2px solid #FFB733;
          border-radius: 50px;
          display: inline-block;
          width: 100%; }
      #profilepage .secCol .showPosts .recentPosts .conatinerComment .UserComments .media-list .media .media-body {
        font-family: regular;
        font-size: 12px;
        color: #808285; }
        #profilepage .secCol .showPosts .recentPosts .conatinerComment .UserComments .media-list .media .media-body h4 {
          font-family: regular;
          font-size: 16px;
          color: #231F20; }
        #profilepage .secCol .showPosts .recentPosts .conatinerComment .UserComments .media-list .media .media-body p {
          margin: 10px; }
    #profilepage .secCol .showPosts .recentPosts .conatinerComment .seeComments {
      background-color: #808285;
      text-align: center;
      padding: 10px; }
      #profilepage .secCol .showPosts .recentPosts .conatinerComment .seeComments span {
        font-size: 16px;
        font-family: medium;
        color: #FFFFFF; }
        #profilepage .secCol .showPosts .recentPosts .conatinerComment .seeComments span i {
          margin: 0 8px; }
#profilepage #socialHolder {
  display: block;
  text-align: -webkit-center; }
  #profilepage #socialHolder #socialShare .btn-info {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: 0px; }
    #profilepage #socialHolder #socialShare .btn-info .btn-share {
      display: block;
      border-radius: 35px;
      padding: 7px;
      width: 170px;
      background-color: #6A0C38;
      color: #FFFFFF;
      border: 0px;
      font-family: medium;
      font-size: 16px;
      margin: 20px 0px; }
      #profilepage #socialHolder #socialShare .btn-info .btn-share:hover {
        background-color: #FFB733;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.22); }
      #profilepage #socialHolder #socialShare .btn-info .btn-share .fa {
        color: #FFFFFF;
        font-size: 20px;
        margin: 5px; }
  #profilepage #socialHolder .dropdown-menu {
    position: absolute;
    top: 100%;
    min-width: 0px;
    padding: 0;
    margin: 0; }
    #profilepage #socialHolder .dropdown-menu li a:hover i {
      color: #FFB733; }
    #profilepage #socialHolder .dropdown-menu li a i {
      color: #6A0C38; }
#profilepage input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em; }
#profilepage input[type="date"]:focus:before,
#profilepage input[type="date"]:valid:before {
  content: ""; }
#profilepage .thirdCol {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 0px;
  background-color: #FFFFFF;
  height: 551px;
  overflow: hidden;
  margin-bottom: 30px;
  position: inherit; }
  #profilepage .thirdCol .newPost {
    text-align: center;
    margin: 20 0px; }
    #profilepage .thirdCol .newPost .btn-lg {
      background-color: #6A0C38;
      border-radius: 50px;
      color: #FFFFFF;
      font-family: medium;
      font-size: 16px;
      padding: 15px;
      width: 150px;
      margin-bottom: 0px; }
      #profilepage .thirdCol .newPost .btn-lg i {
        color: #FFFFFF; }
      #profilepage .thirdCol .newPost .btn-lg:hover {
        background-color: #FFB733;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.22); }
  #profilepage .thirdCol .numbers {
    margin: 20 0px; }
    #profilepage .thirdCol .numbers .count {
      padding: 20px 0px; }
      #profilepage .thirdCol .numbers .count .titl {
        font-family: medium;
        color: #231F20;
        font-size: 16px; }
      #profilepage .thirdCol .numbers .count .num {
        font-family: light;
        color: #808285;
        font-size: 16px; }
  #profilepage .thirdCol .about {
    padding: 12px;
    height: 30%;
    overflow: hidden;
    background-color: #6A0C38; }
    #profilepage .thirdCol .about span {
      font-family: medium;
      color: #FFB733;
      font-size: 16px;
      margin-bottom: 10px; }
    #profilepage .thirdCol .about p {
      font-family: light;
      color: #FFFFFF;
      opacity: 0.8;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 0px; }
  #profilepage .thirdCol .typeof {
    padding: 12px;
    margin: 20px 0px;
    overflow: scroll; }
    #profilepage .thirdCol .typeof span {
      font-family: medium;
      color: #231F20;
      font-size: 16px;
      margin-bottom: 20px; }
    #profilepage .thirdCol .typeof .review {
      padding: 0 7px; }
      #profilepage .thirdCol .typeof .review .categ {
        padding: 7px 0px;
        font-family: light;
        font-size: 14px;
        color: #808285; }
      #profilepage .thirdCol .typeof .review .reviewrate {
        padding: 7px 0px;
        font-family: regular;
        color: #6A0C38;
        font-size: 16px; }
        #profilepage .thirdCol .typeof .review .reviewrate i {
          color: #FFB733;
          font-size: 16px;
          margin-right: 10px; }

#editprofile .infoName {
  text-align: center; }
  #editprofile .infoName .userInfos {
    padding: 10px; }
    #editprofile .infoName .userInfos img {
      width: 60px;
      border-radius: 40px;
      border: 2px #FFB733 solid;
      display: inline-block; }
    #editprofile .infoName .userInfos span {
      font-family: bold;
      font-size: 20px;
      color: #6A0C38;
      margin-left: 5px;
      vertical-align: middle; }
#editprofile h5 {
  font-family: medium;
  font-size: 23px;
  color: #FFB733;
  margin: 20px 0px;
  text-align: center; }
#editprofile h6 {
  font-family: medium;
  font-size: 14px;
  color: #231F20;
  margin: 20px 0px;
  text-align: left; }
#editprofile .done {
  text-align: center;
  margin: 20 0px; }
  #editprofile .done .btn-lg {
    background-color: #6A0C38;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: medium;
    font-size: 16px;
    padding: 10px;
    width: 100px;
    margin-bottom: 0px; }
    #editprofile .done .btn-lg i {
      color: #FFFFFF; }
    #editprofile .done .btn-lg:hover {
      background-color: #FFB733;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.22); }
#editprofile .basicInfo {
  border-right: 1px #e9ebee solid;
  margin: 20px 0px; }
  #editprofile .basicInfo .form-control {
    border: 0px;
    border-bottom: 1px solid #e9ebee;
    width: 80%;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    background-color: transparent;
    margin-bottom: 30px;
    font-family: light;
    font-size: 14px; }
#editprofile .personalInfo {
  margin: 20px 0px;
  border-right: 1px #e9ebee solid; }
  #editprofile .personalInfo .editSelected {
    padding: 12px 12px; }
    #editprofile .personalInfo .editSelected select {
      width: 80%;
      border: 0px;
      border-bottom: 1px solid #e9ebee;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
      background-color: transparent;
      border-radius: 4px;
      font-family: light;
      font-size: 14px;
      color: #808285;
      margin-bottom: 30px; }
      #editprofile .personalInfo .editSelected select option {
        color: #808285; }
  #editprofile .personalInfo .form-control {
    width: 80%;
    border: 0px;
    border-bottom: 1px solid #e9ebee;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    background-color: transparent;
    margin-bottom: 30px;
    font-family: light;
    font-size: 14px; }
  #editprofile .personalInfo .about textarea {
    width: 80%;
    border: 1px solid #e9ebee; }
#editprofile .connectInfo {
  margin: 20px 0px; }
  #editprofile .connectInfo .form-group {
    font-size: 16px;
    color: #808285;
    font-family: regular;
    margin-bottom: 0px; }
    #editprofile .connectInfo .form-group .file {
      visibility: hidden;
      position: absolute; }
    #editprofile .connectInfo .form-group .input-group {
      margin-top: 10px; }
      #editprofile .connectInfo .form-group .input-group .input-group-addon {
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #e9ebee; }
      #editprofile .connectInfo .form-group .input-group .input-lg {
        margin: 0px;
        border-radius: 0;
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #e9ebee;
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
        font-size: 16px;
        color: #808285;
        font-family: regular;
        width: 100%; }
      #editprofile .connectInfo .form-group .input-group .input-group-btn .browse {
        font-size: 16px;
        color: #FFFFFF;
        font-family: regular;
        background-color: #6A0C38;
        border-color: #45132E;
        outline: none;
        border-radius: 0;
        border: 0px;
        border-bottom: 1px solid #e9ebee;
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075); }
        #editprofile .connectInfo .form-group .input-group .input-group-btn .browse:hover {
          background-color: #3c0720;
          border-color: #3c0720; }
        #editprofile .connectInfo .form-group .input-group .input-group-btn .browse:active, #editprofile .connectInfo .form-group .input-group .input-group-btn .browse:focus {
          background-color: #810f44;
          border-color: #810f44; }
        #editprofile .connectInfo .form-group .input-group .input-group-btn .browse i {
          margin-right: 10px; }
  #editprofile .connectInfo div {
    margin: 0px; }
    #editprofile .connectInfo div .form-control {
      border: 0px;
      border-bottom: 1px solid #e9ebee;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
      background-color: transparent;
      margin-bottom: 30px;
      font-family: light;
      font-size: 14px;
      width: 80%; }
    #editprofile .connectInfo div .fa-facebook, #editprofile .connectInfo div .fa-twitter, #editprofile .connectInfo div .fa-google-plus {
      font-size: 20px;
      color: #6A0C38; }
#editprofile .personalInfo {
  margin: 20px 0px;
  border-right: 1px #E4E4E4 solid; }
  #editprofile .personalInfo .general {
    padding: 12px 12px; }
    #editprofile .personalInfo .general li {
      border: 0px;
      background-color: transparent;
      font-family: light;
      font-size: 14px;
      color: #808285;
      margin-bottom: 30px;
      border-bottom: 1px #e9ebee solid; }
      #editprofile .personalInfo .general li div {
        display: inline-block; }
  #editprofile .personalInfo .about p {
    font-family: light;
    font-size: 14px; }
#editprofile .connectInfo {
  margin: 20px 0px; }
  #editprofile .connectInfo .lnk a {
    margin: 20px; }
    #editprofile .connectInfo .lnk a .socialize {
      margin-bottom: 30px;
      font-size: 40px;
      color: #6A0C38; }
      #editprofile .connectInfo .lnk a .socialize:hover {
        cursor: pointer; }
  #editprofile .connectInfo .others span {
    font-family: light;
    font-size: 14px;
    color: #808285;
    margin-bottom: 30px;
    display: block;
    padding: 15px;
    padding-left: 0px; }
  #editprofile .connectInfo .typeof {
    padding: 12px;
    margin: 20px 0px; }
    #editprofile .connectInfo .typeof .review {
      padding: 0 7px; }
      #editprofile .connectInfo .typeof .review .categ {
        padding: 7px 0px;
        font-family: light;
        font-size: 14px;
        color: #808285; }
      #editprofile .connectInfo .typeof .review .reviewrate {
        padding: 7px 0px;
        font-family: regular;
        color: #6A0C38;
        font-size: 16px; }
        #editprofile .connectInfo .typeof .review .reviewrate i {
          color: #FFB733;
          font-size: 16px;
          margin-right: 10px; }

/*# sourceMappingURL=talentProfile.css.map */
