#talmentconfirmationpage body {
  background-image: url(../imgs/plain.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
#talmentconfirmationpage .mainTitle {
  font-size: inherit;
  color: #FFB733;
  text-align: center;
  margin-bottom: 20px; }
  #talmentconfirmationpage .mainTitle small {
    color: #e9ebee;
    font-size: inherit; }
#talmentconfirmationpage .createConfirmation {
  box-shadow: 5px 5px 5px #45132E;
  padding: 0px; }
  #talmentconfirmationpage .createConfirmation input {
    border: 0px;
    border: 1px #E4E4E4 solid;
    border-radius: 0px;
    box-shadow: inset 0 0 0 transparent; }
  #talmentconfirmationpage .createConfirmation span {
    font-family: light;
    font-size: 16px;
    color: #E4E4E4; }
  #talmentconfirmationpage .createConfirmation textarea {
    border: 0px;
    border: 1px #E4E4E4 solid;
    border-radius: 0px;
    box-shadow: inset 0 0 0 transparent; }
  #talmentconfirmationpage .createConfirmation div {
    display: block;
    background-color: #45132E;
    border: 0px;
    padding: 0px;
    margin: 0px; }
    #talmentconfirmationpage .createConfirmation div .icons {
      display: inline-block; }
      #talmentconfirmationpage .createConfirmation div .icons input {
        color: #FFFFFF;
        font-size: 16px;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px; }
      #talmentconfirmationpage .createConfirmation div .icons .fa {
        color: #FFFFFF;
        font-size: 22px;
        padding: 10px;
        margin-top: 5px;
        margin-left: 5px; }
    #talmentconfirmationpage .createConfirmation div .wpost {
      color: #FFB733;
      text-align: right; }
      #talmentconfirmationpage .createConfirmation div .wpost a {
        display: inline-block;
        font-family: bold;
        font-size: 20px;
        padding: 10px;
        color: #FFB733; }
        #talmentconfirmationpage .createConfirmation div .wpost a:hover {
          text-decoration: none;
          cursor: pointer; }
#talmentconfirmationpage .upload {
  font-size: 14px; }
#talmentconfirmationpage .form-group {
  font-size: 16px;
  color: #808285;
  font-family: regular; }
  #talmentconfirmationpage .form-group .file {
    visibility: hidden;
    position: absolute; }
  #talmentconfirmationpage .form-group .input-group {
    display: block; }
    #talmentconfirmationpage .form-group .input-group .input-group-addon {
      background-color: transparent;
      border: 0px; }
    #talmentconfirmationpage .form-group .input-group .input-lg {
      border-radius: 0;
      background-color: transparent;
      border: 0px;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
      font-size: 14px;
      color: #808285;
      font-family: regular; }
    #talmentconfirmationpage .form-group .input-group .input-group-btn .browse {
      font-size: 16px;
      color: #FFFFFF;
      font-family: regular;
      background-color: transparent;
      border-color: transparent;
      outline: none;
      border-radius: 0;
      border: 0px;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075); }
      #talmentconfirmationpage .form-group .input-group .input-group-btn .browse i {
        padding: 0px;
        margin: 0px; }
#talmentconfirmationpage .modal .modal-content {
  font-size: 16px;
  font-family: medium;
  color: #6A0C38;
  padding: 20px;
  background-color: #e9ebee; }
  #talmentconfirmationpage .modal .modal-content h2 {
    color: #808285; }

/*# sourceMappingURL=talentConfirmation.css.map */
