<ion-view view-title="About">
  <ion-content>
<div class="list">
  <h2 class="ion-ios-people" style="color: #6A0C38">  Talentoon Team <br></h2>

    <a class="item item-avatar" >
      <p class="ion-android-contact"style="color:#6A0C38"> Bassant Ahmed</p>
      <p class="ion-android-contact"style="color:#6A0C38">Esraa Mahmoud </p>
      <p class="ion-android-contact"style="color:#6A0C38"> Mina Zakira</p>
      <p class="ion-android-contact"style="color:#6A0C38"> Nada ElBayomy</p>
      <p class="ion-android-contact"style="color:#6A0C38"> Nahla Magdy</p>
      <p class="ion-android-contact"style="color:#6A0C38"> Raina ElNagar</p>
      <p class="ion-android-contact"style="color:#6A0C38"> Simona Soliman</p>
    </a>


  <h3 class="item">
  Version : 1.0.0
</h3>
    <a class="item" style="background-color:#6A0C38;color:white">contact us </a>
    <a class="item item-icon-left" >
    <i class="icon ion-email"style="color: #6A0C38"></i>
    example@gmail.com
  </a>

  <a  class="item item-icon-left">
   <i class="icon ion-ios-telephone"style="color: #6A0C38"></i>
      Call Ma : 01200000000
 </a>

</div>



<div class="tabs tabs-icon-top" >
  <a class="tab-item" ui-sref="app.home">
    <i class="icon ion-home"style="color: #6A0C38"></i>
    Home
  </a>
  <a class="tab-item"ui-sref="app.categories">
    <i class="icon ion-star"style="color: #6A0C38"></i>
    <i class="ion-android-color-palette" style="color: #6A0C38"></i>
    <i class="ion-music-note" style="color: #6A0C38"></i>
    <i class="ion-camera" style="color: #6A0C38"></i>
    <i class="ion-compose" style="color: #6A0C38"></i>
    Categories
  </a>
  <a class="tab-item"ui-sref="app.myprofile">
    <i class="icon ion-android-contact"style="color: #6A0C38"></i>
    My Profile
  </a>
</div>
</ion-content>
</ion-view>
