<ion-view view-title="About">
  <ion-content>
<div class="list">

    <a class="item item-avatar" >
      <h2 >Team Name : Talentoon</h2>
      <p class="ion-person"> Bassant Ahmed</p>
      <p class="ion-person">Esraa Mahmoud </p>
      <p class="ion-person"> Mina Zakira</p>
      <p class="ion-person"> Nada ElBayomy</p>
      <p class="ion-person"> Nahla Magdy</p>
      <p class="ion-person"> Raina ElNagar</p>
      <p class="ion-person"> Simona Soliman</p>
    </a>


  <h3 class="item">
  Version : 1.0.0
</h3>
    <a class="item">contact us </a>
    <a class="item item-icon-left" >
    <i class="icon ion-email"></i>
    example@gmail.com
  </a>

  <a  class="item item-icon-left">
   <i class="icon ion-ios-telephone"></i>
      Call Ma : 01200000000
 </a>

</div>

</ion-view>
</ion-content>
