


<ion-view view-title="Categories">
  <ion-content>
    <div class="col-lg-4 col-md-4 col-sm-12 categorySection" ng-repeat="category in categories">

  <ion-card>

    <img src="http://172.16.3.77:8000/{{category.image}}"/>
    <center><div class="card-title"><h2  style="color: #FFB733">{{category.title}}<h2></div></center>
    <div>{{category.description}}</div>
  <center>  <p  class="btnAction" style="background-color:#6A0C38;"><a href="#/app/category/{{category.id}}" class="button" style="background-color:#6A0C38;color:white" role="button">Discover More</a></p>
</center>
  </ion-card>
</div>


  </ion-content>
</ion-view>
