
<ion-view view-title="Categories posts">
  <ion-content>
    <div class="col-lg-4 col-md-4 col-sm-12 categorySection" ng-repeat="post in category3Posts  track by $index">

  <ion-card>

    <center><img  class="img-responsive" src="http://172.16.3.77:8000/{{post.media_url}}" alt="" style="height:250px"></center>
    <center><h3 style="color: #FFB733">{{post.title}}</h3></center>
    <p style="margin-left:28px;margin-right:19px">{{post.description}}</p>
    <p style="margin-left:28px;margin-right:19px"> at :{{post.created_at}}</p>
    <p style="color:#6A0C38;margin-left:28px;margin-right:19px"> By:{{post.first_name}} {{post.last_name}}</p>
    <i class="ion-heart" aria-hidden="true"style="color:#6A0C38;margin-left:28px"></i>  <span class="badge" style="color:#6A0C38;font-size:15px">{{post.like_count}}</span>

<input type="hidden" ng-model="post.category_id" value="{{post.category_id}}">

  </ion-card>
  <center>  <a href="#/app/category/{{post.category_id}}/posts/{{post.id}}" class="button" style="background-color:#6A0C38;color:white;width: 180px;"role="button" >details</a>
</center>
<hr>
</div>
<a href="#/app/category/{{cat_id}}/addpost" class=" button button-block" style="background-color:#6A0C38;color:white"><i class="fa fa-pencil" aria-hidden="true"></i> Create New</a>


  </ion-content>
</ion-view>
