<ion-view view-title="Home">
  <ion-header-bar>
    <h1 class="title" style="color: #FFB733">Top Posts</h1>


  </ion-header-bar>
  <ion-content>
      <div ng-repeat="post in topposts | limitTo:3  track by $index">
        <ion-card>
      <!-- <center> <img  class="img-responsive" src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}{{post.media_url}}" alt="" style="height:250px">
</center> -->


<div ng-if="post.media_type === 'image'">

  <img class="img-responsive" ng-src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{post.media_url}}" alt=""style="height:250px">
</div>

<div ng-if="post.media_type  == 'video'  ">
  <video  controls preload="auto" class="video" width="100%">
    <source ng-src="{{post.url}}"  type="video/mp4"/>
     </video>
   </div>

<div ng-if="post.media_type == 'audio'">
  <audio controls>

           <source ng-src="{{post.url}}" type="audio/mp3"/>

           </audio>
</div>



          <ion-card-content>

            <p>
              <p style="margin-left:22px;mergin-right:16px">{{post.description}}</p>

            </p>
            <a class="item item-avatar" href="" style="background-color: #6A0C38">
              <img ng-src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{post.user_image}}" alt="">
                 <p>{{post.first_name}} {{post.last_name}}</p>
                 <i class="ion-heart" aria-hidden="true"style="color:white;margin-left:28px"></i>  <span class="badge" style="color:white;font-size:15px;margin-right: 184px;
    margin-top:20px;">{{post.total}}</span>

               </a>
          </ion-card-content>

        </ion-card>
<hr>
  </div>
  </ion-content>
</ion-view>
