<ion-view view-title="login">
  <ion-content class="homepage">
    <div class="overlay">
      <div class="contents">


      <form ng-submit="submitted = true; loginFn(login.$valid)" name="login" novalidate >
          <div class="field">
              <h3 style="color:#6A0C38">Email</h3>
              <input type="email" required name="email" ng-model="user.email" class="form-control" placeholder="Email">
              <p class="error" ng-if="submitted && login.email.$error.required" >please enter your email</p>
              <p class="error" ng-if="submitted && login.email.$error.email"> please enter valid email</p>
          </div>

          <div class="field">
              <h3 style="color:#6A0C38;font-size:30">password</h3>
              <input type="password" name="password"  required ng-model="user.password"class="form-control" placeholder="Password">
              <p class="error" ng-if="submitted && login.password.$error.required" >please enter your password</p>
          </div>

          <button class="button button-block " style="background-color:#6A0C38;color:white">Log in</button>
      </form>
      <!-- <button class="button button-block " style="background-color:#6A0C38;color:white" ui-sref="landing">Go Back </button> -->

    </div>
  </div>
  </ion-content>
</ion-view>
