
<ion-view view-title="my profile">
  <ion-content>
<style>
.jumbotron{

  /*background-image: url("Imgs/Persons/photo.jpg");*/
  height: 100%;
}
</style>
<center>
<div class="jumbotron" style="background-color:#6A0C38">

<!-- <img  class="img-circle"src="Imgs/Persons/face1.jpg"/> -->
<img  class="img-circle"ng-src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{userprofile.image}}" width="150px" style="border-radius:50%;margin-top: 10px;">

<h3 style="color:white "> welcome <br><span style="color:white ">{{userprofile.first_name}} {{userprofile.last_name}}</span></h3>
<div>
  <i class="ion-ribbon-b" style="color:white;margin-right: 308px;font-size: 47px;"
    ></i>
<h4 id="level" style="margin-right: 306px;
    color: white;">{{userprofile.level}}<h4>
</div>
<!-- <div style ="margin-left:300px">
  <p style="color: white;">my points <p>
  <i class="ion-erlenmeyer-flask" style="color:white;"
    ></i>
<h4 id="level" style="color: white;">
  {{userprofile.points_number}}<h4>
</div> -->

</div>
</center>

<hr>

<style>
.row{
margin-left: 138px;
    margin-top: 15px;
    width: 600px;
}
</style>

<div  ng-repeat="userpost in userposts track by $index" >

<ion-card>
    <div ng-if="userpost.media_type  == 'image'  ">
<center>  <img ng-src="{{userpost.url}}" class="img-circle" style="height:200px">
</center>
  </div>
  <div ng-if="userpost.media_type  == 'video'  ">

    <video  controls preload="auto" class="video" width="100%">
      <source ng-src="{{userpost.url}}"  type="video/mp4"/>
       </video>
     </div>

  <div ng-if="userpost.media_type == 'audio'">
<center><div class="card-title" style="margin-left:10px;color: #FFB733">Title: {{userpost.title}}</div>
</center>
    <audio controls>

             <source ng-src="{{userpost.url}}" type="audio/mp3"/>

             </audio>

             <div class="card-subtitle"style="margin-left: 28px;
    margin-right: 19px;"> {{userpost.description}}</div>
             <a class="userPic"><img class="img-circle"style="border-radius:50%;width: 35px;
    margin-left: 10px;" ng-src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{userinfo.image}}" alt="" width="150px">
           <span style="font-size: 17px;color:#6A0C38"> BY : {{userinfo.first_name}} {{userinfo.last_name}}<span></a>
             <br>
             <i class="ion-heart" style="color:#6A0C38;margin-left: 27px;"></i>   <span class="badge" style="color:#6A0C38"> {{userpost.like_count
         }}</span>
  </div>


<div ng-if="userpost.media_type == 'video'||userpost.media_type == 'image'">
  <center><div class="card-title" style="margin-left:10px;color: #FFB733" >Title: {{userpost.title}}</div>
</center>

  <div class="card-subtitle"style="margin-left: 28px;
    margin-right: 19px;"> {{userpost.description}}</div>
  <a class="userPic"><img class="img-circle"style="border-radius:50%;    width: 35px;
    margin-left: 10px;" ng-src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{userinfo.image}}" alt="" width="150px">
 <span style="font-size: 17px;color:#6A0C38"> BY : {{userinfo.first_name}} {{userinfo.last_name}}<span></a>
   <br>
  <i class="ion-heart" style="color:#6A0C38;margin-left: 27px;"></i>  <span class="badge" style="color:#6A0C38"> {{userpost.like_count
 }}</span>
</div>
  </ion-card>
  <hr>
</div>

</ion-content>
</ion-view>
