<div class="container" >

	<!-- Form Start -->
	<form ng-submit="submit_post_file()" name="form" role="form" enctype="multipart/form-data">
		<!-- <input name="post_file" ng-model="post.file" type="file" class="form-control input-lg"  onchange="angular.element(this).scope().uploadedFile(this)" style="width:400px" > -->
		<!--<input type="submit" id="submit_file" value="Submit" />-->
		<br/>
		<img ng-src="{{post.file}}" style="width:300px;">
	</form>
	<!-- Form End -->

</div>


<!-- // na2s upload + submit -->


<div class="container">
    <div class="createPost col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
		<form   enctype="multipart/form-data" ng-submit="submitted=true ; newCompetitionPost(addpost.$valid)" name="addpost"  novalidate >
	        <input type="text" class="form-control" placeholder="Post title" name="title" required ng-model="post.title" >
			<p class="error" ng-if="addpost.title.$error.required && submitted" >please enter your post title</p>

			<textarea class="form-control" rows="9" placeholder="Write your post here" name="description" required ng-model="post.description"></textarea>
			<p class="error" ng-if="addpost.description.$error.required && submitted" >please enter your post description</p>

	        <!--profile image-->

	        <div class="row">
		        <input type="text" class="form-control upload input-lg" disabled placeholder="Uploaded Files">
		        </input>
			    <div class ="icons col-lg-6 col-md-6 col-sm-6">
			        <div class="form-group">
			            <input type="file" name="img[]" class="file">
			            <div class="input-group col-xs-12">
			                <span class="icons input-group-btn col-lg-6 col-md-6 col-sm-6">
			                    <button class="browse btn btn-primary input-lg" type="button"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
			                    <button class="browse btn btn-primary input-lg" type="button"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
			                    <button class="browse btn btn-primary input-lg" type="button"><i class="fa fa-video-camera" aria-hidden="true"></i></button>
			                    <button class="browse btn btn-primary input-lg" type="button"><i class="fa fa-headphones" aria-hidden="true"></i></button>
			                </span>
			            </div>
			        </div>
			    </div>
					<input name="post_file" ng-model="post.file" type="file" class="form-control input-lg"  onchange="angular.element(this).scope().uploadedFile(this)" style="width:400px" >
				<div class="wpost  col-lg-6 col-md-6 col-sm-6">
	                <a class= "text-right "> <i class="fa fa-paper-plane" aria-hidden="true"></i>
	                    Post </a>
											<input type="submit" id="submit_file" value="Submit" />
	            </div>
	        </div>
		</form>
    </div>
</div>
