


<!-- // na2s upload + submit -->

<div id="createpostpage">

<div class="container">
    <div class="createPost col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">


		<!-- Form Start -->
		<!--<form ng-submit="submit_post_file()" name="form" role="form" enctype="multipart/form-data">-->
			<!--<input name="post_file" ng-model="post.file" type="file" class="form-control input-lg"  onchange="angular.element(this).scope().uploadedFile(this)" style="width:400px" >-->
			<!--&lt;!&ndash;<input type="submit" id="submit_file" value="Submit" />&ndash;&gt;-->
			<!--<br/>-->
			<!--<img ng-src="{{post.file}}" style="width:300px;">-->
		<!--</form>-->
		<!-- Form End -->



		<form ng-submit="submitted=true ; newpost(addpost.$valid)" name="addpost"  novalidate >
	        <input type="text" class="form-control" placeholder="Post title" name="title" required ng-model="post.title" >
			<p class="error" ng-if="addpost.title.$error.required && submitted" >please enter your post title</p>

			<textarea class="form-control" rows="9" placeholder="Write your post here" name="description" required ng-model="post.description"></textarea>
			<p class="error" ng-if="addpost.description.$error.required && submitted" >please enter your post description</p>

			<input type="hidden" name="category_id"  ng-model="post.category_id" class="form-control" value="{{cat_id}}">

	        <!--&lt;!&ndash;profile image&ndash;&gt;-->

	        <div class="row">
<!--<input name="post_file" ng-model="post.file" type="file" class="form-control input-lg"  onchange="angular.element(this).scope().uploadedFile(this)" style="width:400px" >-->


		        <input type="text" class="form-control upload input-lg" disabled placeholder="Uploaded Files">
		        </input>

			    <div class ="icons col-lg-6 col-md-6 col-sm-6">
			        <div class="form-group">
			            <input  class="file" name="post_file" ng-model="post.file" type="file"  onchange="angular.element(this).scope().uploadedFile(this)">
			            <div class="input-group col-xs-12">
			                <span class="icons input-group-btn col-lg-6 col-md-6 col-sm-6">
			                    <button class="browse btn btn-primary input-lg" type="button"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
			                    <button class="browse btn btn-primary input-lg" type="button"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
			                    <button class="browse btn btn-primary input-lg" type="button"><i class="fa fa-video-camera" aria-hidden="true"></i></button>
			                    <button class="browse btn btn-primary input-lg" type="button"><i class="fa fa-headphones" aria-hidden="true"></i></button>
			                </span>
			            </div>
			        </div>
			    </div>


				<div class="wpost  col-lg-6 col-md-6 col-sm-6">
	                <button  type="submit" name="button" class= "text-right " > <i class="fa fa-paper-plane" aria-hidden="true"></i>
	                    Post </button>
	            </div>
	        </div>

			<!--<button  type="submit" name="button" style="font-size: 20px;">OK</button>-->
		</form>
    </div>
</div>
</div>
