<style>
.container{
  font-size: 30px;
}
</style>


<div class="container">
    <div class="mainTitle">
        <h1>Please Upload 1 - 3 of your work</h1>
        <h1 ng-model="talent.file">{{talent.file}}</h1>
        <small>TO HELP US EVALUATE YOUR LEVEL</small>
    </div>
    <div class="row">
        <div class="createConfirmation col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
            <form ng-submit="submitted=true ; completeTalentProfile(addtalentprofile.$valid)" name="addtalentprofile" novalidate>
                <textarea name="description" required ng-model="talent.description" class="form-control" rows="8" placeholder="Written Talent"></textarea>
                <!-- <input type="text" name="from_when" required ng-model="talent.from_when" placeholder="talented from 12 years"> -->

                <div class="row">

                    <!-- <input type="text" name="description" required ng-model="talent.description" placeholder="description"> -->

                    <input name="talent_files[]" class="form-control upload input-lg" ng-model="talent.file" type="file" class="form-control input-lg" onchange="angular.element(this).scope().uploadedReviewFile(this)" style="width:400px">

                    <input type="text" name="from_when" required ng-model="talent.from_when" placeholder="12 years">

                    <input type="text"  class="form-control upload input-lg" disabled placeholder="Uploaded Files">
                    </input>
                    <div class ="icons col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="file" name="img" class="file" multiple>
                            <div class="input-group col-xs-12">

                                <span class="icons input-group-btn col-lg-6 col-md-6 col-sm-6">
                                    <button class="browse btn btn-primary input-lg" type="button"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
                                    <button class="browse btn btn-primary input-lg" type="button"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
                                    <button class="browse btn btn-primary input-lg" type="button"><i class="fa fa-video-camera" aria-hidden="true"></i></button>
                                    <button class="browse btn btn-primary input-lg" type="button"><i class="fa fa-headphones" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="wpost  col-lg-6 col-md-6 col-sm-6">
                        <a class= "text-right " data-toggle="modal" data-target=".bs-example-modal-sm"> <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            Send </a>
                    </div>

                    <div class="wpost  col-lg-6 col-md-6 col-sm-6">

                      <input type="submit" name="button" value="Send My Talent Profile" />

                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <h2>Congratulation , </h2><br/>
                We will notify you with your level within 24hr maximum.
            </div>
        </div>
    </div>
</div>
