
  <!-- <a ng-href="{{current_presenter_class_url}}" class="btn btn-info" role="button">Join Current Session NOW</a> </center>

</center> -->



<!-- <br> -->

<div class="container">
  <div class="btn-group " role="group" aria-label="...">

    <!-- <button type="button" class="btn btn-default btn-lg">{{'ONE_CATEGORY.BE_MENTOR' | translate}}</button> -->

    <mentor ng-if="is_mentor != 1 && is_talent != 1 ">
        <a href="#!/category/{{cat_id}}/bementor" type="button" class="btn btn-default btn-lg">{{'ONE_CATEGORY.BE_MENTOR' | translate}}</a>
    </mentor>
    <mentor ng-if="is_mentor == 1">
        <a class="btn btn-default btn-lg" role="button" ng-click="unmentor()">{{'ONE_CATEGORY.BE_UN_MENTOR' | translate}}</a>
    </mentor>

    <talent ng-if="is_talent != 1 && is_mentor != 1">
        <a href="#!/category/{{cat_id}}/betalent" type="button" class="btn btn-default btn-lg">{{'ONE_CATEGORY.BE_TALENT' | translate}}</a>
    </talent>
    <talent ng-if="is_talent == 1">
        <a class="btn btn-default btn-lg" role="button" ng-click="untalent()">{{'ONE_CATEGORY.BE_UN_TALENT' | translate}}</a>
    </talent>

    <subscribe ng-if="is_subscribed != 1">
      <button type="button" class="btn btn-default btn-lg " ng-click="subscribe()">{{'ONE_CATEGORY.SUBSCRIBE' | translate}}</button>
    </subscribe>
    <subscribe ng-if="is_subscribed == 1">
      <button type="button" class="btn btn-default btn-lg " ng-click="unsubscribe()">{{'ONE_CATEGORY.UN_SUBSCRIBE' | translate}}</button>
    </subscribe>

  </div>
</div>

<div id="topposts">
  <div class="container">
    <div class="title">
      <!--                        <span class="bground"><img src="Imgs/bground2.png" class="img-responsive"></span>-->
      <h1 class="h1" >{{'TOP_POSTS' | translate}}</h1>
    </div>

    <h1 ng-if="category_posts_exists == 0"  style="text-align: center; color:red;">Sorry No Current approved posts exists</h1>

    <!-- data-aos="fade-up" data-aos-duration="2000"  -->
    <div class="row mainrow">
      <div class="col-lg-4 col-md-4 col-sm-12 postSection" data-aos="fade-up" data-aos-duration="2000" ng-repeat="post in categoryPosts | limitTo:3 track by $index">
        <div class="thumbnail" data-toggle="modal" data-target="#po{{post.id}}">
          <!-- defaultimg-->

          <div class="row defaultimg">

         <div ng-if="post.media_type == 'image'">

            <img class="img-responsive" src="http://localhost:8000/{{post.media_url}}" alt="">
          </div>

          <div ng-if="post.media_type == 'video' ">

           <video  style="height: 242px;" controls  preload="auto">

          <source src="http://localhost:8000/{{post.media_url}}"  />
       </video>

          </div>
            <div ng-if="post.media_type == 'audio'">
              <img src="http://localhost:8000/uploads/events/2.jpg" alt="">
                <p style="font-size:15px">{{post.title}}</p>
          <audio controls style="width: 348px;">

<source src="http://localhost:8000/{{post.media_url}}" >

</audio>
<div class="caption row">
<p>{{post.description}}</p>
<p>{{post.created_at}}</p>
</div>
</div>
          </div>
          <!-- end defaultimg-->
          <!-- caption-->
            <div ng-if="post.media_type == 'video'||post.media_type == 'image'">
          <div class="caption row">
            <p>{{post.title}}</p>
            <p>{{post.description}}</p>
            <p>{{post.created_at}}</p>
          </div>
</div>
          <!-- user-->


          <!--                               userinfo-->
          <div class="row userinfo">
            <img src="http://localhost:8000/{{post.user_image}}" alt="">
            <p>{{post.first_name}} {{post.last_name}}</p>
          </div>
          <!--                              end userinfo-->
          <!--small row  like comment share-->
          <div class="interaction row">

            <!--comment like -->

            <!--comment-->
            <div class="">
              <a href="">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span class="badge">{{post.like_count}}</span>
              </a>

              <!--like-->
              <a href="">
                <i class="fa fa-commenting" aria-hidden="true"></i>
                <span class="badge">  </span>
              </a>

              <!--share -->

              <div id="socialHolder">
                <div id="socialShare" class="btn-group share-group">
                  <a data-toggle="dropdown" class="btn btn-info">
                    <i class="fa fa-share-alt fa-inverse"></i>
                  </a>
                  <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                                <span class="caret"></span>
                                            </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-original-title="Twitter" rel="tooltip" href="#" class="btn btn-twitter" data-placement="left">
                          <i class="fa fa-share" ng-click="sharepost(post.id)" ng-controller="post"></i>
                      </a>
                    </li>
                    <li>
                      <a data-original-title="Facebook" rel="tooltip" href="#" class="btn btn-facebook" data-placement="left">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a data-original-title="Google+" rel="tooltip" href="#" class="btn btn-google" data-placement="left">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li>
                    <li>
                      <a data-original-title="LinkedIn" rel="tooltip" href="#" class="btn btn-linkedin" data-placement="left">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>

                    <li>
                      <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                        <i class="fa fa-envelope"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>



            </div>
            <!--end comment like share -->

          </div>
          <!--end small row -->

        </div>
        <!--end thumbnail-->

        <!-- MODAAAAAAAAAAAAAAL -->
        <div class="modal fade" id="po{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                <h4 class="modal-title" id="myModalLabel">
                                                            <div class="row popUserInfo">
                                                                <img src="http://localhost:8000/{{post.user_image}}" alt="">
                                                                <p>{{post.first_name}} {{post.last_name}}</p>
                                                            </div>
                                                        </h4>
              </div>
              <div class="modal-body">
                <div class="col-lg-4 col-md-4 col-sm-12 popPostSection">
                  <div class="thumbnail">
                    <!-- defaultimg-->
                    <div class="row  popdefaultimg">

                      <div ng-if="post.media_type == 'image'">

                         <img src="http://localhost:8000/{{post.media_url}}" alt="">
                       </div>

                       <div ng-if="post.media_type == 'video' ">

                        <video controls  preload="auto" style="height: 242px;">

                       <source src="http://localhost:8000/{{post.media_url}}"  />
                    </video>

                       </div>
                         <div ng-if="post.media_type == 'audio'">
                       <audio controls>

                   <source src="http://localhost:8000/{{post.media_url}}" />

                   </audio>
                   </div>

                    </div>
                    <!-- end defaultimg-->
                    <!-- caption-->
                    <div class="popCaption row">
                      <p>{{post.description}}</p>
                    </div>

                    <!-- user-->
                    <div class="popUser">

                      <!--                               userinfo-->

                      <!--                              end userinfo-->
                      <!--small row  like comment share-->
                      <div class="popInteraction row ">

                        <!--comment like -->

                        <!--comment-->
                        <div class="">
                          <a>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <span class="badge">{{post.like_count}}</span>
                          </a>

                          <!--like-->
                          <a>
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                            <span class="badge">  </span>
                          </a>

                          <!--share -->
                          <div id="socialHolder">
                            <div id="socialShare" class="btn-group share-group">
                              <a data-toggle="dropdown" class="btn btn-info">
                                <i class="fa fa-share-alt fa-inverse"></i>
                              </a>
                              <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                                                                        <span class="caret"></span>
                                                                                    </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <a data-original-title="Twitter" rel="tooltip" href="#" class="btn btn-twitter" data-placement="left">
                                      <i class="fa fa-share" ng-click="sharepost(post.id)" ng-controller="post"></i>
                                  </a>
                                </li>
                                <li>
                                  <a data-original-title="Facebook" rel="tooltip" href="#" class="btn btn-facebook" data-placement="left">
                                    <i class="fa fa-facebook"></i>
                                  </a>
                                </li>
                                <li>
                                  <a data-original-title="Google+" rel="tooltip" href="#" class="btn btn-google" data-placement="left">
                                    <i class="fa fa-google-plus"></i>
                                  </a>
                                </li>
                                <li>
                                  <a data-original-title="LinkedIn" rel="tooltip" href="#" class="btn btn-linkedin" data-placement="left">
                                    <i class="fa fa-linkedin"></i>
                                  </a>
                                </li>

                                <li>
                                  <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                                    <i class="fa fa-envelope"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>


                        </div>
                        <!--end comment like share -->

                      </div>
                      <!--end small row -->
                    </div>
                    <!-- end user-->

                    <div class="popUsersComments">
                      <div class="writePost">
                          <form ng-submit="add_comment($index)" name="comment_form_{{$index}}">
                          <textarea class="form-control" name="comments_{{$index}}"  ng-model="post.comment" rows="3"></textarea>
                          <div class="posting">
                              <button type="submit" class="btn btn-default" name="button_{{$index}}">Comment</button>
                          </div>
                          </form>

                      </div>

                      <ul class="media-list">
                        <li class="media">
                            <div ng-repeat="comment in comments track by $index">
                                <span ng-if="post.id == comment.post_id">
                            <!-- <li class="media"> -->
                                <div class="media-left" >
                                    <a href="#">
                                        <img class="media-object" src="http://localhost:8000/{{comment.user_image}}">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{comment.first_name}}</h4>
                                    <p>{{comment.comment}}</p>


                                </div>

                            <!-- </li> -->
                        </span>

                    </div>

                        </li>

                      </ul>
                    </div>
                  </div>
                  <!--end thumbnail-->
                </div>
                <!--end postSection-->

              </div>
              <!--end modalbody-->
            </div>
            <!--end modalcontent-->
          </div>
          <!--end modaldialog-->
        </div>
        <!--end my modal id-->

        <!-- END OF MODAAAAAAAAAAAAAAAAAL -->
      </div>
      <!--end postSection-->
    </div>
    <div class="btnsOn">
      <a href="#!/category/{{cat_id}}/posts" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> See More</a>
      <mentor ng-if="is_mentor == 1 || is_talent == 1">
          <a href="#!/category/{{cat_id}}/addpost" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i> Create New</a>
      </mentor>
      <mentor ng-if="is_mentor != 1 && is_talent != 1">
          <button class="btn btn-default disabled" title="You have to be Mentor Or Talent in this category to add post" ><i class="fa fa-pencil" aria-hidden="true"></i> Create New</button>
      </mentor>
    </div>
  </div>
</div>


<!-- data-aos="zoom-in-down" data-aos-duration="2000" -->
<div id="topEvents">
  <div class="container">
    <div class="title">
      <!--                        <span class="bground"><img src="Imgs/bground2.png" class="img-responsive"></span>-->
      <h1 class="h1">{{'TOP_EVENTS' | translate}}</h1>
    </div>

    <h1 ng-if="category_events_exists != 1"  style="text-align: center; color:red;">Sorry No Current approved events exists</h1>


    <div class="evMainRow row">
      <div class="eventSection col-sm-12 col-md-4 " data-aos="zoom-in-down" data-aos-duration="2000" ng-repeat=" event in categoryEvents| limitTo:3">
        <div class="thumbnail" data-toggle="modal" data-target="#ev{{event.id}}">
          <div class="row evDefaultImg">
            <!--<h2>{{event.media_url}}</h2>-->
            <div ng-if="event.media_type == 'image'">
            <img src="http://localhost:8000/{{event.media_url}}" alt="">
            </div>
            <div ng-if="event.media_type == 'video' ">

             <video   controls  preload="auto" style="height: 242px;">

            <source src="http://localhost:8000/{{event.media_url}}"  />
         </video>

            </div>
              <div ng-if="event.media_type == 'audio'">
            <audio controls>

         <source src="http://localhost:8000/{{event.media_url}}" />

         </audio>
         </div>














          </div>
          <!--    top event default image-->

          <div class="row evTitle">
            <div class="col-lg-10 col-md-10 col-sm-8">
              <h3>{{event.title}}</h3>
            </div>


            <!--share -->

            <div id="socialHolder" class="col-lg-2 col-md-2 col-sm-4">
              <div id="socialShare" class="btn-group share-group">
                <a data-toggle="dropdown" class="btn btn-info">
                  <i class="fa fa-share-alt fa-inverse"></i>
                </a>
                <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                    <span class="caret"></span>
                                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a data-original-title="Twitter" rel="tooltip" href="#" class="btn btn-twitter" data-placement="left">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a data-original-title="Facebook" rel="tooltip" href="#" class="btn btn-facebook" data-placement="left">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a data-original-title="Google+" rel="tooltip" href="#" class="btn btn-google" data-placement="left">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li>
                    <a data-original-title="LinkedIn" rel="tooltip" href="#" class="btn btn-linkedin" data-placement="left">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>

                  <li>
                    <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                      <i class="fa fa-envelope"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--    top event title-->
          <div class="evCaption row">
            <p class="row">{{event.description}}</p>
          </div>
          <!--    top event caption-->

          <div class=" evDetails row">
            <div class="eventScd col-lg-6 col-md-12 col-sm-12">
              <span class="bigdate">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <p>{{event.date_from | date : 'd'}}</p>
                            </span>
              <span class="labels">
                                <span class="label first label-default"> {{event.date_from | date : 'MMM'}} - {{event.date_to | date : 'd-MMM'}}</span>
              <span class="label label-default">{{event.time_from| date : 'short'}} - {{event.time_to | date : 'hh:mm'}}</span>
              </span>
            </div>
            <!--    top event schdule-->
            <div class="eventScd col-lg-6 col-md-12 col-sm-12" id="secondp">
              <span class="bigdate" id="span1">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </span>
              <span class="labels" id="s">
                                {{event.location}}
                            </span>
            </div>
            <!--    top event schdule-->
          </div>
          <!--    top event detaila-->
          <!--
-->
          <div class=" going">
            <button type="button" class="btn btn-default">Going</button>
          </div>

        </div>
        <!--    top event thumbnail-->

        <!-- MODAAAAAAAAAAAAAAAAAAAAL -->
        <div class="modal fade" id="ev{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                <h4 class="modal-title" id="myModalLabel" class="col-lg-10 col-md-10 col-sm-8 ">
                                    <div class="row popUpEvTitle">
                                        <a href="#">
                                            <h3>{{event.title}}</h3>
                                        </a>
                                    </div>
                                </h4>
              </div>
              <div class="modal-body">
                <div class="thumbnail">
                  <div class="row evDefaultImg">


                    <div ng-if="event.media_type == 'image'">
                    <img src="http://localhost:8000/{{event.media_url}}" alt="">
                    </div>
                    <div ng-if="event.media_type == 'video' ">

                     <video   controls  preload="auto">

                    <source src="http://localhost:8000/{{event.media_url}}"  />
                  </video>

                    </div>
                      <div ng-if="event.media_type == 'audio'">
                    <audio controls>

                  <source src="http://localhost:8000/{{event.media_url}}" />

                  </audio>
                  </div>

                  </div>
                  <!--    top event default image-->



                  <!--                            </div>    top event title-->
                  <div class="evCaption row">
                    <p class="row">{{event.description}}</p>
                  </div>
                  <!--    top event caption-->

                  <div class="evDetails row">
                    <div class="eventScd col-lg-6 col-md-12 col-sm-12">
                      <span class="bigdate">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                <p>{{event.date_from | date : 'd'}}</p>

                                                <span class="label first label-default"> {{event.date_from | date : 'MMM'}} - {{event.date_to | date : 'd-MMM'}}</span>
                      <span class="label label-default">{{event.time_from| date : 'short'}} - {{event.time_to | date : 'hh:mm'}}</span>

                      </span>
                      <span class="labels">
                                                <span class="label first label-default">{{event.date_from | date : 'MMM'}} - {{event.date_to | date : 'd-MMM'}</span>
                      <span class="label label-default">{{event.time_from| date : 'short'}} - {{event.time_to | date : 'hh:mm'}}</span>
                      </span>
                    </div>
                    <!--    top event schdule-->
                    <div class="eventScd col-lg-6 col-md-12 col-sm-12" id="secondp">
                      <span class="bigdate" id="span1">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            </span>
                      <span class="labels" id="s">
                                                {{event.location}}
                                            </span>
                    </div>
                    <!--    top event schdule-->
                  </div>
                  <!--    top event detaila-->

                  <div class="row evTitle">
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                      <a class="userPic">
                        <span>Mintoring by : </span>
                        <img src="Imgs/Persons/face1.jpg" alt=""> {{event.first_name}} {{event.last_name}}
                      </a>

                      <!--    top event userPic-->

                    </div>

                    <!--share -->
                    <div class="going  col-lg-4 col-md-4 col-sm-12">
                      <button type="button" class=" btn btn-default">Going</button>
                    </div>

                    <div id="socialHolder" class="col-lg-2 col-md-2 col-sm-12">
                      <div id="socialShare" class="btn-group share-group">
                        <a data-toggle="dropdown" class="btn btn-info">
                          <i class="fa fa-share-alt fa-inverse"></i>
                        </a>
                        <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                                    <span class="caret"></span>
                                                </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a data-original-title="Twitter" rel="tooltip" href="#" class="btn btn-twitter" data-placement="left">
                              <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                          <li>
                            <a data-original-title="Facebook" rel="tooltip" href="#" class="btn btn-facebook" data-placement="left">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li>
                            <a data-original-title="Google+" rel="tooltip" href="#" class="btn btn-google" data-placement="left">
                              <i class="fa fa-google-plus"></i>
                            </a>
                          </li>
                          <li>
                            <a data-original-title="LinkedIn" rel="tooltip" href="#" class="btn btn-linkedin" data-placement="left">
                              <i class="fa fa-linkedin"></i>
                            </a>
                          </li>

                          <li>
                            <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                              <i class="fa fa-envelope"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="popUsersComments">
                    <div class="writePost">
                      <textarea class="form-control" rows="3"></textarea>
                      <div class="posting">
                        <button type="button" class="btn btn-default">Comment</button>
                      </div>

                    </div>
                    <ul class="media-list">
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="Imgs/Persons/face2.jpg">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Omar Mourad</h4>
                          <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                            ultricies vehicu</p>



                        </div>



                      </li>

                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="Imgs/Persons/face3.jpg">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Khaled Ali</h4>
                          <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                            ultricies vehicu</p>


                        </div>
                      </li>
                    </ul>
                  </div>

                </div>
                <!--    top event thumbnail-->

              </div>
            </div>
          </div>
        </div>
        <!-- END OF MODAAAAAAAAAAAAAAAAAAAAL -->
      </div>
      <!--    top event section-->
    </div>
    <div class="btnsOn">
      <a href="#!/category/{{cat_id}}/events" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> See More</a>
      <mentor ng-if="is_mentor == 1">
          <a href="#!/category/{{cat_id}}/createEvent" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i> Create New</a>
      </mentor>
      <mentor ng-if="is_mentor != 1">
          <button class="btn btn-default disabled" title="You have to be Mentor in this category to create an Event" ><i class="fa fa-pencil" aria-hidden="true"></i> Create New</button>
      </mentor>
    </div>
  </div>
</div>

<div id="topWorkshops">
  <div class="container">
    <div class="title">
      <!--                        <span class="bground"><img src="Imgs/bground2.png" class="img-responsive"></span>-->
      <h1 class="h1">{{'TOP_WORKSHOPS' | translate}}</h1>
    </div>

    <h1 ng-if="category_workshops_exists != 1"  style="text-align: center; color:red;">Sorry No Current approved workshops exists</h1>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4  workshopsSection" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" ng-repeat="workshop in categoryWorkshops | limitTo:3 track by $index">
        <div class="thumbnail" data-toggle="modal" data-target="#ws{{workshop.id}}">
          <!--                    <img src="http://placehold.it/350x250">-->


          <div ng-if="workshop.media_type == 'image'">
          <img src="http://localhost:8000/{{workshop.media_url}}" alt="">
          </div>
          <div ng-if="workshop.media_type == 'video' ">

           <video   controls  preload="auto" style="height: 242px;">

          <source src="http://localhost:8000/{{workshop.media_url}}"  />
        </video>

          </div>
            <div ng-if="workshop.media_type == 'audio'">
          <audio controls>

        <source src="http://localhost:8000/{{workshop.media_url}}" />

        </audio>
        </div>

          <h3 ng-click="isWorkshopCraetor(workshop.id);">{{workshop.name}}</h3>
          <div class="caption">
            <p>{{workshop.description}}</p>
          </div>


          <div class="row">
            <div class="workshopInfo">
              <div class="col-lg-4 col-md-12 col-sm-12">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span class="badge">level: {{workshop.level}}</span>
              </div>

              <div class="col-lg-4 col-md-12 col-sm-12">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span class="badge">{{workshop.max_capacity}} place left</span>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span class="badge">{{workshop.date_from | date : 'd-MMM'}} {{workshop.time_from}}</span>
              </div>
            </div>
          </div>
          <a class="userPic row">
            <span class="col-lg-6 col-md-4 col-sm-12 mintor">Mintoring by   <img src="http://localhost:8000/{{workshop.user_image}}"></span>
            <span class="col-lg-6 col-md-4 col-sm-12">{{workshop.first_name}} {{workshop.last_name}}</span>
          </a>

        </div>
        <!-- MODALLLLLLLLLLLLLLLLLLLLLL -->
        <div class="modal fade" id="ws{{workshop.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                <h4 class="modal-title" id="myModalLabel" class="col-lg-10 col-md-10 col-sm-8 ">
                                    <div class="row popWorkshopTitle">
                                        <a href="#">
                                            <h3>{{workshop.name}}</h3>
                                        </a>
                                    </div>
                                </h4>
              </div>
              <div class="modal-body">
                <div class="thumbnail">
                  <div class="row popWorkshopDefaultImg">

                    <div ng-if="workshop.media_type == 'image'">
                    <img src="http://localhost:8000/{{workshop.media_url}}" alt="">
                    </div>
                    <div ng-if="workshop.media_type == 'video' ">

                     <video   controls  preload="auto">

                    <source src="http://localhost:8000/{{workshop.media_url}}"  />
                  </video>

                    </div>
                      <div ng-if="workshop.media_type == 'audio'">
                    <audio controls>

                  <source src="http://localhost:8000/{{workshop.media_url}}" />

                  </audio>
                  </div>

                  </div>
                  <!--    top event default image-->



                  <!--                            </div>    top event title-->
                  <div class="popWorkshopCaption row">
                    <p class="row">{{workshop.description}}</p>
                  </div>
                  <!--    top event caption-->

                  <div class="row">
                    <div class="popWorkshopInfo">
                      <div class="col-lg-4 col-md-12 col-sm-12">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <span class="badge">level: {{workshop.level}}</span>
                      </div>

                      <div class="col-lg-4 col-md-12 col-sm-12">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="badge">{{workshop.max_capacity}} place left</span>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span class="badge">{{workshop.date_from | date : 'd-MMM'}} {{workshop.time_from}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="row popWorkshopTitle">
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                      <a class="userPic">
                        <span>Mintoring by : </span>
                        <img src="http://localhost:8000/{{workshop.user_image}}" alt=""> {{workshop.first_name}} {{workshop.last_name}}
                      </a>

                      <!--    top event userPic-->

                    </div>

                    <!--share -->
                    <div class="going  col-lg-4 col-md-4 col-sm-12">
                      <button type="button" class=" btn btn-default">Enroll Now</button>
                    </div>

                    <div id="socialHolder" class="col-lg-2 col-md-2 col-sm-12">
                      <div id="socialShare" class="btn-group share-group">
                        <a data-toggle="dropdown" class="btn btn-info">
                          <i class="fa fa-share-alt fa-inverse"></i>
                        </a>
                        <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                                    <span class="caret"></span>
                                                </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a data-original-title="Twitter" rel="tooltip" href="#" class="btn btn-twitter" data-placement="left">
                              <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                          <li>
                            <a data-original-title="Facebook" rel="tooltip" href="#" class="btn btn-facebook" data-placement="left">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li>
                            <a data-original-title="Google+" rel="tooltip" href="#" class="btn btn-google" data-placement="left">
                              <i class="fa fa-google-plus"></i>
                            </a>
                          </li>
                          <li>
                            <a data-original-title="LinkedIn" rel="tooltip" href="#" class="btn btn-linkedin" data-placement="left">
                              <i class="fa fa-linkedin"></i>
                            </a>
                          </li>

                          <li>
                            <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                              <i class="fa fa-envelope"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="popWorkshopUsersComments">
                    <div class="writePost">
                      <textarea class="form-control" rows="3"></textarea>
                      <div class="posting">
                        <button type="button" class="btn btn-default">Comment</button>
                      </div>

                    </div>
                    <ul class="media-list">
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="Imgs/Persons/face2.jpg">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Omar Mourad</h4>
                          <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                            ultricies vehicu</p>



                        </div>



                      </li>

                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="Imgs/Persons/face3.jpg">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Khaled Ali</h4>
                          <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                            ultricies vehicu</p>


                          <!--</div>-->
                          <!--</li>-->
                    </ul>
                    <!--<div ng-if="isCreator==1">-->
                    <div class="writePost">
                      <div class="posting">
                        <button type="button" class="btn btn-default" ng-click="editWorkshop(workshop.id,cat_id)">Edit</button>

                      </div>
                      </li>
                      </ul>
                    </div>

                    </div>
                    <!--    top event thumbnail-->

                  </div>
                </div>
              </div>
            </div>

            <!--END OF MODALLLLLLLLLLLLLLLLLLLLLL -->

          </div>
        </div>
        <div class="btnsOn">
          <a href="#!/category/{{cat_id}}/workshops" class="btn btn-default" role="button"><i class="fa fa-plus" aria-hidden="true"></i> See More</a>
          <mentor ng-if="is_mentor == 1">
              <a href="#!/category/{{cat_id}}/addworkshop" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i> Create New</a>
          </mentor>
          <mentor ng-if="is_mentor != 1">
              <button class="btn btn-default disabled" title="You have to be Mentor in this category to create a workshop" ><i class="fa fa-pencil" aria-hidden="true"></i> Create New</button>
          </mentor>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- ######################################################################## -->
<!-- COMPETITIONS -->

<div id="topEvents">
  <div class="container">
    <div class="title">
      <!--                        <span class="bground"><img src="Imgs/bground2.png" class="img-responsive"></span>-->
      <h1 class="h1">{{'TOP_COMPETITIONS' | translate}}</h1>
    </div>
    <div class="evMainRow row">
      <div class="eventSection col-sm-12 col-md-4 " data-aos="zoom-in-down" data-aos-duration="2000" ng-repeat=" competition in categoryCompetitions| limitTo:3">
        <div class="thumbnail" data-toggle="modal" data-target="#co{{competition.id}}">
          <div class="row evDefaultImg">
            <img src="http://localhost:8000/{{competition.image}}" alt="">
          </div>
          <!--    top event default image-->

          <div class="row evTitle">
            <div class="col-lg-10 col-md-10 col-sm-8">
              <h3>{{competition.title}}</h3>
            </div>


            <!--share -->

            <div id="socialHolder" class="col-lg-2 col-md-2 col-sm-4">
              <div id="socialShare" class="btn-group share-group">
                <a data-toggle="dropdown" class="btn btn-info">
                  <i class="fa fa-share-alt fa-inverse"></i>
                </a>
                <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                    <span class="caret"></span>
                                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a data-original-title="Twitter" rel="tooltip" href="#" class="btn btn-twitter" data-placement="left">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a data-original-title="Facebook" rel="tooltip" href="#" class="btn btn-facebook" data-placement="left">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a data-original-title="Google+" rel="tooltip" href="#" class="btn btn-google" data-placement="left">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li>
                    <a data-original-title="LinkedIn" rel="tooltip" href="#" class="btn btn-linkedin" data-placement="left">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>

                  <li>
                    <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                      <i class="fa fa-envelope"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--    top event title-->
          <div class="evCaption row">
            <p class="row">{{competition.description}}</p>
          </div>
          <!--    top event caption-->

          <div class=" evDetails row">
            <div class="eventScd col-lg-6 col-md-12 col-sm-12">
              <span class="bigdate">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <p>{{competition.date_from | date : 'd'}}</p>
                            </span>
              <span class="labels">
                                <span class="label first label-default"> {{competition.date_from | date : 'MMM'}} - {{competition.date_to | date : 'd-MMM'}}</span>
              <span class="label label-default">{{competition.time_from| date : 'short'}} - {{competition.time_to | date : 'hh:mm'}}</span>
              </span>
            </div>
            <!--    top event schdule-->
            <div class="eventScd col-lg-6 col-md-12 col-sm-12" id="secondp">
              <span class="bigdate" id="span1">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </span>
              <span class="labels" id="s">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                from level: {{competition.level}}
                            </span>
              <span class="labels" id="s">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                to level: {{competition.level}}
                            </span>
            </div>
            <!--    top event schdule-->
          </div>
          <!--    top event detaila-->
          <!--
-->
          <div class=" going">
            <a href="#!/category/{{cat_id}}/competitions/{{competition.id}}" class="btn btn-default">Challenge</a>
          </div>

        </div>
        <!--    top event thumbnail-->

      </div>
      <!--    top event section-->
    </div>
    <div class="btnsOn">
      <a href="#!/category/{{cat_id}}/competitions" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> See More</a>
      <mentor ng-if="is_mentor == 1">
          <a href="#!/category/{{cat_id}}/createcompetition" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i> Create New</a>
      </mentor>
      <mentor ng-if="is_mentor != 1">
          <button class="btn btn-default disabled" title="You have to be Mentor in this category to create a competition" ><i class="fa fa-pencil" aria-hidden="true"></i> Create New</button>
      </mentor>
    </div>
  </div>
</div>
