
<div class="container">
    <div class="row">
        <!-- Side Bar -->
        <div class="topPosts col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-12">
            <a href="#!/category/{{category_id}}/addpost" class="btn btn-lg">
                <i class="fa fa-paper-plane" aria-hidden="true"></i> New Event
            </a>
                <h2>Top Events</h2>

                <div class="top1 col-lg-10 col-md-10 col-sm-12">
                    <img src="Imgs/Website/3.jpg" alt="">
                    <div>
                        <img src="Imgs/Persons/face5.jpg" alt="">
                        <span>Adel Mohsen</span>
                        <a>Lorem Ipsum is simply dummy </a>
                    </div>
                </div>


                <div class="top1 col-lg-10 col-md-10 col-sm-12">
                    <img src="Imgs/Website/4.jpg" alt="">
                    <div>
                        <img src="Imgs/Persons/face4.jpg" alt="">
                        <span>George Rafaat</span>
                        <a>Lorem Ipsum</a>
                    </div>
                </div>
        </div>
        <!-- END OF Side Bar -->
        <div class="showPosts col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4 col-xm-12" ng-repeat="post in categoryEvents">



<!-- IF IMAGE -->
            <IMAGE ng-if="post.media_type == 'image'">

                <div class="recentPosts imageArticle">
                    <div class="userInfos">
                        <img src="http://localhost:8000/{{user.image}}" alt="">
                        <span>{{user.first_name}} {{user.last_name}}</span>
                        <span>{{post.created_at}}</span>
                    </div>

                    <div class="conatinerComment">

                        <div class="largePic">
                            <img src="http://localhost:8000/{{post.media_url}}" alt="">
                        </div>

                        <div class="titleEdit row">
                            <div class="col-lg-8 title">
                                <h3>{{post.title}}</h3>
                                <input type="hidden" ng-model=post.post_id value="{{post.id}}"></input>
                            </div>

                            <div class="col-lg-4 edits ">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </div>

                        </div>

                        <div class="disc">
                            <p>{{post.description}}</p>
                        </div>

                        <div class="interactionUser">
                            <a>
                                <i class="fa fa-heart" aria-hidden="true" ></i>
                                <span class="badge">8</span>
                            </a>

                            <a>
                                <i class="fa fa-commenting" aria-hidden="true"></i>
                                <span class="badge">6</span>
                            </a>


                            <!--share -->
                            <div id="socialHolder">
                                <div id="socialShare" class="btn-group share-group">
                                    <a data-toggle="dropdown" class="btn btn-info">
                                        <i class="fa fa-share-alt fa-inverse"></i>
                                    </a>
                                    <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-original-title="Twitter" rel="tooltip"  href="#" class="btn btn-twitter" data-placement="left">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-original-title="Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-original-title="Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-original-title="LinkedIn" rel="tooltip"  href="#" class="btn btn-linkedin" data-placement="left">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a  data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                        <div class="UserComments">
                            <div class="writePost">
                                <textarea class="form-control" rows="3"></textarea>
                                <div class="posting">
                                    <button type="button" class="btn btn-default">Comment</button>
                                </div>

                            </div>

                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="Imgs/Persons/face2.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Omar Mourad</h4>
                                        <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicu</p>



                                    </div>



                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="Imgs/Persons/face3.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Khaled Ali</h4>
                                        <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicu</p>


                                    </div>
                                </li>

                            </ul>



                        </div>

                        <div class="seeComments">
                            <span> <i class="fa fa-plus" aria-hidden="true"></i>MORE COMMENTS</span>
                        </div>

                    </div>

                </div>
            </IMAGE>
            <hr>
<!-- IF VEDIO -->
<VEDIO ng-if="post.media_type == 'vedio'">

            <div class="recentPosts videoArticle">
                <div class="userInfos">
                    <img src="http://localhost:8000/{{user.image}}" alt="">
                    <span>{{user.first_name}} {{user.last_name}}</span>
                    <span>{{post.created_at}}</span>
                </div>

                <div class="conatinerComment">

                    <div class="largePic">
                        <video controls><source src="http://localhost:8000/{{post.media_url}}"></video>
                    </div>

                    <div class="titleEdit row">
                        <div class="col-lg-8 title">
                            <h3>{{post.title}}</h3>
                        </div>

                        <div class="col-lg-4 edits ">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div class="disc">
                        <p>{{post.description}}</p>
                    </div>

                    <div class="interactionUser">
                        <a>
                            <i class="fa fa-heart" aria-hidden="true" ></i>
                            <span class="badge">20</span>
                        </a>

                        <a>
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                            <span class="badge">87</span>
                        </a>


                        <!--share -->
                        <div id="socialHolder">
                            <div id="socialShare" class="btn-group share-group">
                                <a data-toggle="dropdown" class="btn btn-info">
                                    <i class="fa fa-share-alt fa-inverse"></i>
                                </a>
                                <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-original-title="Twitter" rel="tooltip"  href="#" class="btn btn-twitter" data-placement="left">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="LinkedIn" rel="tooltip"  href="#" class="btn btn-linkedin" data-placement="left">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a  data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>

                    <div class="UserComments">
                        <div class="writePost">
                            <textarea class="form-control" rows="3"></textarea>
                            <div class="posting">
                                <button type="button" class="btn btn-default">Comment</button>
                            </div>

                        </div>

                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="Imgs/Persons/face2.jpg">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Omar Mourad</h4>
                                    <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicu</p>



                                </div>



                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="Imgs/Persons/face3.jpg">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Khaled Ali</h4>
                                    <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicu</p>


                                </div>
                            </li>

                        </ul>



                    </div>

                    <div class="seeComments">
                        <span> <i class="fa fa-plus" aria-hidden="true"></i>MORE COMMENTS</span>
                    </div>

                </div>

            </div>
</VEDIO>
            <hr>


<!-- IF AUDIO -->
    <audio ng-if="post.media_type == 'audio'">

            <div class="recentPosts imgArticleAudio">
                <div class="userInfos">
                    <img src="http://localhost:8000/{{user.image}}" alt="">
                    <span>{{user.first_name}} {{user.last_name}}</span>
                    <span>{{post.created_at}}</span>
                </div>

                <div class="conatinerComment">

                    <div class="largePic">
                        <img src="Imgs/Website/5536c78cccd436f31c8c66732cee72d2.jpg" alt="">
                    </div>

                    <div class="titleEdit row">
                        <div class="col-lg-8 title">
                            <h3>{{post.title}}</h3>
                        </div>

                        <div class="col-lg-4 edits ">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div class="disc">

                        <audio controls> <source src="http://localhost:8000/{{post.media_url}}"></audio>
                            <p>{{post.description}}</p>
                    </div>

                    <div class="interactionUser">
                        <a>
                            <i class="fa fa-heart" aria-hidden="true" ></i>
                            <span class="badge">20</span>
                        </a>

                        <a>
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                            <span class="badge">87</span>
                        </a>


                        <!--share -->
                        <div id="socialHolder">
                            <div id="socialShare" class="btn-group share-group">
                                <a data-toggle="dropdown" class="btn btn-info">
                                    <i class="fa fa-share-alt fa-inverse"></i>
                                </a>
                                <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-original-title="Twitter" rel="tooltip"  href="#" class="btn btn-twitter" data-placement="left">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="LinkedIn" rel="tooltip"  href="#" class="btn btn-linkedin" data-placement="left">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a  data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>

                    <div class="UserComments">
                        <div class="writePost">
                            <textarea class="form-control" rows="3"></textarea>
                            <div class="posting">
                                <button type="button" class="btn btn-default">Comment</button>
                            </div>

                        </div>

                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="Imgs/Persons/face2.jpg">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Omar Mourad</h4>
                                    <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicu</p>



                                </div>



                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="Imgs/Persons/face3.jpg">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Khaled Ali</h4>
                                    <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicu</p>


                                </div>
                            </li>

                        </ul>



                    </div>

                    <div class="seeComments">
                        <span> <i class="fa fa-plus" aria-hidden="true"></i>MORE COMMENTS</span>
                    </div>

                </div>

            </div>
</audio>
        </div>

    </div>
</div>
