<!--<<<<<<< HEAD-->
<!--<div id="allpostspage">-->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--&lt;!&ndash; Side Bar &ndash;&gt;-->
    <!--<div class="topPosts col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-12">-->
        <!--<mentor ng-if="is_mentor == 1 || is_talent == 1">-->
            <!--<a href="#!/category/{{cat_id}}/addpost" class="btn btn-lg">-->
                <!--<i class="fa fa-paper-plane" aria-hidden="true"></i> New Post-->
            <!--</a>-->
        <!--</mentor>-->
        <!--<mentor ng-if="is_mentor != 1 && is_talent != 1">-->
            <!--<button  class="btn btn-lg disabled" title="You have to be Mentor Or Talent in this category to add post">-->
                <!--<i class="fa fa-paper-plane "  aria-hidden="true"></i> New Post-->
            <!--</button>-->
        <!--</mentor>-->
      <!--<h2>Top Posts</h2>-->

      <!--<div class="top1 col-lg-10 col-md-10 col-sm-12">-->
        <!--<img src="Imgs/Website/3.jpg" alt="">-->
        <!--<div>-->
          <!--<img src="Imgs/Persons/face5.jpg" alt="">-->
          <!--<span>Adel Mohsen</span>-->
          <!--<a>Lorem Ipsum is simply dummy </a>-->
        <!--</div>-->
      <!--</div>-->


      <!--<div class="top1 col-lg-10 col-md-10 col-sm-12">-->
        <!--<img src="Imgs/Website/4.jpg" alt="">-->
        <!--<div>-->
          <!--<img src="Imgs/Persons/face4.jpg" alt="">-->
          <!--<span>George Rafaat</span>-->
          <!--<a>Lorem Ipsum</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; END OF Side Bar &ndash;&gt;-->
    <!--<div class="showPosts col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4 col-xm-12">-->


      <!--<div class="recentPosts imageArticle" ng-repeat="post in categoryPosts track by $index">-->






        <!--<h2>___&#45;&#45;&#45;&#45;&#45;&#45;_____-&#45;&#45;&#45;&#45;_____&#45;&#45;&#45;&#45;&#45;&#45;_____&#45;&#45;&#45;&#45;</h2>-->

        <!--<a href="#!/category/{{post.category_id}}/posts/{{post.id}}" class="btn btn-default" role="button">details</a>-->

        <!--<h2>___&#45;&#45;&#45;&#45;&#45;&#45;_____-&#45;&#45;&#45;&#45;_____&#45;&#45;&#45;&#45;&#45;&#45;_____&#45;&#45;&#45;&#45;</h2>-->



<!--=======-->
<!--&gt;>>>>>> 3c630c6c9bebf4cfd411c2783f052ba411e57f60-->

<div id="allpostspage">
            <div class="container">
              <div class="row">
                <!-- Side Bar -->
                <div class="topPosts col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-12">
                    <mentor ng-if="is_mentor == 1 || is_talent == 1">
                        <a href="#!/category/{{cat_id}}/addpost" class="btn btn-lg">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> New Post
                        </a>
                    </mentor>
                    <mentor ng-if="is_mentor != 1 && is_talent != 1">
                        <button  class="btn btn-lg disabled" title="You have to be Mentor Or Talent in this category to add post">
                            <i class="fa fa-paper-plane "  aria-hidden="true"></i> New Post
                        </button>
                    </mentor>
                     <div ng-if="status==1">
                  <h2>Top Posts</h2>

                  <div class="top1 col-lg-10 col-md-10 col-sm-12">
                    <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{categoryPosts[0].media_url}}" alt="">
                    <div>
                      <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{categoryPosts[0].user_image}}" alt="">
                      <span>{{categoryPosts[0].first_name}} {{categoryPosts[0].last_name}}</span>
                      <a>{{categoryPosts[0].title}} </a>
                    </div>
                  </div>
              </div>


                  <div class="top1 col-lg-10 col-md-10 col-sm-12">
                    <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{categoryPosts[1].media_url}}" alt="">
                    <div>
                      <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{categoryPosts[1].user_image}}" alt="">
                      <span>{{categoryPosts[1].first_name}} {{categoryPosts[1].last_name}}</span>
                      <a>{{categoryPosts[1].title}} </a>
                    </div>
                  </div>
                </div>
                <div class="showPosts col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4 col-xm-12">

                    <div class="recentPosts imageArticle"  ng-repeat="post in categoryPosts track by $index">

                        <div class="userInfos">
                          <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{post.user_image}}" alt="">
                          <span ng-if='post.user_id != cur_user.id'>
                                        <a href="#!/profile/{{post.user_id}}"><span>{{post.first_name}} {{post.last_name}}</span></a>
                          </span>
                          <span ng-if='post.user_id == cur_user.id'>
                                        <a href="#!/myprofile"><span>{{post.first_name}} {{post.last_name}}</span></a>
                          </span>
                          <span>{{post.created_at}}</span>
                        </div>


                        <div class="conatinerComment">
                            <div class="largePic">
                              <!-- IF IMAGE -->

                              <div ng-if="post.media_type == 'image'">
                                <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{post.media_url}}" alt="">
                              </div>
                              <!-- IF VEDIO -->
                              <div ng-if="post.media_type == 'video'">
                                <video controls><source src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{post.media_url}}"></video>
                              </div>
                              <!-- IF AUDIO -->
                              <div ng-if="post.media_type == 'audio'">
                                <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/uploads/photo.jpg" alt="">

                                <!-- <img src="imgs/Website/5536c78cccd436f31c8c66732cee72d2.jpg" alt=""> -->
                              </div>
                            </div>

                            <div class="titleEdit row">
                              <div class="col-lg-8 title">
                                <h3>{{post.title}}</h3>
                                <input type="hidden" ng-model=post.post_id value="{{post.id}}"></input>
                              </div>
                                <!--ng-click="editPost(post.id,post.category_id)"-->
                              <div class="col-lg-4 edits ">
                                <a href="#!/category/{{cat_id}}/posts/{{post.id}}/editpost">
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <i class="fa fa-trash" aria-hidden="true" ng-click="deletePost(post.id,post.category_id)"></i>
                              </div>

                            </div>

                            <div class="disc">
                              <div ng-if="post.media_type == 'audio'">

                                <audio controls> <source src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{post.media_url}}"></audio>

                              </div>
                              <p>{{post.description}}</p>
                            </div>

                            <div class="interactionUser">
                              <a>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <span class="badge">{{post.like_count}}</span>
                              </a>

                              <a>
                                <i class="fa fa-commenting" aria-hidden="true"></i>
                                <span class="badge"> </span>
                              </a>


                              <!--share -->
                              <div id="socialHolder">
                                <div id="socialShare" class="btn-group share-group">
                                  <a data-toggle="dropdown" class="btn btn-info">
                                    <i class="fa fa-share-alt fa-inverse"></i>
                                  </a>
                                  <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                                          <span class="caret"></span>
                                                      </button>

                                                      <ul class="dropdown-menu">
                                                          <li>
                                                              <a data-original-title="Twitter" rel="tooltip"  class="btn btn-twitter" data-placement="left">
                                                                  <i class="fa fa-share" ng-click="sharepost(post.id)" ng-controller="post"></i>
                                                              </a>
                                                          </li>
                                                          
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" class="collapse">
                                <div class="panel panel-default comments" >
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne_{{post.id}}" aria-expanded="true" aria-controls="collapseOne">
                                                Comments
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne_{{post.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">

                                            <div class="UserComments">
                                                <div class="writePost">
                                                    <form ng-submit="add_comment($index)" name="comment_form_{{$index}}">
                                                      <textarea class="form-control" name="comments_{{$index}}" ng-model="post.comment" rows="3"></textarea>
                                                      <div class="posting">
                                                        <button type="submit" class="btn btn-default" name="button_{{$index}}">Comment</button>
                                                      </div>
                                                    </form>

                                                </div>
                                            </div>

                                            <div class="seeComments">
                                                <span> <a class="fa fa-plus" aria-hidden="true" href="#!/category/{{post.category_id}}/posts/{{post.id}}">MORE COMMENTS</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default reviews">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo_{{post.id}}" aria-expanded="false" aria-controls="collapseTwo">
                                                Reviews
                                            </a>
                                        </h4>
                                    </div>


                                    <div id="collapseTwo_{{post.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <div class="UserReview">
                                                <div class="rating">
                                                </div>

                                                <div class="writePost">
                                                    <mentor ng-if="is_mentor == 1">

                                                    <form ng-submit="add_review($index)" name="review_form_{{$index}}">
                                                    <textarea class="form-control" rows="3"  name="comment_{{$index}}" rows="5" ng-model="post.rev.comment" required></textarea>
                                                    <div class="row">
                                                       <div class="col-lg-9 rating">
                                            <div class="title col-lg-2">Rate</div>
                                            <div class="range col-lg-10 " >

                                                <output id="range" class="output">0</output>
                                                <input type="range" name="level_{{$index}}" ng-model="post.rev.points" required min="0" max="10" class="input" value="0" onchange="range.value=value">
                                            </div>
                                                        </div>
                                                        <div class="posting  col-lg-2">
                                                            <button type="submit" class="btn btn-default" name="button_{{$index}}">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </mentor>

                                                </div>
                                                </div>

                                                <ul class="media-list" ng-repeat="review in allposts_mentorsreviews track by $index">
                                                    <li class="media" ng-if="post.id == review.post_id">
                                                        <div class="media-left">
                                                            <a href="#">
                                                                <img class="media-object" src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{review.image}}">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading col-lg-12">{{review.first_name}} {{review.last_name}}</h4>

                                                            <div class="col-lg-1 rating">
                                                                <div class="range " >
                                                                    <output id="range" class="output">{{review.points}}</output>
                                                                    <p  style="font-size:16px;"class="col-lg-12" >{{review.comment}}</p>

                                                                </div>
                                                            </div>
                                                            <!-- <p class="col-lg-12" >{{review.comment}}</p> -->

                                                        </div>

                                                    </li>

                                                </ul>


                                            </div>

                                            <div class="seeReview">
                                                <span> <i class="fa fa-plus" aria-hidden="true"></i>MORE REVIEWS</span>
                                            </div>
                                        </div><!--panel-body-->
                                    </div><!--panel-collapse-->
                                </div><!--2nd panel-->

                            </div><!--panel-group-->
                        </div><!--conatinerComment-->
                    </div><!--recentPosts-->

                    <hr>

                </div><!--showPosts-->
            </div><!--row-->
</div>
