 <!-- data-aos="flip-right" data-aos-duration="3000" -->
 <div id="categorieslistpage">
 <div class="container">
    <div class="row"  ng-if="category_exist == 1">

        <div class="col-lg-4 col-md-4 col-sm-12 categorySection" ng-repeat="category in categories">
            <div class="thumbnail">
                <div class="bgrounddefault" style="background:url({{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{category.image}});">
                </div>


                <!--<img ng-src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{category.image}}">-->
                <div class="caption">
                    <h3>{{category.title}}</h3>
                    <p>{{category.description}}</p>
                    <span class="btnAction"><a href="#!/category/{{category.id}}" class="btn btn-primary btnAction" role="button">{{'DESCOVER_MORE' | translate}}</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
 </div>