<div class="container">

  <div ng-repeat="workshop in categoryWorkshops">

<div class="thumbnail">
      <img src="{{workshop.media.media_url}}" class="img-circle" style="height:80px;" />
      <h4 style="color:Purple ">{{workshop.name}}</h4>
      <h4 style="color:Purple ">{{workshop.description}}</h4>
      <h4 style="color:Purple ">{{workshop.time_from}}</h4>
      <h4 style="color:Purple ">{{workshop.time_to}}</h4>
      <h4 style="color:Purple ">{{workshop.date_from}}</h4>
      <h4 style="color:Purple ">{{workshop.date_to}}</h4>
      <h4 style="color:Purple ">{{workshop.level}}</h4>
      <h4 style="color:Purple ">{{workshop.max_capacity}}</h4>

      <input type="hidden" ng-model=workshop.post_id value="{{workshop.id}}"></input>
    </div>
    <a href="#!/category/{{workshop.category_id}}/workshops/{{workshop.id}}" class="btn btn-default" role="button" >details</a>

  </div>
</div>
