
<div class="container">
    <div class="imageArticle singlePost col-md-8 col-md-offset-2" >
        <div class="userInfos">
            <img src="http://localhost:8000/{{category_post.user_image}}" alt="">
            <span>{{category_post.first_name}} {{category_post.last_name}}</span>
            <div class="compName row">
                <span class="text-left col-lg-8 ">{{competition.title}}</span>
                <div class="fb-share-button" data-href="http://talentoon.com/#!/category/{{category_post.category_id}}/posts/{{category_post.id}}" data-layout="button_count" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftalentoon.com%2F%23%21%2Fcategory%2F2%2Fcompetitions%2F1&amp;src=sdkpreparse">Share</a></div>
            </div>
        </div><!--userInfos-->

        <div class="conatinerComment">
            <div class="largePic">
                <div ng-if="type == 'image'">
                    <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{category_post.media_url}}" alt="">
                </div>
                <div ng-if="type == 'video'">
                    <video  width="320" height="240" controls  preload="auto">
                        <source src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{category_post.media_url}}"  />
                    </video>
                </div>
                <div ng-if="type == 'audio'">
                    <img src="default image" alt="">
                </div>

            </div><!--largePic-->

            <div class="titleEdit row">
                <div class="col-lg-8 title">
                    <h3>{{category_post.title}}</h3>
                </div>

                <div class="col-lg-4 edits ">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>

            </div><!--titleEdit-->

            <div class="disc">
                <div ng-if="type == 'audio'">
                    <audio controls>
                        <source src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{category_post.media_url}}" />
                    </audio>
                </div>
                <p>{{category_post.description}}</p>
            </div><!--disc-->

            <div class="interactionUser">
                <span ng-if="category_post.is_liked != 1">
                    <a ng-click="likepost(category_post.id)" ng-controller="post">
                        <i class="fa fa-heart-o" aria-hidden="true" ></i>
                        <span class="badge">{{category_post.like_count}}</span>
                    </a>
                </span>
                <span ng-if="category_post.is_liked == 1">
                    <a ng-click="dislikepost(category_post.id)" ng-controller="post">
                        <i class="fa fa-heart" aria-hidden="true" ></i>
                        <span class="badge">{{category_post.like_count}}</span>
                    </a>
                </span>

                <a>
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <span class="badge"> </span>
                </a>


                <!--share -->
                <div id="socialHolder">
                    <div id="socialShare" class="btn-group share-group">
                        <a data-toggle="dropdown" class="btn btn-info">
                            <i class="fa fa-share-alt fa-inverse"></i>
                        </a>
                        <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a data-original-title="Twitter" rel="tooltip"  href=" " class="btn btn-twitter" data-placement="left">
                                    <i class="fa fa-share" ng-click="sharepost(category_post.id)" ng-controller="post"></i>

                                </a>
                            </li>
                            <li>
                                <a data-original-title="Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-original-title="Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a data-original-title="LinkedIn" rel="tooltip"  href="#" class="btn btn-linkedin" data-placement="left">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>

                            <li>
                                <a  data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div><!--interactionUser-->

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" class="collapse">
                <div class="panel panel-default comments" >
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Comments
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">

                            <div class="UserComments">
                                <div class="writePost">
                                    <form ng-submit="submitted=true ; newcomment(addcomment.$valid)" name="addcomment"  novalidate>
                                    <textarea class="form-control"name="comment"  ng-model="comment.comment" rows="3"></textarea>

                                    <div class="posting">
                                        <button type="submit" class="btn btn-default">Comment</button>
                                    </div>
                                </form>
                                </div>

                                <ul class="media-list" ng-repeat="comment in comments">
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="">
                                                <img class="media-object" ng-src="http://localhost:8000/{{comment.image}}">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{comment.first_name}} {{comment.last_name}}</h4>
                                            <p>{{comment.comment}}</p>



                                        </div>



                                    </li>

                                    <!-- <li class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="Imgs/Persons/face3.jpg">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Khaled Ali</h4>
                                            <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicu</p>


                                        </div>
                                    </li> -->

                                </ul>

                            </div>

                            <div class="seeComments">
                                <span> <i class="fa fa-plus" aria-hidden="true"></i>MORE COMMENTS</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default reviews">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Reviews
                            </a>
                        </h4>
                    </div>


                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="UserReview">
                                <div class="rating">
                                </div>
                                <div class="writePost">
                                    <textarea class="form-control" rows="3"></textarea>
                                    <div class="row">
                                        <div class="col-lg-9 rating">
                                            <div class="title col-lg-2">Rate</div>
                                            <div class="range col-lg-10 " >

                                                <output id="range" class="output">0</output>
                                                <input type="range" name="range" min="0" max="10" class="input" value="0" onchange="range.value=value">
                                            </div>
                                        </div>

                                        <div class="posting  col-lg-2">
                                            <button type="button" class="btn btn-default">Submit</button>
                                        </div>
                                    </div>
                                </div>

                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="Imgs/Persons/face2.jpg">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Omar Mourad</h4>
                                            <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicu</p>



                                        </div>



                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="Imgs/Persons/face3.jpg">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Khaled Ali</h4>
                                            <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicu</p>


                                        </div>
                                    </li>

                                </ul>

                            </div>

                            <div class="seeReview">
                                <span> <i class="fa fa-plus" aria-hidden="true"></i>MORE REVIEWS</span>
                            </div>
                        </div><!--panel-body-->
                    </div><!--panel-collapse-->
                </div><!--2nd panel-->

            </div><!--panel-group-->
        </div><!--conatinerComment-->
    </div><!--recentPosts-->


</div><!--container-->
