
<div class="container">

  <div ng-repeat="post in categoryAllPosts">


<div class="thumbnail">
      <img src="http://localhost:8000/{{post.media_url}}" class="img-circle" style="height:80px;" />
      <h4 style="color:Purple ">{{post.title}}</h4>
      <h4 style="color:Purple ">{{post.description}}</h4>
      <h4 style="color:Purple ">{{post.created_at}}</h4>
      <input type="hidden" ng-model=post.post_id value="{{post.id}}"></input>
    </div>
    <a href="#!/category/{{post.category_id}}/posts/{{post.id}}" class="btn btn-default" role="button" >details</a>

  </div>
</div>
