<style>
    .container{
        font-size: 10px;
    }

    .save_button{
        /*position: relative;*/
        /*bottom: -108px;*/
    }
</style>


<div class="container" >

    <center>
        <h2 style="color:Purple">Create Event </h2>
        <h3 class="error" ng-if="event_created == false" >Something Wrong Happened</h3>
        <h3 class="error" ng-if="End_Start_Date_validation == false" >Event End Date Cannot Precede Start Date</h3>
        <h3 class="error" ng-if="Start_Today_Date_validation == false" >Event Start Must be After Today</h3>
    </center>


    <form ng-submit="submitted=true ; newevent(addevent.$valid)" name="addevent"  novalidate >

        <div class="field">
            <h4 style="color:Purple ">Title</h4>
            <input type="text" name="title" required ng-model="event.title" class="form-control">
            <p class="error" ng-if="addevent.title.$error.required && submitted" >This field is required</p>
        </div>

        <div class="field">
            <h4 style="color:Purple ">Time from</h4>
            <input type="time" name="time_from" required ng-model="event.time_from" class="form-control">
            <p class="error" ng-if="addevent.time_from.$error.required && submitted" >This field is required</p>
        </div>
        <div class="field">
            <h4 style="color:Purple ">Time to</h4>
            <input type="time" name="time_to" required ng-model="event.time_to" class="form-control">
            <p class="error" ng-if="addevent.time_to.$error.required && submitted" >This field is required</p>
        </div>

        <div class="field">
            <h4 style="color:Purple ">Date from</h4>
            <input type="date" name="date_from" required ng-model="event.date_from" class="form-control">
            <p class="error" ng-if="addevent.date_from.$error.required && submitted" >This field is required</p>
        </div>
        <div class="field">
            <h4 style="color:Purple ">Date to</h4>
            <input type="date" name="date_to" required ng-model="event.date_to" class="form-control">
            <p class="error" ng-if="addevent.date_to.$error.required && submitted" >This field is required</p>
        </div>
        <div class="field">
            <h4 style="color:Purple ">Location</h4>
            <input type="text" name="location" required ng-model="event.location" class="form-control">
            <p class="error" ng-if="addevent.location.$error.required && submitted" >This field is required</p>
        </div>
        <div class="field">
            <h4 style="color:Purple ">Description</h4>
            <input type="text" name="description" required ng-model="event.description" class="form-control">
            <p class="error" ng-if="addevent.description.$error.required && submitted" >This field is required</p>
        </div>

        <div class="field">
            <h4 style="color:Purple ">Is Premium Event (Paid)</h4>

            <input class="radiobtn" type="radio" name="paied" required ng-model="event.is_paid" value="1" checked>Premium

            <input   class="radiobtn" type="radio" name="paied" required ng-model="event.is_paid"  value="0" checked>Free


            <p class="error" ng-if="addevent.paied.$error.required && submitted" >This field is required</p>
        </div>


        <input type="hidden" name="category_id"  ng-model="event.category_id" class="form-control" value="{{cat_id}}">

        <br/>


        <button  type="submit" name="button" class="btn btn-default save_button">Save Event </button>

        <!-- <p type="submit" class="btnAction"><a class="btn btn-primary btnAction" role="button">Discover More</a></p> -->
    </form>




    <h4 style="color:Purple ">Event Image</h4>
    <!-- Form Start -->
    <form ng-submit="submit_event_file" name="form" role="form" enctype="multipart/form-data">
        <input name="event_file" ng-model="event.file" type="file" class="form-control input-lg"  onchange="angular.element(this).scope().uploadedFile(this)" style="width:400px" >
        <!--<input type="submit" id="submit_file" value="Submit" />-->
        <br/>
        <img ng-src="{{post.file}}" style="width:300px;">
    </form>
    <!-- Form End -->



</div>
<br>
<br>
