
<!-- <img  class="img-circle"src="Imgs/Persons/face1.jpg"/> -->
<img  class="img-circle"src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{userprofile.image}}" width="150px">

<h2> welcome <span style="color:Purple ">{{userprofile.first_name}}  {{userprofile.last_name}}</span></h2>
<h3> Your Points number Is .. >> {{user_points_from_mentors_reviews}}   <<  and your level is {{level}}</h3>
<h4>Your Reward image </h4>
<img  class="img-circle"src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{userprofile.reward_image}}" width="150px">

<!-- ##################################################### -->

<div id="profilepage">
<div class="container">
    <div class="row">
        <div class="firstCol col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="userImg">
                <div class="opacity">
                    <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{users.image}}">
                </div>
            </div>


            <div class="userName row">
                <span class="text-left col-lg-8 ">{{users.first_name}}  {{users.last_name}}</span>
                <span class="text-center col-lg-4"><i class="fa fa-trophy" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Vertified"></i><i class="fa fa-cog" aria-hidden="true"></i></span>
            </div>


            <div class="info row">
                <p class="col-lg-12">Talented</p>
                <p class="col-lg-12">country: {{user_country.name}}</p>
                <p class="col-lg-12">birth date: {{users.date_of_birth}}</p>
            </div>

            <ul class="socialLink list-unstyled list-inline">
                <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-google-plus-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
            </ul>

            <!--share -->

            <div id="socialHolder" class="share">
                <div id="socialShare" class="btn-group share-group">
                    <a data-toggle="dropdown" class="btn btn-info">
                        <button class="btn btn-default btn-share" type="submit">
                            <i class="fa fa-share-square-o" aria-hidden="true"></i>
                            Share Profile</button>                            </a>
                    <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-original-title="Twitter" rel="tooltip"   class="btn btn-twitter" data-placement="left">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a data-original-title="Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a data-original-title="Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a data-original-title="LinkedIn" rel="tooltip"  href="#" class="btn btn-linkedin" data-placement="left">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>

                        <li>
                            <a  data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>



        </div>
        <div class="thirdCol col-lg-3 col-lg-push-6 col-md-6 col-lg-push-12 col-sm-6 col-lg-push-12 col-xs-12">

            <div class="newPost">
                <a href="" class="btn btn-lg">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i> New Post
                </a>
            </div>

            <div class="numbers ">

                <div class="count">
                    <div class="col-lg-6 titl">FOLLOWERS</div>
                    <badge class="num col-lg-6 text-center">{{follower}}</badge>
                </div>

                <div class="count">
                    <div class="col-lg-6 titl">FOLLOWING</div>
                    <badge class="num col-lg-6 text-center">{{following}}</badge>
                </div>

                <div class="count">
                    <div class="col-lg-6 titl">SUBSCRIBE</div>
                    <badge class="num col-lg-6 text-center">3</badge>
                </div>

            </div>

            <div class="about">
                <span>ABOUT</span>
                <p>Lorem Ipsum is simply dummy text
                    of the printing and typesetting
                    industry. Lorem Ipsum has been the
                    industry's standard dummy text ever
                    since the </p>

            </div>

            <div class="typeof">
                <div><span>TALENTED ON</span></div>
                <div class="review">
                    <div class="categ  col-lg-6 ">Music</div>
                    <div class="col-lg-6 text-center reviewrate">
                        <i class="fa fa-star" aria-hidden="true"></i>5.5</div>
                </div>


                <div class="review">
                    <div class="categ col-lg-6 ">Dance</div>
                    <div class="col-lg-6 text-center reviewrate"><i class="fa fa-star" aria-hidden="true"></i>1.2</div>
                </div>
            </div>
        </div>
        <div class="secCol col-lg-6 col-lg-pull-3 col-md-12 col-lg-pull-6 col-sm-12 col-lg-pull-6 col-xs-12">
            <div class="showPosts" >
                <div class="recentPosts imageArticle" ng-repeat="userpost in allPosts  track by $index">
                    <div class="userInfos">
                        <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{userpost.image}}" alt="">
                        <span>{{userpost.first_name}}  {{userpost.last_name}}</span><br>
                        <span>{{userpost.formatted_created_at | date : 'dd/MM/yyyy @ h:mma' }}</span>
                    </div>

                    <div class="conatinerComment">

                        <div class="largePic">
                            <IMAGE ng-if="userpost.media_type == 'image'" >
                                <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{userpost.media_url}}" alt="">
                            </IMAGE>
                            <!-- IF VEDIO -->
                            <VIDEO ng-if="userpost.media_type == 'video'">
                                <video controls><source src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{userpost.media_url}}"></video>
                            </VIDEO>
                            <!-- IF AUDIO -->
                            <AUDIO ng-if="userpost.media_type == 'audio'">
                                <img src="Imgs/Website/5536c78cccd436f31c8c66732cee72d2.jpg" alt="">
                            </AUDIO>

                        </div>

                        <div class="titleEdit row">
                            <div class="col-lg-8 title">
                                <h3>{{userpost.title}}</h3>
                            </div>

                            <div class="col-lg-4 edits ">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </div>

                        </div>

                        <div class="disc">
                            <AUDIO ng-if="post.media_type == 'audio'">
                                <audio controls> <source src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{userpost.media_url}}"></audio>
                            </AUDIO>
                            <p>{{userpost.description}}</p>
                        </div>

                        <div class="interactionUser">
                            <a>
                                <i class="fa fa-heart" aria-hidden="true" ></i>
                                <span class="badge">{{userpost.like_count}}</span>
                            </a>

                            <a>
                                <i class="fa fa-commenting" aria-hidden="true"></i>
                                <span class="badge"> </span>
                            </a>


                            <!--share -->
                            <div id="socialHolder">
                                <div id="socialShare" class="btn-group share-group">
                                    <a data-toggle="dropdown" class="btn btn-info">
                                        <i class="fa fa-share-alt fa-inverse"></i>
                                    </a>
                                    <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-original-title="Twitter" rel="tooltip"  href="#" class="btn btn-twitter" data-placement="left">
                                                <i class="fa fa-share" ng-click="sharepost(userpost.id)" ng-controller="post"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-original-title="Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-original-title="Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-original-title="LinkedIn" rel="tooltip"  href="#" class="btn btn-linkedin" data-placement="left">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a  data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                        <div class="UserComments">
                            <div class="writePost">
                                <form ng-submit="add_comment($index)" name="comment_form_{{$index}}">
                                <textarea class="form-control" name="comments_{{$index}}"  ng-model="userpost.comment" rows="3"></textarea>
                                <div class="posting">
                                    <button type="submit" class="btn btn-default" name="button_{{$index}}">Comment</button>
                                </div>
                                </form>

                            </div>
<!--
                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="Imgs/Persons/face2.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Omar Mourad</h4>
                                        <p>{{userpost.rec_comment}}</p>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="Imgs/Persons/face3.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Khaled Ali</h4>
                                        <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicu</p>
                                    </div>
                                </li>
                            </ul> -->
                        </div>
                        <div class="seeComments">
                            <span> <a class="fa fa-plus" aria-hidden="true" href="#!/category/{{userpost.category_id}}/posts/{{userpost.id}}">MORE COMMENTS</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>