<div id="allpostspage">


<div class="container">

            <div class="row">

                <div class="topPosts col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-12">
                    <!-- <a href="" class="btn btn-lg">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> New Post
                    </a> -->
                        <h2>Top Posts</h2>

                        <div class="top1 col-lg-10 col-md-10 col-sm-12">
                            <div class="rightimg" style="background:url({{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{posts[0].media_url}});">
                            </div>
                            <!--<img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{posts[0].media_url}}" alt="">-->
                            <div>
                                <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{posts[0].image}}" alt="">
                                <span>{{posts[0].first_name}} {{posts[0].last_name}}</span>
                                <a>{{posts[0].title}} </a>
                            </div>
                        </div>
                        <div class="top1 col-lg-10 col-md-10 col-sm-12">
                            <div class="rightimg" style="background:url({{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{posts[1].media_url}});">
                            </div>
                            <!--<img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{posts[1].media_url}}" alt="">-->
                            <div>
                                <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{posts[1].image}}" alt="">
                                <span>{{posts[1].first_name}} {{posts[1].last_name}}</span>
                                <a>{{posts[1].title}} </a>
                            </div>
                    </div>
            </div>
            <div class="showPosts col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4 col-xm-12">

                <div ng-repeat="post in posts" class="recentPosts imageArticle">
                    <div class="userInfos">



                        <img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{post.image}}" alt="">
                        <span>{{post.first_name}} {{post.last_name}}</span>
                    </div>

                    <div class="conatinerComment">

                        <div class="largePic">

                            <!--<div class="bgroundthumbnail" style="background:url({{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{post.media_url}});">-->
                            <!--</div>-->

                            <div class="bgroundthumbnail" style="background:url(http://172.16.2.214:8000/uploads/events/1.jpg);">
                            </div>
                            <!--<div class="bgroundthumbnail" style="background:url({{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{post.media_url}});">-->
                            <!--</div>-->
                            <!--<img src="{{CONSTANSTS.baseURL}}:{{CONSTANSTS.port}}/{{post.media_url}}" alt="">-->
                        </div>

                        <div class="titleEdit row">
                            <div class="col-lg-8 title">
                                <h3>{{post.title}}</h3>
                            </div>

                            <div class="col-lg-4 edits ">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </div>

                        </div>

                        <div class="disc">
                            <p>{{post.description}}</p>
                        </div>

                        <div class="interactionUser">
                            <a>
                                <i class="fa fa-heart" aria-hidden="true" ></i>
                                <span class="badge">8</span>
                            </a>

                            <a>
                                <i class="fa fa-commenting" aria-hidden="true"></i>
                                <span class="badge">  </span>
                            </a>


                            <!--share -->
                            <div id="socialHolder">
                                <div id="socialShare" class="btn-group share-group">
                                    <a data-toggle="dropdown" class="btn btn-info">
                                        <i class="fa fa-share-alt fa-inverse"></i>
                                    </a>
                                    <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-original-title="Twitter" rel="tooltip"   class="btn btn-twitter" data-placement="left">
                                                <i class="fa fa-share" ng-click="sharepost(post.id)" ng-controller="post"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-original-title="Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-original-title="Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-original-title="LinkedIn" rel="tooltip"  href="#" class="btn btn-linkedin" data-placement="left">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a  data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                        <div class="UserComments">
                            <div class="writePost">
                                <form ng-submit="add_comment($index)" name="comment_form_{{$index}}">
                                <textarea class="form-control" name="comments_{{$index}}"  ng-model="post.comment" rows="3"></textarea>
                                <div class="posting">
                                    <button type="submit" class="btn btn-default" name="button_{{$index}}">Comment</button>
                                </div>
                                </form>

                            </div>

<!--
                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="Imgs/Persons/face2.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Omar Mourad</h4>
                                        <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicu</p>

                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="Imgs/Persons/face3.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Khaled Ali</h4>
                                        <p>non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicu</p>


                                    </div>
                                </li>

                            </ul> -->



                        </div>

                        <div class="seeComments">
                            <a  href="#!/category/{{post.category_id}}/posts/{{post.id}}">
                                <i class="fa fa-plus" aria-hidden="true"></i>MORE COMMENTS
                            </a>
                        </div>

                    </div>

                </div>

                <hr>

                </div>

            </div>

        </div>

</div>