<ul>
    <li>{{competition.title}}</li>
    <li>{{competition.description}}</li>
    <li>{{competition.image}}</li>
    <li>{{competition.points_description}}</li>
    <li>{{competition.date_from}}</li>
    <li>{{competition.date_to}}</li>
    <li>{{competition.time_from}}</li>
    <li>{{competition.time_to}}</li>
    <li>{{competition.level_from}}</li>
    <li>{{competition.level_to}}</li>
</ul>

<a href="#!/category/:category_id/competitions/competition_id/addpost"></a>

<div ng-repeat="post in posts">






    <a ng-click="deleteCompetitionPost({{post_id}})">delete</a>
</div>
